[2022-09-02 08:35] #38 closed

[2022-09-03 04:09] aseaday opened #843 "feat: inherit the runtime graph if the base image was built from envd"
## Description
we support the custome image now:

[code]

And if the image is a custom image built from envd such as

[code]

And the base image's envd files may had some runtime configurations as followings:
[code]
we should support inheritance so that the new container could has these features automatically.
It is related to https://github.com/tensorchord/envd/pull/815 and if it was approved by

[2022-09-04 08:24] zwpaper commented on #843
It seems great to me!

I have some  questions, maybe we can discuss or explain them in docs

1. https://github.com/tensorchord/envd/pull/815/files proposed `RuntimeCommands` is not saved, if this feature goes, maybe `RuntimeCommands` should also be saved?
2. should we add an option to disable(or enable) this inherit?
3. when inheriting, how would we overwrite if new components(RuntimeCommands, Env

[2022-09-04 09:10] VoVAllen commented on #843
Thanks for the proposal! Sounds good to me. Also do you have any specific scenarios for this? So that we can understand the pro/cons when implement it.

[2022-09-04 09:39] aseaday commented on #843
1.  It was becuase I misunderstood the meaning of `runtime.command`, I deleted it now.
2. I think we should had a option in `base` function to turn it on/off.
3.  It is the real question I cared about because I was also confused about that in fact all `runtime.xxx` functions had no overwrite feature. We can treat `base` inheritance as a function contains some `runtime` and how to overwrite is deci

[2022-09-04 10:05] aseaday commented on #843
A specific scenarios is as the follows:
User Alice is a team member who build a base image for the others especially new commers.  He hope the containers could do some followings things automatically:
- update training data to the latest version
- start the tensorboard and listen on a fixed port
Alice don't want the others users `include` which means it need to rebuild again. Alice want the `base`

[2022-09-04 15:08] VoVAllen commented on #843
I see what you mean. And I realized this can also be a way if users want explicit dependency control. Currently, `apt install` and `pip package install` happen in parallel, all on base images. If user want explicit dependency such as python depends on apt packages, your proposal can be a solution

[2022-09-05 06:39] kemingy opened #844 "refact: align the starlark interface"
## Description

1. the implementation of `install.system_packages` is apt-get, should we change to `install.apt_packages`? Also, we have `config.apt_source`, not `config.system_source`.
2. `runtime.expose(envd_port, host_port)`, `io.copy(src, dest)`, `io.mount(src, dest)`, should we align the term?
3. `config.pip_index(mode, url, extra_url)`, `config.apt_source(mode, source)`, if `mode` is not sup

[2022-09-05 08:14] gaocegege commented on #844
I totally agree.

Ref https://github.com/tensorchord/envd/issues/149

/cc @Xuanwo @VoVAllen

[2022-09-05 08:18] Xuanwo commented on #844
Agree.

Agree.

What does `mode` mean?

[2022-09-05 08:25] kemingy commented on #844
If `mode=auto`, envd will try to detect the location and choose the nearest mirror.

This hasn't been implemented yet.

[2022-09-05 08:30] kemingy commented on #844
The main concern is GPU support. So far as I know, only Ubuntu has good Nvidia support for deep learning.

[2022-09-06 00:52] Xuanwo commented on #844
I prefer to remove it.

[2022-09-06 00:55] gaocegege commented on #844
SGTM.

[2022-09-06 04:36] gaocegege opened #854 "bug(CLI): envd up --force does not work for GPU"
## Description

envd up --force does not work for GPU

## Reproduction

[code]

- envd up
- envd destroy
- envd up --force

envd still uses the image which is built previously.

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-09-06 04:36] gaocegege commented on #854
/cc @aseaday

[2022-09-06 07:40] aseaday commented on #854
I will fix it if nobody solve it within this week.

[2022-09-06 09:16] gaocegege commented on #854
I can help fix it.

/assign

[2022-09-06 09:53] gaocegege commented on #854
I found that it does not come from the flag. It is caused by the bad cache for GPU base image.

[2022-09-07 08:17] gaocegege commented on #193
I will work on this.

[2022-09-07 08:21] gaocegege commented on #193
Ref https://github.com/moby/buildkit/issues/971

[2022-09-07 13:39] kemingy commented on #91
The design of `state` in `bulidkit` looks suitable for method chaining.

*Pros*
* commands run in order
* users can control which parts are run in parallel

*Cons*
* need to refactor a lot, now we build a static graph instead of a DAG

[2022-09-08 01:11] gaocegege commented on #91
The interface will look like:

[code]

[2022-09-08 01:12] gaocegege commented on #836
After the test, I found that it is not caused by the flag. I am closing the issue.

[2022-09-08 01:12] #836 closed, assigned to aseaday

[2022-09-08 01:13] gaocegege commented on #836
Do we need open an new issue to keep track of it?

[2022-09-08 03:12] VoVAllen commented on #836
What do you mean not caused by flag? Does this bug still exist?

[2022-09-08 03:20] gaocegege commented on #836
It is caused by the base image. It does not exist.

[2022-09-08 06:05] #830 closed

[2022-09-08 06:05] #811 closed

[2022-09-08 13:25] VoVAllen commented on #833
Closed in #837

[2022-09-08 13:25] #833 closed

[2022-09-09 02:06] #854 closed

[2022-09-09 07:11] #8 closed

[2022-09-09 07:16] VoVAllen opened #860 "example: Torch C++ custom op example"
## Description

Use envd as development environment to develop a torch C++ custom ops

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-09-09 07:42] VoVAllen commented on #844
io.mount -> runtime.mount

[2022-09-09 07:59] VoVAllen commented on #860
https://pytorch.org/tutorials/advanced/torch_script_custom_ops.html

[2022-09-09 13:43] #844 closed

[2022-09-10 01:45] lunarwhite commented on #682
/assign

[2022-09-10 01:48] #193 closed

[2022-09-10 02:45] #826 closed

[2022-09-10 06:36] lunarwhite commented on #682
Hi @gaocegege, I notice that there is a package `envd-ssh-from-scratch` under `ghcr.io/tensorchord`. Shall we rename it to `envd-sshd-from-scratch`, Or just leave it as origin name?

[2022-09-10 08:02] gaocegege commented on #682
I think we should move to a new name envd-sshd-from-scratch since the image is not used by external users. We can update safely.

[2022-09-10 08:55] gaocegege commented on #682
I created the package here.

https://github.com/orgs/tensorchord/packages/container/package/envd-sshd-from-scratch

[2022-09-11 06:19] #682 closed

[2022-09-11 06:56] kemingy commented on #663
Requirements:
* apt install fish
* starship init fish
* fish config (conda init if it's required)

[2022-09-11 08:30] lunarwhite commented on #636
Hi @gaocegege, I'd like to help with this issue.

In [.github/workflows/CI.yml](https://github.com/tensorchord/envd/blob/main/.github/workflows/CI.yml), I found that there are four test coverage report files:

- `coverage.out`
- `e2e-cli-coverage.out`
- `e2e-doc-coverage.out`
- `e2e-lang-coverage.out`

As your designed, will we merge these files and put it into a new file like `*.out`?

BTW, I not

[2022-09-11 13:57] gaocegege commented on #636
Thanks for your interest!

Yep.

Yep I tried it before but it does not work as expected. The test coverage only includes the coverage.out, instead of the two files.

I think this issue may be not easy, thus please ask if there is any problem.

BTW, if you are interested in the envd code, please also have a look at this issue. https://github.com/tensorchord/envd/issues/663

It should be a good entr

[2022-09-11 14:26] gaocegege opened #870 "bug(base-iamge): e2e-cli and e2e-lang fails after the envd-ssh rename"
## Description

https://github.com/tensorchord/envd/runs/8292794140?check_suite_focus=true

/cc @lunarwhite Do you have the interest to help resolve this?

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-09-11 14:27] gaocegege commented on #870
I rerun the test but these two tests still fail.

[2022-09-11 15:04] lunarwhite commented on #870
I've tried to rerun these two tests on local machine(Ubuntu18.04.1 x86_64):

- make e2e-cli-test

[code]

- make e2e-lang-test

[code]

It seems a little strange that GitHub Action CI workflow failed.

[2022-09-11 15:35] lunarwhite commented on #870
/assign

I'll track this issue.

[2022-09-12 01:22] gaocegege commented on #870
[code]

Maybe related to the env var GIT_LATEST_TAG, I think.

[2022-09-12 07:16] kemingy commented on #870
It's caused by the missing git tag `v0.2.0-alpha.20`.

Releasing a new one in branch `main` fixed this.

[2022-09-12 07:16] #870 closed

[2022-09-13 06:55] VoVAllen commented on #339
Not viable now. Github requires language popularity (grammar used in hundreds of repos held by different people), that envd doesn't satisfy yet.

[2022-09-13 07:00] gaocegege commented on #339
https://github.com/github/linguist/blob/master/CONTRIBUTING.md#adding-an-extension-to-a-language

[2022-09-13 07:03] gaocegege commented on #339
Ref https://github.com/github/linguist/issues/5756

[2022-09-13 07:12] gaocegege commented on #179
#dibs
/assign

[2022-09-13 08:28] VoVAllen opened #881 "bug: MNIST example doesn't work on Apple Silicon MacOS"
## Description

The tensorflow binary requires AVX instruction by default, which is not available on Apple Silicon.
[code]
Related issue: https://github.com/tensorflow/tensorflow/issues/52972

[2022-09-13 08:41] VoVAllen commented on #881
PyTorch works well without AVX. We may want to move examples to Torch and add warning for tensorflow users

[2022-09-13 09:18] aseaday commented on #881
pytorch rule all!

[2022-09-14 06:13] #789 closed

[2022-09-14 15:53] terrytangyuan opened #889 "feat: Switch to structured logging"
## Description

Currently, there are logs at different levels, e.g. warn/debug/info. However, they are not structured and cannot be easily consumed by third-party logging services. We should consider switching to structured logging, e.g. `log.WithError(err).Error()` and `log.WithField().Info().`

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the

[2022-09-15 05:34] #607 closed

[2022-09-15 10:29] kemingy opened #892 "feat(build): detect if the current environment is running before building"
## Description

Currently, the logic is: build -> check if the same container is running -> remind the user to use `--force` or manually clean it.

We should make it to: detect the current environment -> remind the user if it's running -> build

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-09-15 12:20] gaocegege opened #893 "feat(CLI): fmt command to reformat your configuration in the standard style"
## Description

Support `envd fmt` command to reformat the configuration in the standard style

## Reference - terraform

[code]

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-09-16 01:12] gaocegege opened #894 "feat(docker): Add a docker extension to visualize the environments"
## Description

https://docs.docker.com/desktop/extensions-sdk/build/set-up/minimal-frontend-extension/

We can create a docker extension on desktop for macOS, to visualize the environments and envd images.

It can be a summer of code project.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-09-16 01:31] gaocegege opened #895 "feat(frontend): envd gallery for user-contributed build funcs"
## Description

[code]

Users could import build funcs that are public in git repos. But we lack a way to help them find the proper build funcs that they need. It would be better to provide such a gallery for users to show what they create.

- Allow users to share the git repo links to their build funcs.
- Show them

It can be a short-term project for summer of code.

---

**Message from the maint

[2022-09-16 07:08] VoVAllen opened #896 "feat: Support export buildkit llb graph by envd"
## Description

Support export LLB graph

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-09-16 07:13] kemingy opened #897 "bug: `conda create env` somtimes cannot be cached"
## Description

Even though the specified Python version has not been changed, `envd` may not cache the `conda create env` process (not always). Which results in re-creating that may cost more than 30s.

This may be related to #666

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-09-16 07:29] kemingy commented on #663
Also, it will be good if can support fish shell autocomplete.

[2022-09-16 07:35] VoVAllen commented on #3
Support 10.2, 11.2, 11.6

[2022-09-16 07:39] VoVAllen opened #898 "feat: Move copy sshd step into LLB construction instead of base image dockerfile"
## Description

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-09-16 07:43] kemingy commented on #481
Priority:

* update readme to getting started
* teams
* others

[2022-09-16 07:46] VoVAllen commented on #627
Implement in envd destroy command

[2022-09-16 07:51] VoVAllen opened #899 "bug: Getting started example doesn't work occasionally"
## Description
envd file
[code]

Log:
[code]
## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-09-16 09:36] aseaday commented on #896
What format do you expect?

[2022-09-16 09:38] aseaday commented on #894
Can we start a  Envd Summer Of Code Sponsorship?

[2022-09-16 09:40] gaocegege commented on #894
I think we can apply for Google Summer of Code next year.

As for envd, we can have an intern for this. We may not have the bandwidth to host such an event.

[2022-09-16 09:47] gaocegege commented on #896
JSON I think, just like buildctl does. https://github.com/moby/buildkit/tree/master/cmd/buildctl

[2022-09-16 14:26] lilylee1874 commented on #326
https://user-images.githubusercontent.com/52693877/190662150-23c0dc65-4c8a-42e4-9fe6-54ba30140c1b.mov

![Frame 5](https://user-images.githubusercontent.com/52693877/190662396-3ae51dcb-c047-4645-a58c-9527019cb94d.png)

[2022-09-16 14:50] gaocegege opened #908 "bug(release): Insufficient permissions to update the homebrew repository"
## Description

https://github.com/tensorchord/envd/actions/runs/3068539356/jobs/4956126877

We cannot update the homebrew repository in envd's github action. The attack surface will be larger if we use a personal token to push.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-09-16 18:06] TaylorHere opened #915 "feat: podman support?"
## Description

should we plan to support [podman](https://podman.io/)?
for Linux users, podman may be their best choice for managing containers and images.
also for macOS users, [podman is  available now](https://marcusnoble.co.uk/2021-09-01-migrating-from-docker-to-podman/).
podman can run without a daemon service and sudo permission.
supporting podman may increase the user experience by hidding

[2022-09-17 01:37] gaocegege commented on #915
Yep, See here https://github.com/tensorchord/envd/issues/282

The issue is dup, I am closing it. Let's discuss in the issue #282

[2022-09-17 01:37] #915 closed

[2022-09-17 01:38] gaocegege commented on #282
From #915

/cc @TaylorHere

[2022-09-17 09:57] TaylorHere commented on #282
Any update or progress on this issue?

[2022-09-17 12:06] gaocegege commented on #282
We did not start yet. We are still working on kubernetes support.

[2022-09-17 13:12] kemingy commented on #326
![envd_AdobeExpress](https://user-images.githubusercontent.com/12974685/190858726-2d51602f-00c7-4da1-97fb-df78171ad77a.gif)

[2022-09-17 13:17] gaocegege commented on #326
We are using https://github.com/tensorchord/envd/issues/326#issuecomment-1250069112 as the logo!

[2022-09-17 14:03] lilylee1874 commented on #326
![envd](https://user-images.githubusercontent.com/52693877/190860902-ac07b00d-4441-47d4-b1d4-beff74926134.gif)

[2022-09-17 15:34] TaylorHere commented on #282
https://github.com/opencontainers/runtime-tools/tree/master/generate
this package may be a good choice to generate the OCI state

[2022-09-19 04:14] VoVAllen opened #920 "feat: envd env describe should use current directory if name not set"
## Description

Currently `envd env describe` need explicitly set `--name` options. We should make the current directory name default.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-09-19 05:55] #169 closed

[2022-09-19 08:50] Belyenochi commented on #892
If no one else, please assign it to me :-).

[2022-09-19 08:54] kemingy commented on #892
/assign @Belyenochi

[2022-09-19 08:57] gaocegege commented on #892
Thanks!

And, ask us if there is any question about this feature.

Here is the discord invitation link: https://discord.gg/KqswhpVgdU

[2022-09-19 12:32] gaocegege opened #923 "feat(lang): Support 0.0.0.0 to expose services"
## Description

Ref https://github.com/tensorchord/envd/discussions/922

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-09-19 12:44] VoVAllen commented on #923
Does this require any docker port exposure setting?

[2022-09-19 12:46] gaocegege commented on #923
I am not sure if you use WSL or macOS.

[2022-09-19 15:25] xtj2020 commented on #923
Not WSL,just a Linux(ubuntu).

[2022-09-20 03:39] gaocegege commented on #923
Gotcha, thanks for your reply.

[2022-09-20 05:18] #899 closed

[2022-09-20 06:46] #627 closed

[2022-09-20 13:19] amyb12345 commented on #894
Hi! I'm the product manager at Docker for Docker Extensions.  If you do end up pursuing this idea (which I think would be of high value to developers!), I wanted to let you know that we are available to support your efforts.  You can find us in the [Docker Community Slack](http://dockr.ly/slack) in #extensions, post issues on our [SDK repo](https://github.com/docker/extensions-sdk), or reach us vi

[2022-09-21 00:35] gaocegege commented on #894
@amyb12345 Hi Amy, thanks for the info.

The community slack requires email addresses with docker.com or jackmorton.com suffix. I cannot register.

[2022-09-21 00:56] amyb12345 commented on #894
@gaocegege Thanks for bringing this to my attention. I've reached out to our Community Slack admin and will let you know as soon as this is resolved!

[2022-09-21 08:27] VoVAllen opened #930 "feat: Better management of entrypoint process"
## Description

Currently multiple processes are managed under tini by concatenating multiple commands.

Cons:
- hard to inspect per-process logs
- hard to inspect errors when start the container

Candidate: https://github.com/F1bonacc1/process-compose

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-09-21 08:52] gaocegege opened #931 "feat(vscode): Implement the vscode plugin for envd language."
## Description

Now we have a basic implementation https://github.com/tensorchord/vscode-envd, which uses the https://github.com/tensorchord/envd-lsp as the language server, to auto-complete the `build.envd` code.

There are things we need but it is not supported yet:

- Manage envd environments in the vscode sidecar panel
- one-click run for `envd up`

---

**Message from the maintainers**:

Love

[2022-09-21 13:21] aseaday commented on #923
Maybe we should support all local interface ip address. Let me check network part of docker?

[2022-09-21 13:34] gaocegege commented on #923
Sure, thanks!

[2022-09-21 13:39] amyb12345 commented on #894
@gaocegege here is a link that should work! Sorry about that! https://join.slack.com/t/dockercommunity/shared_invite/zt-1g9kubrjb-BulMZmD8ezyvIsftN~rSzA[Community Slack](https://join.slack.com/t/dockercommunity/shared_invite/zt-1g9kubrjb-BulMZmD8ezyvIsftN~rSzA)

[2022-09-26 05:50] VoVAllen opened #937 "bug: Wrong pip package information in `envd describe`"
## Description

When installing package with `--extra-index-url` such as PyTorch, `--extra-index-url` will also be considered as a separate package

[2022-09-26 06:10] kemingy commented on #481
Avoid using Chinese with an English flavor.

Ref:
* https://open.leancloud.cn/improve-chinese/

[2022-09-26 07:29] gaocegege opened #938 "feat(sshd): Mount public key in runtime"
## Description

The `envd-sshd` should support mounting a ssh public key in runtime, for envd-server.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-09-26 07:34] gaocegege opened #939 "feat(CLI): Support envd-server in conext"
## Description

Now we introduced a hidden command `envd k8s` to launch pods on Kubernetes with envd server. It should be removed. The feature should be moved to `envd up` or `envd up --detach && envd attach` with the help of `envd context`.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-09-26 07:35] #326 closed

[2022-09-26 08:01] VoVAllen commented on #938
environment variable to set the auth file path

[2022-09-26 12:40] kemingy commented on #893
Already verified that [`black`](https://github.com/psf/black) can be used to format/lint `envd` file.

Alternative:
* [blue](https://github.com/grantjenks/blue)

[2022-09-27 07:54] kemingy opened #942 "feat: clear TODO in code"
## Description

Currently, we have lots of TODOs in the codebase. Some of them are already done. Others may not have related issues.

We can track them in issues with descriptions so others can follow them up quickly.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-09-27 08:27] gaocegege commented on #942
SGTM.

[2022-09-27 15:27] fatelei commented on #920
assign to me

[2022-09-28 00:34] gaocegege commented on #920
@fatelei

Thanks for your interest! Please ask us on discord if there is any problem.

[2022-09-28 10:54] #278 closed

[2022-09-28 14:32] kemingy commented on #3
* After https://github.com/tensorchord/envd/pull/949, users can use any version as long as they can find the related Nvidia CUDA devel Ubuntu [image](https://hub.docker.com/r/nvidia/cuda/tags?page=1&name=devel-ubuntu) on the docker hub.

[2022-09-29 09:15] #881 closed

[2022-09-29 10:08] VoVAllen commented on #481
Done in https://github.com/tensorchord/envd-docs/pull/155

[2022-09-29 11:48] gaocegege commented on #939
envd uses buildkitd container in the local docker host to build the images by default. `context` command will be introduced to support remote build.

[code]

The structure of the envd context is:

[code]

The default envd context is:

[code]

Users may use `envd context create` to create new context and use it:

[code]

##### `envd-server` runner

envd CLI registers the local public key to the env

[2022-09-29 12:17] #3 closed

[2022-09-30 00:28] #938 closed

[2022-09-30 00:44] gaocegege opened #957 "feat(CLI): envd create command"
## Description

`envd create` will be introduced as the new command. It builds the image and launches the container/pod. If the runner is `envd-server`, the image needs to be pushed first.

Here, the endpoint from `envd-server` needs to be designed carefully.

[code]

And, the pod name should be searchable. The envd-server needs to find the correct pod from the limited information (identity token

[2022-09-30 00:47] gaocegege commented on #530
Possible design:

`runtime.docker.mount` and other docker-specific funcs will be ignored in kubernetes context. `runtime.kubernetes.mount()` should create/use the corresponding PV/PVC in the backend pod.

[code]

[2022-09-30 00:49] gaocegege opened #958 "feat: Port forwarding in envd-server runner"
## Description

There are several ports that will be used in envd:

- the server port. envd randomly selects a host port for sshd.
- jupyter notebook port.
- RStudio server port.

sshd port is forwarded by the ssh proxy server. Other ports may need ssh tunneling.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-09-30 00:52] gaocegege commented on #101
For envd-server runner:

`envd ssh` will be introduced as the new command. It creates the ssh client config, then connect to the ssh proxy server `containerssh`. The username should be the contains the identitytoken and project name.

The `envd-server` should:

- Get the identity token and the project name, then find the correct pod to attach.
- Update `containerssh` app config with the `/v1/confi

[2022-09-30 01:07] gaocegege commented on #957
And, in the issue, we need to refactor the func StartEnvd() in the engine interface.

[2022-09-30 07:21] kemingy opened #960 "bug: remote cache for system packages doesn't work"
## Description

For the 1st time build, cannot reuse the cache from tensorchord/python-cache for system packages.

## Reproduction

## Additional Info

envd: v0.2.4-alpha.6

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-10-01 15:20] #960 closed

[2022-10-01 15:20] #897 closed

[2022-10-01 16:44] fatelei opened #966 "bug: tensorchord/envd-sshd-from-scratch has no latest tag"
## Description

<img width="1459" alt="image" src="https://user-images.githubusercontent.com/961094/193419517-a68d0e46-5008-4895-99e2-60a81aa71daa.png">

<img width="1244" alt="image" src="https://user-images.githubusercontent.com/961094/193419535-a11a164e-ebbb-4ceb-8be9-2033d3c86ecc.png">

## Reproduction

run `envd build --path examples/mnist`

## Additional Info

using main branch code to build

[2022-10-02 01:36] gaocegege commented on #966
Thanks for the issue! I will have a look.

[2022-10-02 01:38] gaocegege commented on #966
Could you please share which version you are using?

`envd version --detail`

Is it built from source?

[2022-10-02 02:08] gaocegege commented on #966
Maybe related to this https://twitter.com/urcyanide/status/1557339350345474048

[2022-10-02 09:06] fatelei commented on #966
[code]

[2022-10-02 09:10] fatelei commented on #966
i remove the forked repo，re-fork not toggle only fork main branch.

exec `go run cmd/envd/main.go -debug build --path examples/mnist`

<img width="1730" alt="image" src="https://user-images.githubusercontent.com/961094/193446754-69f61e75-b3ce-4ba8-b47c-179bdf2b3de6.png">

[2022-10-02 09:24] kemingy commented on #966
You should build with `make dev` (installed with `pip`) or `make build-local` (only generate binary).

[2022-10-03 10:04] kemingy opened #969 "bug: `conda` and `mamba` are not 100% exchangeable"
## Description

* we supported micromamba in #891

Currently, we cannot replace `miniconda` with `micromamba` because:

* their command-line interfaces are not exactly the same
  * `micromamba create -n envd python=3.7 --file env.yaml` v.s. `conda env create -n envd python=3.7 --file env.yaml`
  * `micromamba update -n envd --file env.yaml` v.s. `conda env update -n envd --file env.yaml`
  * `micr

[2022-10-04 02:22] kemingy commented on #644
Close this because #933 fixed it.

[2022-10-04 02:22] #644 closed

[2022-10-04 02:24] kemingy commented on #969
_Originally posted by @kemingy in https://github.com/tensorchord/envd/issues/933#issuecomment-1265166042_

[2022-10-04 04:13] gaocegege commented on #966
Does it solve your issue?

[2022-10-04 06:02] fatelei commented on #966
yes

[2022-10-04 06:02] #966 closed

[2022-10-04 10:56] #939 closed

[2022-10-05 06:56] kemingy commented on #930
Another candidate: `systemd`.

[2022-10-05 06:57] kemingy commented on #898
* fixed by #941

[2022-10-05 06:57] #898 closed

[2022-10-05 08:43] zwpaper commented on #930
`systemd` may not be a good option, `supervisord` or some other lightweight options like @VoVAllen mentioned https://github.com/F1bonacc1/process-compose may be better.

there is one more option mentioned in the SO, https://github.com/just-containers/s6-overlay, but I have never tried it before, just posted to be another candidate

ref: https://stackoverflow.com/a/51985145/4242336

[2022-10-05 09:01] kemingy commented on #930
I agree that `systemd` is heavy for this scenario. It looks okay to run `systemd` in the training or experimental task environments. I won't use it for the online serving containers.

Not sure if the pure Python application like `supervisord` can be a good fit for this.

I like the idea "one *thing* per container" of [s6](https://github.com/just-containers/s6-overlay). Will check this.

[2022-10-06 00:21] fengzixu commented on #893
/assign @fengzixu

[2022-10-06 00:22] fengzixu commented on #893
:) Glad to check this issue, so assign it to myself first

[2022-10-06 02:23] gaocegege commented on #930
/cc @Zheaoli

[2022-10-06 02:24] gaocegege commented on #893
Thanks for your contribution! :tada: :+1:

[2022-10-06 02:25] gaocegege commented on #893
Feel free to ask if there is any question.

Our discord channel is here https://discord.gg/KqswhpVgdU

[2022-10-06 06:48] Zheaoli commented on #930
`supervisord` is not a good fit for this for two reasons:

1. too heavy
2. the code quality is not good

And I have already checked https://github.com/just-containers/s6-overlay. I think it is tiny enough for use, and it has basic signal management. But I think a little bit concern I have

1. the pure bash code will increase the difficulty for our customize action
2. I'm not sure S6 is good enough

[2022-10-07 06:42] gaocegege opened #971 "bug(release): Fail to push the remote cache"
## Description

Failed to publish the image cache.

Ref https://github.com/tensorchord/envd/actions/runs/3165101028/attempts/1

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-10-07 06:58] gaocegege commented on #481
We will try to finish the translation for the teams section.

[2022-10-07 07:13] VoVAllen commented on #530
Write a proposal this week

[2022-10-07 07:28] fatelei commented on #920
@VoVAllen the flag `--name` used to for display or looking env ?

[2022-10-07 07:46] gaocegege commented on #957
We will implement pod creation first:

`envd create --image=xxx`

[2022-10-07 07:50] gaocegege commented on #958
We need a proposal to design how to use containerssh to implement ssh tunneling.

[2022-10-07 10:14] VoVAllen commented on #920
@fatelei Yes. Should use current working directory folder name as default

[2022-10-07 12:07] gaocegege commented on #923
Hi Nullday, Are you still on the issue?

/cc @aseaday

[2022-10-07 12:08] gaocegege commented on #892
Hi @Belyenochi

Are you still working on the issue?

[2022-10-07 12:08] gaocegege commented on #552
We should check if zsh exists. And remove the warning.

[2022-10-07 12:09] #246 closed

[2022-10-07 12:10] gaocegege commented on #543
@zhyon404 Hi, are you still working on the issue?

[2022-10-07 12:13] gaocegege commented on #727
These two PRs are merged, I am closing the issue.

[2022-10-07 12:13] #727 closed

[2022-10-07 12:14] gaocegege opened #973 "chore(test): Add e2e test for Julia"
## Description

- [ ] Julia

We already have the e2e test cases for python, There is no case for Julia.

We could: just verify if build.envd for Julia works.

Ref https://github.com/tensorchord/envd/blob/main/e2e/language/python_test.go

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-07 12:21] gaocegege opened #974 "chore(test): Add e2e test for R lang"
## Description

We already have the e2e test cases for python, There is no case for R.

We could: just verify if build.envd for R works.

Ref https://github.com/tensorchord/envd/blob/main/e2e/language/python_test.go

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-07 12:26] gaocegege opened #975 "feat(CLI): Add envd images remove command"
## Description

We lack the command `envd images remove` to remove the envd images. The environment can be removed via `envd destroy`, but the built images cannot be removed using `envd`. This issue is to support it.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-07 12:27] kemingy commented on #975
Is it related to https://github.com/tensorchord/envd/pull/925?

[2022-10-07 12:29] gaocegege opened #976 "feat(CLI): Support envd images prune"
## Description

`envd images prune` command prunes the image cache. It uses docker golang SDK to cleanup the cache, just like `docker image prune` does.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-07 12:30] gaocegege commented on #975
Yep, but there may be some images in the host. For example, the images you pulled from docker registry.

[2022-10-07 12:32] #665 closed

[2022-10-07 12:33] #510 closed

[2022-10-07 12:34] gaocegege commented on #431
I am closing the issue. But feel free to leave comments if there is any problem.

[2022-10-07 12:35] gaocegege commented on #220
I am closing the issue. But feel free to leave comments if there is any problem.

[2022-10-07 12:35] #220 closed

[2022-10-07 12:35] #261 closed

[2022-10-07 12:37] gaocegege opened #977 "chore(test): Add test cases for pkg/home/auth.go"
## Description

There is no test case for auth. We should add the corresponding test cases for auth part similar to pkg/home/context_test.go

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-07 12:39] gaocegege opened #978 "chore(test): Add test cases for util"
## Description

There is no test for https://github.com/tensorchord/envd/tree/main/pkg/util/starlarkutil

We should add some unit test for it.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-07 13:15] ytumushimire commented on #978
/assign

[2022-10-07 13:16] yvestumushimire commented on #978
/assign

[2022-10-07 13:23] gaocegege commented on #978
@yvestumushimire Thanks! Feel free to ask on discord if there is any question!

The discord link is here https://discord.gg/KqswhpVgdU

[2022-10-07 13:27] yvestumushimire commented on #978
Thank you. my first time, reading documentation first :)

[2022-10-07 15:52] VoVAllen commented on #896
Reference: https://github.com/moby/buildkit/blob/c8d04dbee24d45013b3c36e9b1173bd737ca74b2/cmd/buildctl/debug/dumpllb.go#L83

[2022-10-07 17:45] Belyenochi commented on #892
Sorry for not updating this issue, I will try to submit this MR this week.

[2022-10-08 02:03] shaonianche commented on #552
thx!

[2022-10-08 02:19] aseaday commented on #923
sorry for late. I just returned home last night and will begin coding today.

[2022-10-08 02:21] gaocegege commented on #552
It is not fixed, I just explain more about the issue. Let's reopen it.

[2022-10-08 02:23] gaocegege commented on #923
Seems that you have a nice vocation.

Sure, thanks.

[2022-10-08 02:24] #978 closed

[2022-10-08 03:03] zwpaper opened #983 "feat(doc): the logo and images in README should support dark mode"
## Description

current appearance:

<img width="895" alt="image" src="https://user-images.githubusercontent.com/3764335/194684850-4ea71aaa-7f54-4427-bfbb-8285197ac5ef.png">

after https://github.com/tensorchord/envd/pull/963 merged, there would be one more image with white background in dark mode.

we could ref to https://github.blog/changelog/2021-11-24-specify-theme-context-for-images-in-markdo

[2022-10-08 04:11] gaocegege opened #984 "bug(CLI): envd context create fails to show the options"
## Description

[code]

The options is hard to read. I am not sure why.

Expected:

[code]

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-10-08 06:04] kemingy commented on #971
fixed by #985

[2022-10-08 06:04] #971 closed

[2022-10-08 06:07] yvestumushimire commented on #977
/assign

[2022-10-08 08:28] Belyenochi opened #988 "bug: run envd up fail"
## Description
Docker Version:  20.10.14
MacOs:  Darwin ArcherdeMacBook-Pro.local 19.6.0 Darwin Kernel Version 19.6.0: Mon Apr 18 21:50:40 PDT 2022; root:xnu-6153.141.62~1/RELEASE_X86_64 x86_64

When I ran `envd up` use example, I got the following result

<img width="1431" alt="image" src="https://user-images.githubusercontent.com/26409132/194698038-21c5560c-98d4-48b7-82ba-5e2ef6c63b11.png">

<im

[2022-10-08 08:42] gaocegege commented on #988
MacOS runs a VM under the hood to support docker. The VM in the docker desktop may lack disk space.

https://docs.docker.com/desktop/settings/mac/#advanced

[2022-10-08 08:47] Belyenochi commented on #988
Thanks~

[2022-10-08 08:47] #988 closed

[2022-10-08 09:18] enjoyliu commented on #976
I want to try it, please assigned to me

[2022-10-08 13:23] Belyenochi commented on #892
@gaocegege , hi gaocegege, I have two not so sure about the implementation of this problem
1. Whether the original image that uses --force to rebuild the image needs to be retained, I understand that it may be necessary
2. When reminding the user that the same container is running, whether the user needs to use a judgment like yes or no to allow or block the build or is it just a reminder and the

[2022-10-08 13:38] gaocegege commented on #976
/assign @enjoyliu

Thanks! Feel free to ask if there is any question on discord.

The discord link is here https://discord.gg/KqswhpVgdU

[2022-10-08 13:39] gaocegege commented on #892
@kemingy Could you please help answer the questions?

[2022-10-08 13:45] kemingy commented on #892
Yes. We should keep the `--force`.

I think a reminder should be easy to implement.

[2022-10-08 13:46] Belyenochi commented on #892
thanks @kemingy @gaocegege  :-).

[2022-10-09 04:19] #937 closed

[2022-10-09 06:54] Belyenochi commented on #663
If no one else, please assign it to me :-).

[2022-10-09 07:17] kemingy commented on #663
/assign @Belyenochi

[2022-10-09 07:48] VoVAllen commented on #530
## Mount Code Proposal

There will be two ways to mount the code, directly clone git repo or use syncthing to sync folder insider container with user's local directory.

Reference: [Syncthing in Okteto](https://www.okteto.com/docs/reference/file-synchronization/)

Possible syntax design:

[code]

`envd up` under envd-server context will use `build_k8s` as the default function, if not found, will f

[2022-10-09 08:16] gaocegege commented on #530
Then do users need to write two build funcs for docker and k8s?

[2022-10-09 08:17] gaocegege commented on #663
It may be not easy. Feel free to ask here if you encountered any problem!

Thanks for your contribution! :tada: :+1:

[2022-10-09 12:25] VoVAllen commented on #530
The original build func should work in most cases, but the pod on k8s may not be provisioned exactly as what user wants. Since `build` funcs won't contain any k8s specific logic, we can only have one default setting on k8s. User may need to tune details

[2022-10-10 02:58] gaocegege commented on #530
How about use `if` statement in this case:

[code]

[2022-10-10 07:18] Belyenochi commented on #663
@gaocegege @kemingy I'm trying to re-understand the problem, from what I've tried, if I run something like the following,
[code]
envd will install fish in the build ubuntu image, and I understand what we need to do is modify /pkg/lang/ir /custo.go or similar file is installed in the default image and initializes fish related configuration (including autocompletion plugins?)

[2022-10-10 07:24] kemingy commented on #663
* Yes, we will use `shell("fish")`
* Need to modify several files, I think you can search "zsh" in the codebase as a reference (no need to install oh-my-fish or something similar)
* envd fish autocomplete should be placed in `pkg/autocomplete/fish.go`

[2022-10-10 07:27] Belyenochi commented on #663
Thanks for your patience :-).

[2022-10-10 07:56] shaonianche commented on #983
we need a gif image with a dark background ~

[2022-10-10 07:56] gaocegege commented on #31
The issue is dup with #91

[2022-10-10 07:56] #31 closed, assigned to nobody

[2022-10-10 08:16] gaocegege commented on #983
The chart has the dark mode.

[2022-10-10 08:20] gaocegege commented on #983
https://github.com/tensorchord/envd-quick-start/issues/6#issuecomment-1272948169

[2022-10-10 08:21] gaocegege commented on #983
I am ask the designer of envd cat to help us. /cc @lilylee1874

[2022-10-10 08:43] lilylee1874 commented on #983
Noted.

[2022-10-10 14:17] aFlyBird0 commented on #984
Sorry, I can not reproduce it.

<img width="862" alt="image" src="https://user-images.githubusercontent.com/36830265/194887238-1dc79c9f-6523-4ec8-9194-8cfb0f1c57e3.png">

[2022-10-11 01:28] gaocegege commented on #984
It's weird, could you reproduce it? @VoVAllen @kemingy

[2022-10-11 01:31] kemingy commented on #984
Cannot reproduce.

[code]

[2022-10-11 01:41] gaocegege commented on #984
OK, maybe my build environment is polluted, I am closing the issue.

[2022-10-11 01:41] #984 closed

[2022-10-11 02:31] Triple-Z commented on #975
remove the unused images by project names?

[2022-10-11 02:43] Triple-Z commented on #361
Does that need to create the "nightly release" at the same time?

[2022-10-11 03:07] gaocegege commented on #975
Remove by the image name, I think.

[2022-10-11 03:08] gaocegege commented on #361
nightly release also SGTM.

Maybe the pypi name could be `envd-nightly`

[2022-10-11 03:10] gaocegege commented on #361
In this issue, we can only add the nightly build.

Nightly release requires permission on PyPI.org.

[2022-10-11 03:50] gaocegege opened #1002 "feat(CLI): Support up command for envd-server runner"
## Description

Now envd up will crash if the runner type is envd-server in the current context. We should support it.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-11 03:52] gaocegege opened #1003 "feat(CLI): discover the ssh proxy address in envd-server runner"
## Description

Now the ssh proxy server address is hard-coded to <envd-server-ip>:2222. It is not expected. We should provide a mechanism to discover the ssh proxy server.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-11 03:56] Triple-Z commented on #361
/assign

[2022-10-11 03:57] Triple-Z commented on #361
There is a daily config for Actions, can I add build & tests in it?

https://github.com/tensorchord/envd/blob/main/.github/workflows/daily.yml

[2022-10-11 03:59] Triple-Z commented on #975
I can try on this issue

[2022-10-11 03:59] gaocegege opened #1004 "feat(CLI): Support multiple projects per user in envd-server runner"
## Description

Now we use the identity token (the id of the user) as the pod name in the envd-server. Thus it will not work if the user creates more than 1 environment.

We should support this.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-11 03:59] gaocegege commented on #975
/assign @Triple-Z

Thanks!

[2022-10-11 04:00] gaocegege commented on #361
Yep, I think so.

We could move e2e-lang action in CI.yaml to the daily.yaml. WDYT

@kemingy @VoVAllen

[2022-10-11 08:17] kemingy commented on #361
I think the e2e-lang test is necessary for new PRs.

[2022-10-11 08:42] gaocegege opened #1005 "bug(conda): Fail to use conda channel when the env.yaml is given"
## Description

Seems that `config.conda_channel` does not work with `install.conda_packages(env=xx)`

https://github.com/tensorchord/envd/blob/main/pkg/lang/ir/conda.go#L99

/cc @kemingy @VoVAllen

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-10-11 08:47] gaocegege commented on #1005
I will have a look at this issue.

/assign

[2022-10-11 09:01] VoVAllen commented on #530
It's viable. I think the core difference here is that `build_k8s` design implies `build` function is the major way of using envd at local docker environment. Therefore any changes to run on the k8s won't change anything already exists, but just write a new function.

[2022-10-11 09:05] gaocegege commented on #1005
@kemingy @VoVAllen  Do you know if `conda env update` uses the channel mirror defined in .condarc?

[2022-10-11 09:07] VoVAllen commented on #1005
/assign @VoVAllen

[2022-10-11 09:12] kemingy commented on #1005
`.condarc` search path: https://conda.io/projects/conda/en/latest/user-guide/configuration/use-condarc.html#searching-for-condarc

I think it's because the user is root when we run `conda env update`. But the `.condarc` is on `/home/envd/.condarc`.

[2022-10-11 09:13] gaocegege commented on #1005
Gotcha, similar issue with pypi cache.

[2022-10-11 09:22] VoVAllen commented on #1005
We need an extra test on this.

[2022-10-12 01:03] #977 closed

[2022-10-12 01:15] gaocegege opened #1011 "feat(envd-server): Support GPU pod in envd-server runner"
## Description

Now `envd create` only supports CPU pod. We need to support GPU.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-12 01:50] #957 closed

[2022-10-12 02:58] dragonly commented on #552
I have installed zsh and OhMyZsh, but there's still this warning. OS is macOS.

[code]

Then I manually created this directory, but still with no luck
[code]

Maybe it's better to search for $fpath and find out the proper directory to install the autocomplete scripts?
Mine is
[code]

[2022-10-12 05:01] gaocegege commented on #552
I think it should be a bug.

[2022-10-12 05:52] dragonly commented on #552
IMO, the owner of `/usr/local/share/zsh/site-functions/` should be root?

[2022-10-12 05:55] gaocegege commented on #552
In my case, it's UID1000.

[2022-10-12 05:59] gaocegege commented on #552
The solution LGTM!

We need to  find a proper dir.

[2022-10-12 06:24] gaocegege commented on #530
@kemingy @aseaday @zwpaper Do you have any question about it?

[2022-10-12 06:33] gaocegege commented on #958
Ref https://www.rfc-editor.org/rfc/rfc4254

[2022-10-12 07:36] gaocegege commented on #958
The local forwarding works well with the change https://github.com/tensorchord/envd-server/pull/15

We need to keep an ssh connection for the forwarding. I propose to reuse the remote shell instead of making a new connection in envd.

[2022-10-12 08:15] VoVAllen commented on #530
The initial version we can start with `info.git_repo = "https://github.com/tensorchord/envd`, and clone it into k8s pod. But syncthing will also be implemented later

[2022-10-12 08:48] kemingy commented on #530
I'm not sure why we need to declare a global `info.git_repo` object and use _string_ like `"git_repo"` to refer to it.

For code sync, should we choose `git clone` or `http`?

This can save some boilerplate code. I'm wondering if we can hide the context keywords like `docker` or `k8s`. We can detect the context and choose the right implementation. If it's not implemented for such a context, just p

[2022-10-12 11:48] Triple-Z commented on #908
You can create an organization-scoped GitHub App, set targeted repos' read/write permission to this GH App , and generate App token which can be used in your `goreleaser`.

FYI: https://micahjon.com/2021/repo-scoped-access-token-for-github-org/

I have solved it for `double-entry-generator` in this PR: https://github.com/deb-sig/double-entry-generator/pull/64

However, I can't help you to create s

[2022-10-12 17:19] aseaday commented on #530
I am not very sure the condition statement will be a good choice. We still should insist on statement over implementation. Or at least we'd better use a override class or something like polymorphism to solve the problem.

[2022-10-12 17:37] zwpaper commented on #530
I don't think separating the docker and k8s build is a good idea.

Assuming I was a researcher, I did not want to copy and edit my `build()` to `build_k8s()` only because I was switching my env from docker to k8s.

As we have `context`, we know which target env users were building for, and `pvc` is de facto standard of storage solution in k8s(even host path, we should use something like local prov

[2022-10-13 00:56] gaocegege commented on #530
Make sense. It is promising.

[2022-10-13 01:01] gaocegege commented on #908
Thanks for the advice!

[2022-10-13 01:02] #975 closed

[2022-10-13 01:03] gaocegege commented on #809
It is possible, I think.

[2022-10-13 01:17] gaocegege opened #1013 "feat(lang): Support jetbrains fleet"
## Description

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-13 01:23] gaocegege commented on #1013
It does not work now, It does not support public key auth.

Error while connecting via ssh, ssh exited with code 255.
Process output:
yes
Warning: Permanently added '[localhost]:38263' (RSA) to the list of known hosts.
envd@localhost: Permission denied (publickey).

[2022-10-13 03:47] gaocegege opened #1019 "feat(CI): Run e2e test for macOS"
## Description

We lack tests for macOS.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-13 04:08] gaocegege commented on #530
Any opinions about it? @VoVAllen

[2022-10-13 06:23] aseaday commented on #530
We'd better provide a mount config base class to provide polymorphism config such as:

[code]
we could give a default logic about how to mount the code and the data.  But it'd better be like a mount configuration class  for differentcase. too much options in the function would cause difficulty to maintain.

[code]

[2022-10-13 06:26] #976 closed

[2022-10-13 06:57] VoVAllen commented on #530
Thanks @aseaday and @zwpaper . My core consideration here is also to make build function unified for both k8s and docker. The key design here is to support ad hoc configuration on k8s. I think @aseaday 's suggestion of using separate configurations to declare the implementation is a good design. Starlark doesn't support class, but we can use dict here directly for simplicity.

How about
[code]

[2022-10-13 07:21] #1003 closed

[2022-10-13 07:26] gaocegege commented on #183
Users report that the issue still exists in v0.2.4-alpha.6

[2022-10-13 07:26] gaocegege commented on #183
/cc @VoVAllen @kemingy

[2022-10-13 08:42] gaocegege opened #1021 "feat(lang): Support local-shell"
## Description

It will be great to support running some shell scripts during the build process.

[code]

Ref https://api.tilt.dev/core/cmd-v1alpha1.html#Cmd

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-13 08:45] kemingy commented on #1021
I think it can be done by https://github.com/tensorchord/envd/issues/825

[2022-10-13 08:57] kemingy commented on #1021
It's much more flexible to do it in a shell and pass the result as an argument. Also, it's easier to debug in the shell.

[2022-10-13 09:24] gaocegege commented on #1021
I understand your opinion here.

[2022-10-13 11:01] gaocegege opened #1022 "bug(lang): starship fails to run with runtime.mount"
## Description

error:

[code]

build.envd:

[code]

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-10-13 11:01] gaocegege commented on #1022
/cc @kemingy

[2022-10-13 11:03] kemingy commented on #1022
Run `envd` as a root user or a normal user?

Will this mount command override the permission?

[2022-10-13 11:04] gaocegege commented on #1022
[code]
[code]

[2022-10-13 11:29] Triple-Z commented on #150
Do you mean this?

[code]

[2022-10-13 12:19] Triple-Z commented on #552
Maybe I can try on this issue.

I think the zsh path can be the following three directories, priorities from high to low:
- `/usr/share/zsh/site-functions`
- `/usr/local/share/zsh/site-functions`
- `$HOME/.oh-my-zsh/completions`

And try to access them each by each until find a proper one.

[2022-10-13 15:06] Triple-Z commented on #438
/assign

[2022-10-14 00:55] gaocegege commented on #150
@Triple-Z Yep.

[2022-10-14 00:57] gaocegege commented on #552
Thanks! /assign @Triple-Z

[2022-10-14 06:26] #1005 closed

[2022-10-14 06:37] gaocegege opened #1027 "feat(envd-server): Implement envd engine interface for envd-server"
## Description

[code]

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-14 07:37] VoVAllen opened #1028 "chore: move apt install stage before python package install stage"
## Description

Currently, apt install and python package install are executed in parallel. We want to make it sequential

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-10-14 07:38] VoVAllen opened #1029 "feat(lang): use entrypoint to run initialization script"
## Description

research whether it's viable to use `entrypoint` to run the initialization script

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-14 08:23] VoVAllen commented on #1029
`runtime.init_script`

[2022-10-14 08:27] VoVAllen commented on #1027
[code]

[2022-10-14 08:29] gaocegege commented on #1022
[code]

[2022-10-14 16:58] VoVAllen opened #1032 "bug: flaky auth test"
## Description

test path: pkg/home/auth_test.go:24

https://github.com/tensorchord/envd/actions/runs/3247798564/jobs/5328374306

[code]

[2022-10-17 01:49] gaocegege commented on #1027
#dibs

[2022-10-17 01:50] #552 closed

[2022-10-17 01:50] #1032 closed

[2022-10-17 07:24] kemingy opened #1042 "bug: `runtime.mount()` will cause the parent path owned by the root"
## Description

[code]

This will cause `/home/envd/test` owned by the root user instead of envd. But the `/home/envd/test/cache` is owned by envd.

If we use
[code]

Then both `/home/envd/test` and `/home/envd/test/cache` will be owned by the root.

I guess that's because these paths are created when required.

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give

[2022-10-17 07:32] #1022 closed

[2022-10-17 07:57] gaocegege opened #1043 "feat(CLI): Have a way to show all exposed services in the environment"
## Description

There is no way to tell users which port will be used and how many services are running in the environment with the given build.envd.

We should have a way to show the info to users.

[code]

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-17 08:17] VoVAllen commented on #920
Closed in #1033

[2022-10-17 08:17] #920 closed

[2022-10-17 08:17] VoVAllen commented on #1043
Related issue https://github.com/tensorchord/envd/issues/551

[2022-10-17 08:31] gaocegege commented on #1027
I will try to use https://github.com/containers/image to get the image manifest in envd-server, then add image labels to the pod.

It is to support funcs like `ListEnvDependency(ctx context.Context, env string) (*types.Dependency, error)`

[2022-10-17 09:40] gaocegege commented on #1027
The code works

[code]

[2022-10-17 10:52] gaocegege opened #1045 "chore(server): Move types.EnvdEnvironment to server api"
## Description

The types defined in envd/pkg/types should move to the envd server.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-17 12:05] gaocegege opened #1046 "chore(CLI): Move destroy logic from docker to envd engine."
## Description

Now the func `Destroy(ctx context.Context, name string) (string, error)` is defined in `pkg/docker/docker.go`

We should move it to pkg/envd/engine.go and implement in pkg/envd/docker.go

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-17 12:12] #438 closed

[2022-10-19 04:15] #1028 closed

[2022-10-19 06:42] kemingy commented on #930
s6 overlay is a shell wrapper for [s6](https://skarnet.org/software/s6/overview.html), which is written in C and includes lots of utilities.

My concern is that their configuration is crazy. I have no idea why they love the shell script so deeply.

Another option is [Horust](https://github.com/FedericoPonzi/Horust). Thanks to RiiR :crab:. The configuration is much easier. Although I know it may no

[2022-10-20 01:52] gaocegege opened #1054 "feat(lang): Add a new function to declare the repository and description"
## Description

[code]

The information will be kept in image labels.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-20 03:09] gaocegege opened #1056 "feat(CLI): daemonless envd build"
## Description

We should investigate if we can support daemonless envd build.

Ref https://github.com/moby/buildkit#daemonless

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-20 03:10] gaocegege commented on #1056
/cc @Xiaoaier-Z-L

[2022-10-20 04:07] gaocegege commented on #1056
https://github.com/moby/buildkit/blob/master/examples/buildctl-daemonless/buildctl-daemonless.sh

[2022-10-20 04:22] VoVAllen commented on #530
After team discussion:
- We think it's better to use the same function `build` and provide a way for user to identify current context
- Use function such as `config.info(repo="https://github.com/tensorchord/envd")` to declare git repo information. And user can declare like `runtime.mount(src=k8s.pvc('code'), dst=project_root())` for advanced settings

[2022-10-20 06:20] #930 closed

[2022-10-20 09:05] dragonly opened #1061 "bug: pip install failed on macOS"
## Description
pip install failed on macOS with the Apple M1 Pro chip.

## Reproduction

[code]

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-10-20 09:21] gaocegege commented on #1061
Thanks for the issue!

/cc @VoVAllen

[2022-10-20 09:23] gaocegege commented on #1061
@all-contributors Please add @dragonly for the bug report.

[2022-10-20 13:50] #1046 closed, assigned to yvestumushimire

[2022-10-21 01:55] #1056 closed

[2022-10-21 02:55] VoVAllen commented on #1061
verified the fix on my mac. now it should work

[2022-10-21 02:55] #1061 closed

[2022-10-21 03:04] gaocegege opened #1075 "feat(CLI): Use positional arguments in envd destroy and so on"
## Description

Now the destroy command does not looks great:

[code]

Expected:

[code]

We should wait until https://github.com/urfave/cli/issues/1074 is resolved.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-21 03:06] gaocegege commented on #699
dup with #1075

[2022-10-21 03:06] #699 closed

[2022-10-21 06:24] gaocegege opened #1076 "feat(engine): Implement destory for envd-server engine"
## Description

Ref #1046

The destroy is a new func in envd.Engine. We should implement it both in envd-server and envd.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-21 06:25] gaocegege commented on #466
I am closing it since it is covered by #157 #91

[2022-10-21 06:25] #466 closed

[2022-10-21 06:25] gaocegege commented on #466
I am closing it since it is covered by #157 #91

[2022-10-21 06:54] #1004 closed

[2022-10-21 06:57] VoVAllen commented on #13
research how to do this

[2022-10-21 07:17] VoVAllen commented on #1027
implement a PoC

[2022-10-21 09:57] #892 closed

[2022-10-24 04:03] gaocegege opened #1082 "feat(CLI): Add alias `rm` to envd image remove"
## Description

[code]

Let's add `rm` as a new alias to `remove`

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-24 04:16] #667 closed

[2022-10-24 04:17] gaocegege opened #1083 "bug(build): Fail to cache conda installation stage"
## Description

![image](https://user-images.githubusercontent.com/5100735/197447608-71f94f68-1268-476e-b099-9e9f94dcfec1.png)

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-10-24 08:18] gaocegege opened #1084 "bug(envd-server): Failed to read environment variables in horust"
## Description

The envd-sshd always fails in the envd-server after horust is merged. It seems that envd-sshd cannot access to the environment variables `ENVD_AUTHORIZED_KEYS_PATH=/var/envd/authkey` and `ENVD_HOST_KEY=/var/envd/hostkey`

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-10-24 08:18] gaocegege commented on #1084
/cc @kemingy

[2022-10-24 08:20] kemingy commented on #1084
Maybe we need to re-exports these envs?

https://github.com/tensorchord/envd/blob/4cd6fef5d6284538ea523011aac47feec8dcf36a/pkg/lang/ir/supervisor.go#L39

[2022-10-24 08:23] gaocegege commented on #1084
Yeah, I am updating it.

Enjoy your holiday, I think I can handle it.

[2022-10-24 08:23] gaocegege commented on #1083
/cc @VoVAllen

I think it is broken after the apt update reorder.

[2022-10-25 04:22] #958 closed

[2022-10-25 04:33] gaocegege commented on #241
Ref https://docs.garden.io/misc/telemetry

[2022-10-25 08:51] gaocegege commented on #1029
@VoVAllen Please remember to write the example for kind.

[2022-10-25 08:59] gaocegege opened #1086 "bug(build): Python basic image is too large"
## Description

The CPU image built by envd is about 1GB. I am wondering if our LLB works well. It is too large.

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-10-25 09:04] gaocegege commented on #1027
We should implement the PoC for image management with envd-server.

[2022-10-25 09:04] #1084 closed

[2022-10-25 09:05] gaocegege commented on #1027
Maybe related to https://github.com/tensorchord/envd-server/issues/38

[2022-10-25 09:24] gaocegege commented on #1083
@kemingy Do you remember how we fix it previously? Did we remove the cache from the stage?

[2022-10-25 09:30] kemingy commented on #1083
Let me check. Need to detect which LLB breaks the cache. Or maybe the exported cache has some issues.

[2022-10-25 09:53] kemingy commented on #1083
I created another [image cache](https://hub.docker.com/repository/docker/kemingy/python-cache).

It works for me partially.

![image](https://user-images.githubusercontent.com/12974685/197742144-a37371dd-1c91-4b0f-8d46-19f111b455ff.png)

Not sure why the `mkdir` takes so long.

[2022-10-25 12:38] #1002 closed

[2022-10-25 14:24] aseaday opened #1090 "bug(doc): unclear chart when change to night mode"
<img width="879" alt="Screen Shot 2022-10-25 at 22 23 39" src="https://user-images.githubusercontent.com/3927355/197800195-71decaa2-2b45-438d-a8ac-383d6142b56e.png">

[2022-10-25 14:52] VoVAllen opened #1091 "feat: add mount_host_dir option to run command"
## Description

Mount host directory will invalidate cache in buildkit

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-26 06:18] #1090 closed

[2022-10-26 10:05] #1029 closed

[2022-10-26 10:08] aseaday commented on #1086
Maybe you mean pytorch image?

[2022-10-26 10:48] gaocegege commented on #1086
https://github.com/tensorchord/envd/blob/main/examples/python-basic/build.envd This one.

[2022-10-27 03:57] #1076 closed

[2022-10-27 07:38] VoVAllen opened #1099 "bug: config.entrypoint is conflicted with runtime.deamon and runtime.init"
## Description

Currently the entrypoint has to be `horust`. Rewriting it by `config.entrypoint` will cause problem. We should consider remove this function. @gaocegege @kemingy WDYT

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-10-27 07:40] kemingy commented on #1099
I think `entrypoint` is only for customized images.

[2022-10-27 08:09] gaocegege commented on #1099
I agree.

[2022-10-27 08:10] aseaday commented on #1099
SGTM

[2022-10-27 10:54] aseaday commented on #895
https://discord.com/channels/974584200327991326/985402274505424916/1035143179936202792

[2022-10-27 11:17] gaocegege opened #1102 "feat(lang): provide a multilingual environment"
## Description

[code]

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-27 11:26] gaocegege commented on #1102
There are some options:

- Use conda to manage all languages
- Maintain the LLB steps in envd

[2022-10-27 11:26] gaocegege commented on #1102
@kemingy suggests the latter.

[2022-10-28 01:52] oocococo opened #1105 "feat: TensorRT support"
## Description

TensorRT is also an important component of CUDA Toolkit.
It would be great if you could impl an func like install.cuda(tensorrt=7.2.3)

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-28 03:15] gaocegege commented on #1105
Thanks for raising this!

[2022-10-28 07:36] gaocegege opened #1107 "bug(build): Investigate why envd build fails"
## Description

https://github.com/tensorchord/envd/discussions/1103

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-10-28 07:43] VoVAllen commented on #241
Research segement.io

[2022-10-28 08:00] VoVAllen commented on #1099
Raise error for non-custom base image and improve docs

[2022-10-28 09:27] #1099 closed

[2022-10-28 11:16] aseaday opened #1111 "feat: support sshd port listening on non-loopback ip"
## Description
The ssh port always listen on 127.0.0.1. But there may be some cases like:
- I want to expose on 0.0.0.0 on eth0 ip for other computer could access

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-28 11:32] gaocegege commented on #1111
Maybe we can add a new func

[code]

WDYT

[2022-10-28 11:35] gaocegege opened #1112 "feat(runner): Support remote machine"
## Description

We should support running envd on remote machine, not the kubernetes.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-28 12:13] VoVAllen commented on #1112
Possible way: write a tutorial to teach people using ssh port forwarding to forward the envd sshd port for now. And tell them where to get the private key. (probably we can write a python script for this)

[2022-10-28 12:13] VoVAllen commented on #1112
Better way is to support remote machine on envd-server

[2022-10-28 12:15] aseaday commented on #1111
Good suggesion. But we also need support the  following configurations:
- a xdg config, users may want to all env listen on a specfic host
- cli option, users may get a envdfile from others and want to listen on a spefic host

[2022-10-28 12:19] aseaday commented on #1112
IMO, I think we'd better only need SSH access to achieve this feature. The users have ssh password or private keys to remote servers.

[2022-10-29 01:49] #1091 closed

[2022-10-29 06:36] #241 closed

[2022-10-29 11:03] gaocegege commented on #1083
[code]

I am using the v0.2.4-alpha.17 to run python-basic. The python installation cannot be cached.

[2022-10-29 16:01] aseaday commented on #1111
/assign

[2022-10-31 03:35] gaocegege opened #1121 "feat(telemetry): Collect run time"
## Description

We should investigate how to collect run time in envd.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-31 04:02] cjwcommuny opened #1123 "bug: `envd bootstrap` doesn't respect docker context"
## Description

I followed the [instruction](https://github.com/tensorchord/envd#install-and-bootstrap-envd) but got the following error:

[code]

## Reproduction

[code]

## Additional Info

I use [colima](https://github.com/abiosoft/colima) to run docker, but it seems that `envd` doesn't respect the docker context:

[code]

[2022-10-31 04:12] gaocegege commented on #1123
Thanks for the issue!

Maybe we should get the context from docker.

Currently, you can use `DOCKER_HOST=unix:///Users/cjw/.colima/default/docker.sock envd bootstrap` to give it a try

[2022-10-31 07:48] #896 closed

[2022-10-31 07:49] gaocegege commented on #1083
#dibs

[2022-10-31 08:48] gaocegege commented on #1083
I found the trick bug.

![image](https://user-images.githubusercontent.com/5100735/198967973-7d55df48-51dd-472b-9311-33b4b86fec31.png)

We use the project dir as the CWD in the conda installation.

Thus the cache only works on `/home/envd/remote-cache` (We built the remote cache in the `base-images/remote-cache`)

After the removal of the CWD, it works well.

[2022-10-31 09:10] #1083 closed

[2022-10-31 12:06] gaocegege opened #1127 "feat(lang): Set PATH in envd"
## Description

Ref #1103

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-10-31 12:34] #1121 closed

[2022-11-01 01:40] gaocegege commented on #1127
Ref https://github.com/moby/buildkit/blob/2a6fcaeda9e8eeb3ea70cd68306f6b74861d96e9/frontend/dockerfile/shell/lex.go#L391-L399

Ref https://github.com/moby/buildkit/issues/1772

[2022-11-01 01:42] gaocegege commented on #1127
Ref https://github.com/moby/buildkit/issues/2415

[2022-11-01 03:29] aseaday commented on #1105
/assign

[2022-11-01 04:03] #183 closed

[2022-11-01 05:16] #1111 closed

[2022-11-01 06:20] VoVAllen commented on #1107
/assign

[2022-11-01 07:39] gaocegege opened #1131 "feat(lang): Support ubuntu 18.04 and so on"
## Description

#1103

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-11-01 07:58] VoVAllen commented on #1127
Currently in envd, environment variable is set by passing arguments to docker client. https://github.com/tensorchord/envd/blob/8776a259de0b15d1a8bc7e76473b9a49e44e7890/pkg/builder/util.go#L44

This means `PATH=$PATH:/usr/bin` won't work.

[2022-11-01 08:00] gaocegege commented on #1127
Yep. It does not work. We need to implement the substitution in envd by ourselves, like buildkit docker frontend does.

[2022-11-01 08:01] gaocegege commented on #1127
It is not in high priority I think.

We have a workaround

[code]

[2022-11-01 08:33] aseaday opened #1132 "feat: Better envdlib syntax support"
## Description
When I am working on writing envdlib for supporting tensorRT, I found some points we need for better use of envdlib:
- Branch Judgment: we need judge wether current condition like os version and cuda version supported by tensorRT
- Print: sometimes we should print some information for user's to use such as the location of sdk or agreement default to accept.
- Context Varibles: we ne

[2022-11-01 08:45] gaocegege commented on #1132
/cc @kemingy

[2022-11-01 09:42] aseaday opened #1133 "bug: failed to support wsl2 backend docker runtime when using GPU"
## Description
[code]
But we still could use `docker run --gpus all` to start it with gpu support.

## Reproduction
`envd up` in a cuda install envrionment inside a WSL2 ubuntu
## Additional Info
It was introduced by https://github.com/tensorchord/envd/blob/7bf8c00dfd8c34cc5552590b67b1e69eecaf5a51/pkg/envd/docker.go#L287

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. W

[2022-11-01 10:14] gaocegege commented on #1133
/cc @VoVAllen

[2022-11-01 10:20] kemingy commented on #1132
* Related to https://github.com/tensorchord/envd/pull/972

I'm wondering if the functions can return some kind of structure. But surely that will break the current process-oriented pattern.

To pass the information to users, I think we need to expose the Graph (or something equivalent).

[2022-11-01 11:06] aseaday commented on #1105
We now have lib for you. https://github.com/tensorchord/envdlib/pull/10/files

[2022-11-01 11:07] aseaday commented on #1105
Do you need to install binding with your DL framework?

[2022-11-01 11:32] aseaday commented on #1133
/assign

[2022-11-01 11:50] oocococo commented on #1105
How can I test if it works?

The error message from my setup(without envdlib) is
[code]
And I tried a `build.envd` like
[code]
But `envd build` got `Error: module has no .tensorrt field or method`

[2022-11-01 12:04] VoVAllen commented on #1105
@oocococo You can copy the function content directly to your file as a temporary test.

[code]

[2022-11-01 12:11] oocococo commented on #1105
@aseaday did you mean exec the `run` part manually?

[2022-11-01 12:21] VoVAllen commented on #1105
It's just python function. You can copy that and call `tensorrt(....)` directly in your build function.

[2022-11-01 12:46] aseaday commented on #1133
@VoVAllen  I had submit a pr for this issue.

[2022-11-01 13:04] TaylorHere commented on #282
I see some tools can work with docker socks and podman socks like [jetbrains](https://www.jetbrains.com/help/idea/podman.html), maybe OCI is not needed, just a client that can work with those socks.
and also, tried
[code]
[code]
[code]
works fine

[2022-11-01 13:39] TaylorHere commented on #282
bad news, the rootless socket is not working.

[2022-11-02 00:55] #1082 closed

[2022-11-02 01:01] gaocegege commented on #282
May I ask why it does not work? Did it return an error?

[2022-11-02 01:09] gaocegege opened #1140 "feat(github): Automatically generate changelog"
## Description

https://docs.github.com/en/repositories/releasing-projects-on-github/automatically-generated-release-notes#configuring-automatically-generated-release-notes

We can add a new file `.github/release.yml` to declare the expected changelog generation logic.

For example, we should move commits with `feat` to the new features section.

---

**Message from the maintainers**:

Love this e

[2022-11-02 02:17] VoVAllen commented on #1133
Hi,

I tested locally and current envd works well with CUDA+docker inside WSL on my machine. Do you mean that docker in WSL without cuda runtime will cause the problem now?

[2022-11-02 02:19] aseaday commented on #1133
I had installed Docker Desktop and Nvidia Driver. I didn't install cuda and nvruntime-docker. But according to the stack of docker desktop and nvidia driver. Even though I didn't install nvruntime-docker, I can use cuda device inside docker.

[2022-11-02 02:24] aseaday commented on #1133
![image](https://user-images.githubusercontent.com/3927355/199380631-cb36d479-30cc-4c05-9daa-711c65744ec3.png)

[2022-11-02 02:24] aseaday commented on #1133
It is my docker server.

[2022-11-02 02:27] VoVAllen commented on #1133
And you can use docker with `--gpu` manually but meet problem with envd?

[2022-11-02 02:29] aseaday commented on #1133
Yes, we check if docker support GPU by detect if it is nvruntime. But there is no need to use nvruntime in wsl2 docker desktop. https://www.docker.com/blog/wsl-2-gpu-support-for-docker-desktop-on-nvidia-gpus/

[2022-11-02 02:54] TaylorHere commented on #282
it looks hung on `client.NewClientWithOpts`

[2022-11-02 03:01] TaylorHere commented on #282
No, my bad, it working with rootless sockets
[code]

[2022-11-02 03:43] #1133 closed

[2022-11-02 04:09] gaocegege commented on #282
Related to https://github.com/tensorchord/envd/issues/1123

[2022-11-02 04:09] gaocegege commented on #282
buildkit is running successfully in podman. Thanks!

We also need to support creating envd containers in podman.

[2022-11-02 04:55] dqhl76 commented on #1140
To use [configuring-automatically-generated-release-notes](https://docs.github.com/en/repositories/releasing-projects-on-github/automatically-generated-release-notes#configuring-automatically-generated-release-notes), we firstly need to label the pr.

To lable pr, we can use the bot [Mergify](https://github.com/marketplace/mergify) or GitHub Action [TimonVS/pr-labeler-action](https://github.com/Ti

[2022-11-02 07:40] Xiaoaier-Z-L opened #1143 "question[mac]: return error when i build with envd on mac"
envd version:
![image](https://user-images.githubusercontent.com/96805673/199427469-6073a8e9-74b3-45a3-89db-08ec5dd80874.png)

build.envd
![image](https://user-images.githubusercontent.com/96805673/199427571-a8bdcae1-49df-4fca-85b0-fd7c88f1b659.png)

host:
mac

msg:
error: GPU is required but nvidia container runtime is not installed, please refer to https://docs.nvidia.com/datacenter/cloud-native

[2022-11-02 07:42] #1143 closed

[2022-11-02 07:42] Xiaoaier-Z-L commented on #1143
for discussions

[2022-11-02 09:48] aseaday commented on #1105
Sorry for this inconvinience. Now you can use like this:

[code]

[2022-11-02 12:04] terrytangyuan commented on #1140
We should reuse this script: https://github.com/tensorchord/envd/blob/main/hack/changelog.sh

[2022-11-02 12:26] dqhl76 commented on #1140
It looks like this [script](https://github.com/tensorchord/envd/blob/main/hack/changelog.sh) is used to generate [minor version released change log](https://github.com/tensorchord/envd/blob/main/CHANGELOG.md).
This [https://github.com/tensorchord/envd/pull/1145](https://github.com/tensorchord/envd/pull/1145) will give a feature to automatically generate the [release change log](https://github.com/

[2022-11-02 13:27] oocococo commented on #1105
I've update envd and use the default `envdlib.tensorrt()`，but still get error message in my the ipynb
[code]

I just run a [example ipynb](https://github.com/sktime/sktime/blob/main/examples/02a_classification_multivariate_cnn.ipynb) from `sktime`

[2022-11-02 15:57] dqhl76 commented on #1140
I think it is a better choice. I may reopen an pr to adopt this method. This will solve the current problem of inconsistent formatting of the release page and CHANGELOG.md.

[2022-11-02 19:52] terrytangyuan commented on #1140
Would you like to submit a PR with the new approach?

[2022-11-03 02:15] dqhl76 commented on #1140
Sure. /assign @dqhl76

[2022-11-03 02:23] gaocegege commented on #431
We can add a build function in envdlib:

[code]

[2022-11-03 02:23] gaocegege commented on #1140
/assign @dqhl76

[2022-11-03 02:41] gaocegege commented on #541
Ref https://docs.google.com/document/d/17TGmcIQRW-4tFCadzkdXHGNR9QoMH0yOKfiQHMtSuuU/edit#

[2022-11-03 02:42] gaocegege commented on #541
The base image of Flyte may look like this.

[code]

[2022-11-03 07:55] gaocegege opened #1147 "bug(build): Environment variables defined in base image are dropped in the new image"
## Description

For example:

[code]

We build a image with the dockerfile, then use it in envd:

[code]

The env var defined in the image cannot be used in the new image.

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-11-03 08:50] #1147 closed

[2022-11-03 08:52] gaocegege commented on #541
[code]

The build script should work with the new release v0.2.5-alpha.1

Please update the env: `pip install --pre --upgrade envd`

[2022-11-04 03:18] #1042 closed

[2022-11-04 04:40] gaocegege opened #1154 "bug(remote-cache): GPU cache does not work"
## Description

[code]

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-11-04 06:32] aseaday commented on #1105
I will check it. It seems that the tensorflow binding with tensorrt.

[2022-11-04 06:39] VoVAllen opened #1157 "feat: Cache-friendly run command"
## Description

run command can specify base stage, such as build from base image stage, python stage or others, which can help cache more things.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-11-04 06:49] #1154 closed

[2022-11-04 07:58] VoVAllen commented on #1131
verify size gap between 18.04 and 20.04

[2022-11-04 09:48] aseaday commented on #1105
Could you gimme your envd.build, because I found your tensorflow tried to found tensorrt7 but we had installed tensorrt7 only.

[2022-11-05 01:59] kemingy commented on #983
We already changed the logo and the benchmark image to the GitHub light-dark theme. But it doesn't really work.

[2022-11-05 04:47] kemingy commented on #983
I found that it has to be "single theme - dark" or "sync with system - night time - dark" 🤣

Currently, the image below the badges is still a white background image.

BTW, not sure if the star history supports this. @dragonly I didn't find the related issue.

[2022-11-05 08:49] shaonianche commented on #983
Can we use this image? https://github.com/tensorchord/envd-quick-start/issues/6#issuecomment-1304445199

[2022-11-05 08:51] kemingy commented on #983
Yes. Feel free to create a PR.

[2022-11-05 12:43] Zheaoli opened #1160 "feat: support more file protocols support in `include`"
## Description

---

**Message from the maintainers**:

Myself, I meet some circumstances that are not supported by the end. Here's the detail

the envd allows people to use `include` function to include the existing library to reuse the code. In my circumstance, I don't want to make my code public so that the code repo would be private. But for now, the envd `include` mechanism supports pure HTTP

[2022-11-05 12:53] kemingy commented on #1160
SGTM. We should support more protocols for the `include` function.

By the way, we may need an abstract file layer for the code and data. Things include:
* authentication
* storage
* sync

[2022-11-05 14:58] Zheaoli commented on #1160
maybe I can make a proposal with design detail

[2022-11-06 01:21] gaocegege commented on #1160
@Zheaoli Thanks! Looking forward to it.

[2022-11-06 17:07] LeonardAukea commented on #179
Maybe this is relevant to the discussion. @gaocegege It also utilises syncthing   https://github.com/ksync/ksync/blob/master/docs/architecture.md

[2022-11-07 03:10] xieydd opened #1165 "bug: stable diffusion example failed to run"
## Description
I have try this [demo](https://zh.envd.tensorchord.ai/blog/stable-diffusion-cpu.html) , but looks like some image is  not found.

envd file:
[code]

The detail log :
[code]

## Reproduction
I jsut follow this [demo](https://zh.envd.tensorchord.ai/blog/stable-diffusion-cpu.html) , blocking in `envd up`.
## Additional Info
1. envd env
[code]
2. dev env
[code]

---

**Message from the

[2022-11-07 03:36] xieydd opened #1166 "feat: Document suggestion"
## Description

When i read the [office document](https://envd.tensorchord.ai/guide/getting-started.html), it looks like too complicated.So i give some suggestion about that:
1. Create an introduction page, make it streamlined and straightforward.
2. Ensure we can find quick and develop document in introduction page.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it

[2022-11-07 03:38] kemingy commented on #1165
I'm not able to reproduce this error on Linux. I guess it's related to the disk space. Can you check if Docker Desktop (or something else you're using) has enough disk spaces?

[2022-11-07 03:45] xieydd commented on #1165
Awesome, i found the storage resource limit of docker is 120 GB , and now 119.8 GB used.

Does we need pre check the resource? @kemingy

[2022-11-07 03:53] kemingy commented on #1165
Yeah, we can do that and make the error message more friendly.

[2022-11-07 09:54] gaocegege commented on #179
Thanks for the info! it seems like a clean wrapper of sycthing.

[2022-11-07 10:02] gaocegege commented on #1086
Ref https://github.com/zhuwenxing/envd_demo/actions/runs/3361616233

Here is a reproducible case about the build speed of envd and docker

[2022-11-07 13:19] #1140 closed

[2022-11-07 15:31] aseaday opened #1168 "docs: add blog or documents for running envd on remote server"
## Description

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-11-07 15:43] xieydd commented on #1165
@gaocegege
I think it is necessary to update the aigc blog, some code is not useful.
Can you reproduce it again?

[2022-11-07 15:52] VoVAllen commented on #1168
We also planned this doc in this week's sprint as #1112 (but forgot to update the issue 😢). We think a blog would be sufficient for now, and ultimately we'll consider support this through envd-server

[2022-11-08 01:03] gaocegege commented on #1165
Could you please show the err log?

[2022-11-08 01:05] gaocegege opened #1169 "bug(cache): Make cache work with UID 1000"
## Description

The remote cache does not work well with UID 1000 case.

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-11-08 02:43] aseaday commented on #1168
I agree with u.

[2022-11-08 02:44] #923 closed

[2022-11-08 02:44] aseaday commented on #923
https://github.com/tensorchord/envd/pull/1128

[2022-11-08 03:37] oocococo commented on #1105
@aseaday sorry for the postpone
[code]

[2022-11-08 03:37] gaocegege commented on #1165
SGTM. The API is updated. Let's update https://github.com/tensorchord/envd-docs/blob/main/docs-zh/blog/stable-diffusion-cpu.md

[2022-11-08 04:23] gaocegege commented on #1165
Could you please help us fix the example? https://github.com/tensorchord/envd/blob/main/examples/stable-diffusion/main.py#L26

@xieydd

[2022-11-08 04:23] gaocegege commented on #1165
The blog post is already updated.

[2022-11-08 04:57] xieydd commented on #1165
I will fix it.

[2022-11-09 02:01] #1165 closed

[2022-11-09 02:04] gaocegege commented on #551
[code]

We should show the service name in the ports list. Maybe like this:

[code]

[2022-11-09 08:16] #1045 closed

[2022-11-09 08:28] VoVAllen commented on #530
- PVC as dataset
	- User will specify by `runtime.mount(src=data.dataset('daily_sales'), dst="/data")`. This will be stored into image label, and won't affect the image build process. When launch the environment, backend can implement how to mount the dataset.
	- And envd-server will send a request to `/k8s/data` with `{"user": "allen", "name": "daily_sales", project_name: "sales_prediction"}`, an

[2022-11-09 08:50] kemingy commented on #530
What's the difference between `data.envd` and `data.dataset`? Does `data.dataset` work without envd-server?

[2022-11-09 09:04] VoVAllen commented on #1132
Generally, this means function can share information across different function.

Solution 1:
Use global variable-like mechanism
For example, using `provide` and `inject` (idea from vue3)
[code]
Then user can directly call `envdlib.torch()` to install the version related to cuda version. Note the execution needs to be ordered, user have to execute `install.cuda` before `envdlib.torch`

Solution 2:

[2022-11-09 09:10] VoVAllen commented on #530
@kemingy It's the same, I just randomly picked a name. `data.dataset` will only add label to the image. And the runner will decide how to handle it. Therefore local_docker runner can also implement this. But there's no guarantee that the dataset at different backends are identical

[2022-11-09 09:32] kemingy commented on #1132
I feel defining a global variable could be easier.

[code]
We should document the `if-else`, `for`, `string`, `print` (debug maybe), etc.

[2022-11-09 10:02] gaocegege commented on #13
containerssh_ssh_current_connections

This metric can be used but we may need to add some new logic in containerssh

[2022-11-09 10:02] gaocegege commented on #13
Ref https://github.com/ContainerSSH/libcontainerssh/issues/242#issuecomment-1253398543

[2022-11-09 10:08] VoVAllen commented on #1132
@kemingy Arbitrary global variable doesn't seem good. At least a global dictionary needed I think. such as we have a global variable such as `global_info` and user can do anything they like on it

[2022-11-09 10:10] kemingy commented on #1132
I mean users can define their own global variables to use.

It seems users don't know what starlark can do. And how to combine starlark built-in features with envd functions.

[2022-11-09 10:34] aseaday commented on #1132
I think we'd better give a spec for envdlib's contributor such as:
- how to define/get metadata need or provide
- print or debug some information
But for normal users, we could just let them know they can treat starlark like python and builtin functions list.

[2022-11-10 05:08] AlexXi19 commented on #551
Interested in this issue and taking a look right now!

[2022-11-10 06:41] gaocegege commented on #551
@AlexXi19 Thanks!

We are here to help.

[2022-11-10 06:44] VoVAllen commented on #1112
https://github.com/tensorchord/envd-docs/pull/185

[2022-11-10 08:03] gaocegege opened #1176 "feat(image): Research nydus/stargz"
## Description

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-11-10 08:20] kemingy commented on #1054
* Closed by https://github.com/tensorchord/envd/pull/1101

[2022-11-10 08:20] #1054 closed

[2022-11-10 08:21] gaocegege commented on #13
Ref https://github.com/ContainerSSH/libcontainerssh/issues/284

[2022-11-10 08:21] gaocegege commented on #13
It can be resolved in the upstream.

[2022-11-10 08:38] kemingy commented on #1131
I tried the following Dockerfile (based on https://github.com/zhuwenxing/envd_demo/blob/main/Dockerfile)

[code]

Results:

[code]

Thus I don't think we should support 18.04. But maybe we can consider 22.04.

[2022-11-10 08:54] kemingy commented on #908
Are we able to do this with fine-grained personal access tokens? @gaocegege

Ref: https://github.blog/2022-10-18-introducing-fine-grained-personal-access-tokens-for-github/

[2022-11-10 09:01] kemingy commented on #893
Hi @fengzixu. It has been a while. Not sure if you're still working on this issue. Let us know if you need any help.

[2022-11-10 09:06] kemingy commented on #711
It's similar to https://github.com/tensorchord/envd/issues/1165#issuecomment-1305039165.

I think we can close this. But feel free to reopen this if you find any other similar situations.

[2022-11-10 09:06] #711 closed

[2022-11-10 09:25] kemingy commented on #663
Hi @Belyenochi, it has been a while. May I know if you're still working on this issue?

Feel free to ask for help.

[2022-11-10 09:37] kemingy commented on #493
duplicate with #542

[2022-11-10 09:37] #493 closed

[2022-11-10 09:40] kemingy commented on #1102
duplicate with #407

[2022-11-10 09:43] gaocegege commented on #908
Yep, I already added a new secret.

[2022-11-10 09:43] #1102 closed

[2022-11-10 09:46] kemingy commented on #154
The `Graph.compilePython` function has changed a lot. I'm not sure if we still require this.

cc @gaocegege

[2022-11-10 09:47] gaocegege commented on #154
We can keep it in a low priority. I think we still neet it.

[2022-11-10 09:54] kemingy commented on #61
Related to #1132

[2022-11-10 11:22] #90 closed

[2022-11-10 12:09] VoVAllen opened #1177 "feat: support launch training job"
## Description

Like `kubeflow/training-operator`, user can launch such jobs and watch the status

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-11-10 12:10] VoVAllen opened #1178 "feat: Support hyperparameter tuning and experiment tracking"
## Description

Like `kubeflow/katib`

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-11-10 13:15] kemingy opened #1179 "refact: unify the param `os` and `image` in `base` function"
## Description

Currently, `image` is used to indicate a custom image, which will disable the `starship`, `horust`, `envd-sshd`, etc.

`os` cannot be changed. Whatever the user provides, it will always be `ubuntu:20.04`.

We can use `image` as the base image and add another parameter to indicate whether it's dev env or runtime env.

For example:
[code]

* related to #157

---

**Message from the m

[2022-11-10 23:49] fengzixu commented on #893
@kemingy Sorry for reply late. I am little busy on the work recently. I plan to check it this weekend. But if it's urgent staff, it's ok to unassign it from me

[2022-11-11 00:35] kemingy commented on #893
It's not urgent. Take your time.

[2022-11-11 01:10] gaocegege commented on #1179
Then we need to maintain a list in the envd, to know if the image is customized.

[2022-11-11 01:12] kemingy commented on #1179
We don't have to. The usage of custom images is mainly for serving purposes.

BTW, things like `conda` can also be an option when `runtime=True`.

* ref #672

[2022-11-11 01:16] kemingy commented on #1179
If we're going to support `ubuntu:22.04` as a base image, we need to maintain a list in envd. And we need to add another build cache.

* "os" and "image" has different format, "image" uses docker image name format, "os" is an envd internal format

[2022-11-11 02:55] kemingy commented on #1131
Ref: https://ubuntu.com/about/release-cycle

[2022-11-11 02:57] popfido commented on #1086
If it is a development environment image (which is what `envd`'s target) I think it is quite reasonable?

[2022-11-11 02:58] popfido commented on #1086
If it is a production environment image I may think it would be a quite large one.

[2022-11-11 03:00] popfido commented on #1086
An idea I would like to host in issues is that does `envd` try to do only as a development environment manager for general AI for science teams? Or it would also taking exporting to production environment as a further option? (I did not check the roadmap at the time I leave this message)

[2022-11-11 03:06] kemingy commented on #1086
Some related issues:

* #1176

[2022-11-11 04:48] Belyenochi commented on #663
Hi @kemingy , I'm working on it, maybe a PR in two weeks

[2022-11-11 05:00] popfido commented on #1086
Yeah, it's a case by case problem. But in production images we just need minimal requirements for runtime(when codes for production are stable), which means it should usually be smaller than its corresponding development images.

But for development images, we require a high flexibility to meet debug/develop functionality. Which obviously needs more tool installations and optional configurations.

[2022-11-11 05:04] gaocegege commented on #1131
SGTM

[2022-11-11 06:17] kemingy commented on #663
Thanks

[2022-11-11 06:29] kemingy opened #1180 "feat: provide a user friendly GUI"
## Description

`envd` CLI is suitable for software engineers. But ML is also widely used by people who don't have any CS background. A friendly GUI like GitHub Desktop (may not be a good example) can improve the user experience and attract more people to our community.

Requirements:
* need to include the dependencies like docker/podman
* can launch a jupyter notebook/VSCode

Framework candidates

[2022-11-11 07:59] gaocegege opened #1183 "feat(lang): Embed dockerfile to build.envd"
## Description

[code]
)
[code]

[2022-11-11 08:37] aseaday commented on #1183
Good idea, But we need more details about the limit in embeded Dockerfile.

[2022-11-11 08:37] aseaday commented on #1180
Is it a SoC Project?

[2022-11-11 08:40] kemingy commented on #1180
Yep. I think it's also open for everyone to take. (PS: it may take a lot of time)

[2022-11-11 08:40] aseaday commented on #1168
https://github.com/tensorchord/envd-docs/pull/185

[2022-11-11 08:40] #1168 closed

[2022-11-11 08:42] aseaday commented on #1105
I found it was cause by the fact tensorflow used tensorrt 7. But we don't have a auto way to install tensorrt 7 because nvidia do not provide a apt package to install tensorrt 7.  Let me think of a way to do that.

[2022-11-12 18:45] TaylorHere opened #1184 "bug: tensorboard not working"
## Description
the demo code from web docs is not working.
## Reproduction
[code]
## Additional Info
log inside envd container
[code]
I change the commands as `["tensorboard", "--logdir", "/home/envd/logs", "--port", "8888", "--host", "0.0.0.0", "serve"],`, still get an err

[code]
[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the

[2022-11-13 01:58] kemingy commented on #1184
Hi @TaylorHere thanks for your feedback. I think it's a bug. Will fix this in #1185.

[2022-11-14 06:44] #1184 closed

[2022-11-14 08:14] kemingy opened #1193 "feat: provide function `empty_dir()` like k8s?"
Shall we provide function `empty_dir()` like k8s?

_Originally posted by @VoVAllen in https://github.com/tensorchord/envd/pull/1185#discussion_r1020854486_

[2022-11-14 08:18] #1169 closed

[2022-11-14 08:45] popfido opened #1195 "feat: support fuzzy search on tool installation"
## Description

When I'm trying to use envd to maintain my dev environment, sometimes it takes me a little more time to ensure whether the version I assigned to one of the tools that I want to install has correct version.

For example:

Let's say I have assigned I need CUDA version 11.7 and I write
[code]
in the envd description file.

But when I follow up with `envd up`. There always comes with e

[2022-11-14 09:01] popfido commented on #1195
Ps: I'm tired in fighting with bot to decide which labels should be added. (It's not so Intelligent as I expected :) )

[2022-11-14 09:19] gaocegege commented on #1195
The bot will retry if you updated the title, or the body of the issue.

[2022-11-14 09:20] gaocegege commented on #1195
SGTM, I think we should support this feature.

[2022-11-14 09:27] popfido commented on #1195
Does the buildkit support fuzzy search? It seems that in order to implement this feature, we must be able to query images in fuzzy mode.

[2022-11-14 09:31] gaocegege commented on #1195
I do not think buildkit supports that. We need to implement it.

[2022-11-14 14:28] xieydd commented on #1193
I think we need empty dir for some reason:
1. Store temporary files
2. Store files with the same life cycle as env
3. Store server content like tensorboard logs and event

[2022-11-14 14:32] xieydd commented on #1195
I think image is specially, we can not figure out two images with almost same name but the layer is almost totally different.

[2022-11-14 14:33] xieydd commented on #1183
Good idea, it will be useful for some developer is familiar with dockerfile usage.

[2022-11-14 14:37] xieydd commented on #1180
Maybe need some data to support opinion, i rarely see anyone using Docker Desktop.

[2022-11-14 14:47] xieydd commented on #1177
It will be a runtime?

[2022-11-14 14:53] xieydd commented on #1176
In production enviroment, i rarely see images below 20G, some user even put the data in image. I think image accelerate is highlight and practical solutions to user problems.

[2022-11-15 01:40] gaocegege commented on #1176
Yep, I think so.

[2022-11-15 01:41] gaocegege commented on #1195
We can support fuzz search for CUDA, I think.

[2022-11-15 01:42] gaocegege commented on #1180
Actually, you have to use docker desktop if you use macOS.

[2022-11-15 08:42] AlexXi19 commented on #706
This would be helpful, an interactive shell to choose a simple initial configuration.

[2022-11-15 09:39] gaocegege commented on #706
I marked the issue priority/medium

[2022-11-16 04:00] gaocegege commented on #481
@all-contributors Please add @AlexXi19 for the code contribution

https://github.com/tensorchord/envd-docs/commits?author=AlexXi19

[2022-11-16 04:01] gaocegege commented on #481
@all-contributors Please add @dqhl76 for the doc contribution.

[2022-11-16 04:03] gaocegege commented on #481
@all-contributors Please add @MyFRA for the doc contribution

https://github.com/tensorchord/envd-docs/commits?author=MyFRA

[2022-11-16 05:51] AlexXi19 commented on #706
Interested in this issue, could use this library: https://github.com/charmbracelet/bubbletea

[2022-11-16 07:07] cutecutecat commented on #636
Here is a tool might be helpful
https://github.com/wadey/gocovmerge

@lunarwhite

If you are too busy for working on this problem, I would like to help.

[2022-11-16 08:07] gaocegege commented on #636
Thanks for your interest! Please go ahead. I think @lunarwhite did not have the bandwidth for the issue.

/assign @cutecutecat

[2022-11-16 08:08] gaocegege commented on #706
The lib LGTM. Please pick it up if you are interested in it!

[2022-11-16 08:20] gaocegege commented on #706
/assign @AlexXi19

[2022-11-16 08:57] lunarwhite commented on #636
@cutecutecat Feel free to take this issue!

[2022-11-16 09:41] cutecutecat commented on #636
I have tested `gocovmerge` and it works well on these coverage files. I think it much better to seal an Github Action plugin to wrapper it, instead of clone and run `gocovmerge` from CI. Then we only need to refer that plagin, it would be much more readiable.

I would pick [goaction](https://github.com/posener/goaction) to build this plugin.

[2022-11-16 09:47] gaocegege commented on #636
Cool!

[2022-11-16 11:44] xieydd commented on #1180
I see.

[2022-11-17 08:06] VoVAllen opened #1209 "research: OCI artifacts"
## Description

Using oci artifact standard to store the artifacts/models when developing ML models

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-11-17 11:18] aseaday commented on #157
Another important point about serving is `log`. I think we should consider it .

[2022-11-17 12:00] gaocegege commented on #157
Should we introduce a new CLI to support the serve?

Maybe envd deploy or something else.

[2022-11-18 03:51] kemingy commented on #157
To make it clean, here is a diagram of the current dev env build graph:

![image](https://user-images.githubusercontent.com/12974685/202422038-298c9dc3-9460-473f-bdc2-eade82b39625.png)

[2022-11-18 03:54] kemingy commented on #157
Which kind of logger/collectors are you using? I used to try the GCP StackDriver, users only need to log stdout/stderr in JSON format.

SGTM.

[2022-11-18 05:02] aseaday commented on #157
Maybe we could design a interface such as:
[code]

[2022-11-18 05:24] VoVAllen commented on #157
I think in serving scenario, logs are handled by k8s. Such as a deamonset, or a sidecar container to send the logs to remote API endpoint.
Is there anything special that envd needs take care of? I think the only thing we need to support here is the log file path?

[2022-11-18 07:23] VoVAllen commented on #1177
Support envd run on envd server and design support for distributed job

[2022-11-20 14:55] cutecutecat commented on #1195
I think maybe an additional checker can be added to func `BuildFunc()`
https://github.com/tensorchord/envd/blob/5efb0b12b98e3000d0ddc6ef015734e65411ac80/pkg/builder/build.go#L54

after the cache importer is generated.

The checker will fetch all available version of images, and do a fuzzy search. If match failed, it will still raise an error, but with the hint of best version.

This lib can be use

[2022-11-21 10:03] #636 closed

[2022-11-21 10:25] kemingy commented on #157
I'm trying to make it compatible with the current interface.

A draft for the envd file:

[code]

This use the example file from mosec:
* service: https://github.com/mosecorg/mosec/blob/main/examples/resnet50_server_msgpack.py
* client: https://github.com/mosecorg/mosec/blob/main/examples/resnet50_client_msgpack.py

[2022-11-21 13:49] #1127 closed, assigned to nobody

[2022-11-21 14:04] gaocegege commented on #157
Should we make dev and conda in base? Or should we split base to several funcs?

[2022-11-22 03:17] kemingy commented on #157
I think the `dev` is highly related to the base image. `conda` could be another function.

[2022-11-22 07:57] cutecutecat opened #1219 "bug: no latest tag released"
## Description
`GetVersionForImageTag()` will lead to `latest` tag when at dev branch.
It is used to fetch `tensorchord/envd-sshd-from-scratch`, `docker.io/%s/python-cache:envd-%s-cuda-%s-cudnn-%s"` and `docker.io/%s/python-cache:envd-%s"`, but all of them have no `latest` tag at all.

https://github.com/tensorchord/envd/blob/5e42b0a6039be75c2fa13c2b33799789966c40b7/pkg/version/version.go#L68

##

[2022-11-22 08:02] kemingy commented on #1219
It's not a bug. It's a ~feature~.

This happens to lots of developers. Mainly because they don't have all the git tags locally.

You can try to fetch all the tags and test with `make && ./bin/envd version`

[2022-11-22 08:03] kemingy commented on #1219
But I agree that the current versioning mechanics is unfriendly to new developers.

Not sure if we can refactor it to a more convenient way.

[2022-11-22 08:30] #1219 closed

[2022-11-22 09:50] oocococo commented on #1105
@aseaday I make it work by installing TensorRT.tar manually with the official tutorial (https://docs.nvidia.com/deeplearning/tensorrt/install-guide/index.html#installing-tar). But during the installation process, things like `ldconfig` also makes me confused. Maybe envd can do all these things automatically?

[2022-11-22 09:52] aseaday commented on #1105
Hi, I am discussing with TensorRT team about old version's pacakge management. I will help you to handle this problems this week. `static link` is really a hard thing for AI/ML engineers.

[2022-11-22 10:42] VoVAllen commented on #157
` dev=True, conda=True` looks a bit weird. Can we merge them?

Possible proposal:
- `builtin_packages=dev()` and `dev` is an internal function which returns a list of packages such as `['sshd', 'conda']`

[2022-11-22 10:50] kemingy commented on #157
What should users do with the returned packages? Or should we provide the all-in-one `dev_environment()`?

[2022-11-22 10:52] gaocegege commented on #157
I think we only embed the sshd and starship for users. Is there any other packages?

[2022-11-22 11:15] VoVAllen commented on #157
It's just the default options. User can do anything they want. Common scenario I think will be custom base image + nothing extra from envd

[2022-11-22 11:26] kemingy commented on #157
The problem is that this may return a lot of packages. That will introduce lots of boilerplate code. I think it should be easy to set up the common basic environment for dev and serving. Hopefully in one or two lines. Then they can add whatever they need.

[2022-11-22 11:32] VoVAllen commented on #157
What do you mean by boilerplate code? And what would the `common basic environment` look like?

[2022-11-22 11:35] kemingy commented on #157
Do you mean users should pop items from `builtin_packages=dev()` to disable them? That's hard to implement for the current design. Because we don't use any returned values except for `include`. Otherwise, users need to specify which one they want to use, that's what I mean by boilerplate code.

[2022-11-22 11:50] VoVAllen commented on #157
User can directly do `buildin_packages=[]` if nothing needed, or `buildin_packages=['conda']` if he needs conda. However the possible item here will be limited

[2022-11-22 11:53] kemingy commented on #157
But this is weird for starlark. Others work like a function, but this is a global variable if I understand correctly.

[2022-11-22 11:55] VoVAllen commented on #157
Actually I mean `base(buildin_packages=[])` instead of `base(dev=True, conda=True)` 😲

[2022-11-23 01:49] gaocegege commented on #481
@all-contributors Please add @suyanhanx for the doc update.

[2022-11-23 06:24] gaocegege commented on #157
https://github.com/tensorchord/envd/issues/541#issuecomment-1301581009

[2022-11-23 08:06] kemingy commented on #157
Idealy, we don't need to distinguish among `dev`, `serving`, `custom` envs.

We should provide the atomic functions like:
- `dev_tools()`
- `install.conda()`
- `install.python()`
- etc.

Users can choose what they like. We only maintain the default dev env remote cache. (It's only useful for the 1st build)

I'll be working the implementation.

[2022-11-23 14:51] VoVAllen opened #1223 "bug: failed to install starship without proxy"
## Description

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-11-24 08:56] gaocegege commented on #1176
[code]

The index generated by https://github.com/awslabs/soci-snapshotter

[2022-11-24 09:21] gaocegege commented on #1176
About what the snapshot is:

https://github.com/containerd/containerd/blob/main/docs/content-flow.md

[2022-11-24 09:45] gaocegege opened #1225 "feat(CLI): Add repro functionality to debug command"
## Description

https://github.com/moby/buildkit/blob/master/docs/build-repro.md

[code]

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-11-24 09:49] gaocegege opened #1226 "chore(buildkit): Store metadata in image attestation storage, instead of the image label"
## Description

https://github.com/moby/buildkit/blob/master/docs/attestation-storage.md

Buildkit supports creating and attaching attestations to build artifacts. These attestations can provide valuable information from the build process, including, but not limited to: [SBOMs](https://en.wikipedia.org/wiki/Software_supply_chain), [SLSA Provenance](https://slsa.dev/provenance), build logs, etc.

W

[2022-11-24 11:52] cutecutecat commented on #1176
Difference of stargz/nydus:
- https://github.com/dragonflyoss/image-service/issues/50

Design report:
- estargz: https://github.com/containerd/stargz-snapshotter/blob/main/docs/estargz.md
- nydu: https://github.com/dragonflyoss/image-service/blob/master/docs/nydus-design.md

Pros & Cons:
TODO

[2022-11-24 11:54] gaocegege commented on #1176
@cutecutecat  Are you interested in this? You can pick it up. And I'd appreciate it.

[2022-11-24 12:05] cutecutecat commented on #1176
Yes, I would like to pick it. Are there anything else that need to be investigated?

As we have known buildkit can built both of them, I think I could build the large image  by `buildctl` and test the time cost and size?
- #1086
- #51

[2022-11-24 13:41] cutecutecat commented on #1176
Nydus is conflict with `--export-cache` and `--import-cache`, is this acceptable in envd? @gaocegege

ref: https://github.com/moby/buildkit/blob/master/docs/nydus.md and https://github.com/moby/buildkit/issues/2046

[2022-11-24 14:07] cutecutecat commented on #1176
# Prefetch

Maybe we could use https://github.com/docker-slim/docker-slim to do a scan of some typical ML training case, in order to pick which file is hotspot and need to be prefetched.

[2022-11-25 01:11] gaocegege commented on #1176
I think we can verify the benifits of theses tools. For example, we can run a shell in tensorflow. And see the startup time.

[2022-11-25 02:36] gaocegege commented on #157
TODO:

- research conda
- research UID

BTW, how to handle the envdlib in the new design? Will these be in a new subgraph, or use the default graph directly?

[2022-11-25 02:39] kemingy commented on #157
Still the default graph, I think. It should be compatible.

[2022-11-25 02:46] aseaday commented on #157
I have kind of concern about complexity in default graph. But we could refactor it after all ir features seems stable.

[2022-11-25 07:33] aseaday opened #1229 "feat: support for customized binary"
## Description

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-11-25 07:36] kemingy opened #1230 "feat: CUDA 10 support"
## Description

* base image: nvidia container registry or docker hub
  * only has Ubuntu:18.04
* alternative way to install?

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-11-25 07:41] kemingy opened #1231 "bug: envd dones't have the arm based horust"
## Description

* release an ARM base image remote caceh

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-11-25 07:51] #666 closed

[2022-11-25 08:15] VoVAllen commented on #1231
Check docker on Apple silicon arch

[2022-11-25 09:21] xieydd opened #1234 "feat: Support import existed local image for `envd up` or `envd run`"
## Description
If I have build an image via `envd build`, but it can not be used in `envd up` or `envd run`.

I think this is a point that can be optimized. Otherwise i can only use command like docker run to start the environment, but it is not  be managed via envd.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-11-25 09:23] aseaday commented on #1234
Thanks for your issue, we could talk here about how to resolve this problems.
A direct idea as you mentioned in discord is
[code]

[2022-11-25 09:40] kemingy commented on #1234
`envd run` is taken up for "Spawns a command installed into the environment".

I think it's also related to the build cache. Exec `envd up` on the same envd file should be able to use the previously built image, unless the file has been changed.

[2022-11-25 09:46] xieydd commented on #1234
Yeah, if the build file is not updated, envd up on the same envd file should be able to use the previously, just like Dockerfile.
But it looks like doesn`t work.

Maybe i can reproduce it.

[2022-11-25 09:53] aseaday commented on #1234
Could you gimme your envd files

[2022-11-25 15:16] xieydd commented on #1234
`build.envd`
[code]

`requirements.txt`
[code]

[2022-11-26 02:54] gaocegege commented on #1234
Maybe we can introduce a new command `envd start`

[2022-11-28 02:55] gaocegege commented on #340
https://github.com/github/roadmap/issues/528

GitHub supports M1 now (in beta)

Let's give it a try.

[2022-11-28 06:57] gaocegege commented on #340
https://dev.to/thewraven/universal-macos-binaries-with-go-1-16-3mm3 I am creating a universal bin for the build.

[2022-11-28 07:42] cutecutecat commented on #1176
`golang:1.18-alpine` is used to build and run a simple `hello.go` to test Golang building cost of stargz.
`mskwyditd/pytorch-cuda-python3.1` is used to run a simple `train.go` to test Python building cost of stargz, waiting to be finished, as I am finding a good example of model training.

Image | File | Pull | Run first time | Run second time
-- | -- | -- | -- | --
golang:1.18-alpine | hello.go |

[2022-11-28 07:58] gaocegege commented on #340
https://github.com/gaocegege/envd/actions/runs/3562709880/jobs/5984732217 It works!

Let's summarize the change in my personal fork and submit a PR here.

[2022-11-28 08:02] gaocegege commented on #1176
It's awesome!

[2022-11-28 09:06] #340 closed

[2022-11-28 09:10] gaocegege commented on #340
I am publishing v0.2.5-rc.1, which should supports arm64 in macOS.

[2022-11-28 09:11] gaocegege commented on #1231
We should verify if containers in macOS m1 are running on x64, or arm.

[2022-11-28 09:11] gaocegege commented on #1231
#dibs

[2022-11-28 09:43] bonito-skipjack opened #1238 "bug: pip install failed"
## Description
Distributor ID:	Debian
Description:	Debian GNU/Linux 11 (bullseye)
Release:	11
Codename:	bullseye
Python 3.11.0
pip 22.3.1
Docker version 20.10.21, build baeda1f
Linux debian-gnu-linux-11 5.10.0-19-arm64 #1 SMP Debian 5.10.149-2 (2022-10-21) aarch64 GNU/Linux

pip install --pre --upgrade envd
Collecting envd
  Using cached envd-0.2.5rc1.tar.gz (264 kB)
  Preparing metadata (setup.py

[2022-11-28 09:58] gaocegege commented on #1238
Thanks for the issue!

Are you running on X86_64 or ARM64?

[2022-11-28 09:58] gaocegege commented on #1238
Oh I see. ARM.

[2022-11-28 09:58] kemingy commented on #1238
Thanks for your feedback. So far, we don’t have Linux ARM release. You can
try to build from the source code by installing golang and run the pip
install again.

On Mon, 28 Nov 2022 at 17:43, Bu ***@***.***> wrote:

[2022-11-28 10:01] gaocegege commented on #1238
[code]

Here we can have a new branch to copy `dist/envd_linux_arm64/envd` to `bin/envd`. Then upload it.

[2022-11-28 14:15] bonito-skipjack opened #1239 "bug: Install numpy failed through envd-quick-start$ envd up"
## Description
e x e
## Reproduction

## Additional Info

[2022-11-28 14:23] gaocegege commented on #576
I think we should support nerdctl, especially for lima users.

[2022-11-28 14:24] gaocegege commented on #576
Lima works like a charm on apple M1. And the container runtime CLI is nerdctl by default.

[2022-11-28 14:26] gaocegege commented on #1239
Thanks for the issue! :tada: :+1:

ARM containers are not supported yet.

Ref #1231

[2022-11-29 02:50] bonito-skipjack opened #1240 "bug: The base os image version is not correct"
## Description
In build.envd states ubuntu 22.04 as base os, but after start up the container, the os is ubuntu 20.04
Inside container execute cat /etc/issue  got beneath output
Ubuntu 20.04.5 LTS \n \l
## Reproduction
envd up
## Additional Info
envd version
envd: v0.2.5-rc.1
  BuildDate: 2022-11-28T09:07:39Z
  GitCommit: 69fe6ce6ffa15deba958fd3252137dab2a62951e
  GitTreeState: clean
  GitTag: v0.

[2022-11-29 02:50] #1238 closed

[2022-11-29 02:53] xieydd commented on #1240
[code]

Do have this problem.

[2022-11-29 02:55] kemingy commented on #1240
Yep. It's hard-coded. Will be fixed in #1228.

[2022-11-29 03:27] gaocegege commented on #1231
The docker daemon in docker desktop is x86-64, while the default VM in lima is arm64.

Thus we do not support lima default machine for now. https://github.com/lima-vm/lima/blob/master/docs/multi-arch.md is needed.

[2022-11-30 05:08] aseaday opened #1241 "bug: torch installed without cuda support"
## Description
[code]

[2022-11-30 05:09] gaocegege commented on #1241
/cc @VoVAllen @kemingy

[2022-11-30 05:11] aseaday commented on #1241
![image](https://user-images.githubusercontent.com/3927355/204712797-0bd13a17-2f44-4d97-b131-34d6d6dd1c79.png)

[2022-11-30 06:33] VoVAllen commented on #1241
What's the error message?

[2022-11-30 07:47] cutecutecat commented on #1241
I failed to reproduce `failed with initial frozen solve`
![image](https://user-images.githubusercontent.com/19801166/204736780-dfaedd8e-6894-479e-b26a-6b2e5c7060d3.png)
![image](https://user-images.githubusercontent.com/19801166/204737016-a151d25b-3e6b-4f08-92fd-19283883d85e.png)

[2022-11-30 07:49] aseaday commented on #1241
It may be caused by cache. The error is that I didn't install a torch with cuda support.

[2022-11-30 07:50] kemingy commented on #1241
Why do you need `install.cuda(version="11.2.2", cudnn="8")` and `"cudatoolkit=10.2"` at the same time?

[2022-11-30 07:51] aseaday commented on #1241
I don't know wether we can install.cuda version 10.2

[2022-11-30 08:10] kemingy commented on #1183
refer to: https://github.com/moby/buildkit/blob/18879bc80c235d7eba6610dc94cf54d543e2328d/examples/dockerfile2llb/main.go#L12

[2022-11-30 11:19] kemingy opened #1242 "bug: cannot inherit USER from the base image"
## Description

Currently, we are using the following code to get the Env from the base image:

https://github.com/tensorchord/envd/blob/a6b26ad61f49c16f12cca5cab1c4342f55e0865e/pkg/lang/ir/system.go#L239-L252

But cannot get the USER from this interface.

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with t

[2022-11-30 11:25] gaocegege commented on #1242
The logic in dockerfile frontend is here https://github.com/moby/buildkit/blob/master/frontend/dockerfile/dockerfile2llb/convert.go#L426

Docker resolves the image config for every stage.

[2022-11-30 14:56] kemingy opened #1244 "bug: debug field key is invisible under light theme"
## Description

`envd -debug up`

not selected
![image](https://user-images.githubusercontent.com/12974685/204831031-8055eb6e-6a31-476c-b34b-e09756b40470.png)

selected
![image](https://user-images.githubusercontent.com/12974685/204831186-8f4da0c9-4ad2-4a77-9835-00c059378328.png)

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We pri