[2022-04-11 09:05] gaocegege opened #1 "feat(lang): Support IDE"
## Description

vscode remote, jupyter and terminal are the most used tools for data scientists to develop models. Thus we need to support them as first-class object.

## Feature lists

- Support vscode remote, jupyter, ssh, and other possible editors
- Support plugins for editors (e.g. python plugin for vscode remote)
- Support other configurations for the editors (e.g. TCP port used or jupyter p

[2022-04-11 09:19] gaocegege opened #2 "chore(README): Name of the project"
We need to brainstorm the name of the project. MIDI is not friendly for SEO.

[2022-04-12 03:10] gaocegege opened #3 "feat(lang): Support CUDA versions"
## Description

Users need to specify os and lang

## Acceptance Criteria

- [x] #20
- [ ] Support more OS and language

[2022-04-12 03:12] gaocegege opened #4 "feat(lang): Install Dependencies"
## Description

We need to provide built-in support for dependencies.

## Feature lists

- System dependencies
- PyPI depencies (and conda)
- Cache

[2022-04-12 03:13] gaocegege opened #5 "feat(lang): Data Volume Mount"
## Description

Users need to get the data to run the training jobs. Thus the build language needs to support it

## Feature lists

- Runtime fetch. We should not place data in the output artifact. Instead, we fetch the data when the container is initialized.
- Credentials (per-user maybe) to get the data from S3 or other OSS.

[2022-04-12 03:22] gaocegege opened #6 "feat(lang): Support Source Code Management"
## Description

Code may be one of the first-class objects in the build language. The code will exist in the resulting container and users develop models and update them. After the code is changed, you can commit and push to remote.

[code]

## Feature lists

- [x] #23
- [ ] Support public repos
- [ ] SSH keys to support private repos
- [ ] Cache if the repo exists locally

[2022-04-12 03:24] gaocegege opened #7 "feasibility-research(lang): Distributed Training"
## Description

Investigate if we should or can support distributed training. It is in low priority since most users do not need distributed DL training.

[2022-04-12 03:26] gaocegege opened #8 "feat(lang): Support Optional Dependencies"
## Description

CUDA and other runtime dependencies are optional. Runtime override also helps us in this scenario like #1

[2022-04-12 03:29] gaocegege opened #9 "feat(CLI): Support denpendency sync command"
## Description

Users may install some new dependencies in the environment and they are not tacked by the declarative manifest file. We need to support a command like `MIDI sync` to sync the change to the manifest file.

[2022-04-12 03:31] gaocegege opened #10 "feat(lang): Support Lifecycle Management and Hooks"
## Description

For example, users need to make sure that the code change is committed and pushed before the environment is destroyed. Thus we need to support rules to define lifecycle hooks.

[2022-04-12 03:32] gaocegege opened #11 "feat(lang): Support runtime execution targets"
## Description

Users want to define the entrypoints e.g. `MIDI serve` to run some user-defined logics.

[2022-04-12 03:36] gaocegege opened #12 "feat(CLI): Support dependency list command"
## Description

Users want to know all the dependencies in the environment. We can provide a command like `MIDI dependency list` to list them.

[2022-04-12 03:49] gaocegege opened #13 "feat(runtime): Cull Idle Environments"
## Description

Idle environments should be culled.

[2022-04-20 01:04] gaocegege opened #16 "feat(lang): Support SSH"
## Description

Support ssh with rules to attach into the environment

Ref #1

## Feature lists

- [x] Support setting up the sshd server in the container
- [ ] Port forward from the container to localhost.

[2022-04-20 01:09] gaocegege opened #17 "feat(lang): Support Jupyter"
## Description

Support jupyter to develop.

## Feature lists

- Support jupyter rules
- Support custom config like port, pwd and so on.

Ref #1

[2022-04-20 01:14] gaocegege opened #18 "feat(lang): Support VSCode"
## Description

Support vscode remote-ssh to develop

## Feature list

- Support vscode rule
- Support plugin config

Ref #1

[2022-04-20 01:21] gaocegege opened #19 "chore(README): Prototype the README"
We can prototype the desired README although there is no runnable code, to help us understand the benefit of the project and the features that we need.

[2022-04-21 07:13] gaocegege opened #20 "feat(lang): Support ubuntu 20.04 and python 3.8"
- No command

[2022-04-21 07:20] gaocegege opened #21 "feat(lang): Support default CUDA"
## Description

- CUDA command
- Decide if we install cuda in base image or install it as a dependency

[2022-04-21 07:37] gaocegege opened #22 "feat(lang): Support per-user config and runtime override"
- Mirrors
- IDE configs

[2022-04-21 07:41] gaocegege opened #23 "feat(lang): Support mounting code into the container"
- Design command
- Mount into the container in runtime

[2022-04-21 08:35] gaocegege opened #24 "feat(CLI): Support MIDIfile"
## Description

Support MIDIfile as the input, instead of the hard coding file name in the code.

[2022-04-21 08:51] gaocegege opened #25 "feat(CLI):Export image into the docker daemon"
## Description

Now the resulting image is not kept in the local docker daemon. We should keep it there.

[2022-04-21 09:17] gaocegege opened #27 "discussion(errors): Use github.com/cockroachdb/errors instead of pkg/errors"
## Description

https://github.com/tensorchord/MIDI/pull/14#discussion_r854934498

[2022-04-21 10:23] #20 closed, assigned to gaocegege

[2022-04-21 13:44] gaocegege opened #28 "feat(CLI): Bootstrap buildkit instead of hard code unix domain socket"
## Description

[code]

We should avoid it.

We can create the buildkitd container to boostrap.

[2022-04-21 14:12] gaocegege opened #29 "chore(error): Suggest setting env var DOCKER_API_VERSION when docker client fails to create."
## Description

We need to init a docker client to load the image into the docker host. But we may got the error here

[code]

We should suggest setting the envvar DOCKER_API_VERSION to avoid the issue when encountering this.

export DOCKER_API_VERSION=1.41

[2022-04-21 14:21] VoVAllen opened #31 "Discussion(lang): Expose low-level primitive of buildkit in starlark"
Discuss whether we can expose the lower level primitive of buildkit into starlark

For example, the torch installation logic is complex. https://pytorch.org/get-started/locally/

We can write the logic as below, which is quite straightforward
[code]

@gaocegege

[2022-04-22 02:25] gaocegege opened #32 "feat(CLI): Support build context dir flag"
## Description

Just like `docker build ./subdir`, we need to support users to use other dirs instead of the current working dir to build MIDI.

[code]

Ref https://github.com/tensorchord/MIDI/pull/43#discussion_r856291581

[2022-04-22 02:25] #25 closed, assigned to gaocegege

[2022-04-22 02:48] gaocegege opened #34 "chore(test): Add unit test and integration test"
## Description

We need set up the test process and add more unit/integration test cases. There are many interfaces in the code, thus it should be easy to mock them and test the main logic.

## Acceptance Criteria

- [ ] test for IR and frontend
- [x] test for cache
- [ ] test for docker client

[2022-04-22 02:54] gaocegege opened #35 "feat(ecosystem): Add vscode plugin for MIDI"
## Description

We need a new plugin in vscode to lint/auto-complete the MIDI lang.

- [ ] Linting
- [ ] Auto-complete
- [ ] highlight

[2022-04-22 03:26] gaocegege opened #36 "chore(makefile): Add a new target build-and-deploy and disbale CGO"
Now we enable CGO in target `build-local`, but it is not friendly to develier. We can write a new target build-and-deliver to disable CGO

/chore

[2022-04-22 06:09] #24 closed, assigned to gaocegege

[2022-04-22 06:45] gaocegege opened #38 "feat(lang): Support run with order"
## Description

[code]

Users may need to run some specific commands. We should support that.

[2022-04-22 09:11] gaocegege opened #40 "feasibility-research(cli): Show progress gracefully"
## Description

Now the progress is ugly, we should show them in a fancy way.

[2022-04-22 16:12] #4 closed, assigned to gaocegege

[2022-04-23 05:09] #27 closed, assigned to Thrimbda

[2022-04-23 05:15] gaocegege opened #46 "chore(github): Setup github action"
priority/low

[2022-04-23 05:16] #46 closed, assigned to gaocegege

[2022-04-23 06:14] gaocegege opened #47 "tech-debt(lang): Refactor IR"
Now we use a simple struct to keep the packages and dependencies. It works in most cases. But if users need to run some custom commands, the expression can be hard to support in the current design.

Thus we may need to re-design this in the future.

[2022-04-23 08:59] VoVAllen opened #48 "tech-debt(ssh): Hard-coded midi-ssh"
Currently the SSH is hard-coded at examples/ssh_keypairs. We may need to make it flexible to configure.

[2022-04-24 03:18] #21 closed, assigned to gaocegege

[2022-04-24 03:28] gaocegege opened #49 "feat(CLI): Support up command"
up command runs the container and ssh into it.

## Feature lists

- [x] docker container creation
- [x] ssh

[2022-04-24 03:36] #16 closed, assigned to VoVAllen

[2022-04-24 06:21] gaocegege opened #51 "feat(docker): Support buildkitd moby worker in dockerd 22.06-beta"
## Description

[code]

The image is built in buildkit, and it does not exist in the docker host. Thus we need to pipe the buildkit build image into the docker host. It takes about 100s for a 20G base image docker load. It is too slow. We need to optimize it.

[2022-04-24 10:27] gaocegege opened #53 "feat(lang): Support scp"
## Description

scp is not supported for the container. We should support it.

[2022-04-24 10:40] #49 closed, assigned to gaocegege

[2022-04-25 01:53] gaocegege opened #55 "bug(CLI): midi up does not ssh successfully"
## Description

I think the sshd server may be not running when the client is trying to connect. We can add some retry to avoid it.

[code]

## Additional Info

[2022-04-25 02:35] gaocegege opened #56 "bug(lang): Consider a good way to parse vscode plugins"
## Description

Now we have a simple way to extract the publisher/version/extension from the frontend func calls. But it does not always work

For example `dbaeumer.vscode-eslint-1.1.1`. Current implementation gets the version `eslint-1.1.1`

We need to find the right first `-`, instead of the left first `-` for `indexExtension`

[code]

[2022-04-25 05:35] #18 closed, assigned to gaocegege

[2022-04-25 05:35] gaocegege opened #57 "feat(docker): non-root users"
## Description

https://github.com/tensorchord/MIDI/pull/54#discussion_r857265551

[2022-04-25 05:39] #53 closed, assigned to nobody

[2022-04-25 05:49] VoVAllen opened #58 "chore(fs): Mount file system"
To mount the folder into the container, several options available:
- `docker run -v ...` We map the host dir to the container at runtime
- `sshfs` Use volume plugin to mount the fs through ssh(sftp). Worse performance comparing to `-v` solution, but works when the container runs on the different machines

[2022-04-25 05:57] gaocegege opened #59 "feat(lang): Support package manager mirror"
## Description

We need to support mirrors in the frontend lang.

[code]

[2022-04-25 06:29] gaocegege opened #61 "feat(lang): Support built-in variables"
## Description

[code]

We need to provide some built-in variables to support conditional build like this

[code]

[2022-04-25 07:11] #22 closed, assigned to gaocegege

[2022-04-25 07:16] gaocegege opened #63 "feat(lang): Support zsh"
## Description

[2022-04-25 08:12] gaocegege opened #64 "feat(CLI): Support auto-complete"
## Description

Support bash/zsh auto complete

[2022-04-25 11:13] gaocegege opened #66 "documentation(example): Add a real example"
## Description

We should add a real example, maybe a MIDI file for ResNet model training, to illustrate what MIDI does.

priority/low

[2022-04-26 01:26] #28 closed, assigned to gaocegege

[2022-04-26 08:28] #59 closed, assigned to gaocegege

[2022-04-26 08:33] #36 closed, assigned to nobody

[2022-04-26 12:57] gaocegege opened #69 "bug(CLI): Check if the buildkitd connection works."
We do not check if the client can connect to the buildkitd in bootstrap command.

priority/medium .

[2022-04-26 13:30] #69 closed, assigned to nobody

[2022-04-27 08:01] gaocegege opened #74 "tech-debt(CLI): Remove hard-coded ssh key in MIDI"
## Description

Ref #48

We hard-coded the ssh key in MIDI and sshd package. We should remove them.

[2022-04-27 08:14] VoVAllen opened #75 "bug: Run midi bootstrap again withoud dockerd will cause panic"
## Description
at 758bc0ff6b0db04593ca9fafb2fbb78805bc57d2

Error message
[code]

## Reproduction
Run `DOCKER_API_VERSION=1.41 ./bin/midi bootstrap` second time on my machine.
I just realized the dockerd is not launched when I run `midi bootstrap`

## Additional Info

[2022-04-27 11:33] gaocegege opened #76 "feat(docker): Add label to resulting image"
## Description

LABEL "vendor"=midi"
LABEL "mode"="development"

[2022-04-27 11:33] gaocegege opened #77 "feat(docker): Add label to resulting image"
## Description

LABEL "vendor"=midi"
LABEL "mode"="development"

[2022-04-27 12:30] Triple-Z opened #78 "bug: can't bootstrap MIDI without a default MIDI config"
## Description

Can't bootstrap MIDI without a default MIDI config (`~/.midi/config.MIDI`).

## Reproduction

[code]
## Additional Info

[2022-04-28 05:45] #78 closed, assigned to gaocegege

[2022-04-28 05:46] #48 closed, assigned to gaocegege

[2022-04-28 06:31] #55 closed, assigned to gaocegege

[2022-04-28 14:51] Triple-Z opened #86 "bug: cannot bootstrap in macOS Intel 12.2.1 (21D62)"
## Description

MIDI bootstrap operation occurs an error in macOS.

[code]

## Reproduction

Run the `midi bootstrap` in macOS.

## Additional Info

[code]

<img width="698" alt="image" src="https://user-images.githubusercontent.com/16285716/165780425-c5208c16-7c91-4a8c-885b-b91ad1c807e1.png">

[2022-04-29 02:10] #86 closed, assigned to gaocegege

[2022-04-29 02:24] gaocegege opened #88 "feat(CLI): shutdown the MIDI environment"
## Description

[2022-04-29 02:25] gaocegege opened #89 "feat(CLI): Support multiple environments"
## Description

Users may develop multiple modes at the same time. Thus we need to support multiple environments.

[2022-04-29 02:30] gaocegege opened #90 "feat(lang): Support working directory"
## Description

Users can specify working dir, then there is no need to cd into the dir when attached to the ssh container

[2022-04-29 07:49] gaocegege opened #91 "feasibility-research(lang): Refactor frontend language"
## Description

priority/high

[2022-04-29 09:32] gaocegege opened #92 "feat(CLI): Support context"
## Description

context is used to switch between the backends (e.g. docker, kubernetes)

[2022-05-02 07:38] gaocegege opened #94 "enhancement(CLI): bootstrap buildkitd log unexpected format"
## Description

The format is broken.

![origin_img_v2_2c555336-1920-49f7-b4e0-9155938780bg](https://user-images.githubusercontent.com/5100735/166200581-7f2de0ac-8f20-4cb8-b854-b51eda701c62.jpg)

[2022-05-02 09:01] gaocegege opened #95 "bug(upstream): repository not signed when run apt update in nvidia/cuda image"
## Description

Ref https://forums.developer.nvidia.com/t/notice-cuda-linux-repository-key-rotation/212771

#0 8.039 E: The repository 'https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  InRelease' is not signed.

[2022-05-02 12:35] Thrimbda opened #96 "chore(lint): there are a bunch of unchecked error return value"
## Description
after a `make lint`:
[code]

## Reproduction
`make lint`

## Additional Info
are these unchecked error returns intended?

[2022-05-02 13:33] Thrimbda opened #98 "feat(CLI): adopt XDG Base Directory spec"
## Description
FYI: [XDG spec](https://wiki.archlinux.org/title/XDG_Base_Directory)
for example, config would be in `~/.config/MIDI`
and the cache would be in `~/.cache/MIDI`
as for program generated data would be in `~/.local/share/MIDI`

[2022-05-03 01:06] #96 closed, assigned to Thrimbda

[2022-05-03 01:08] gaocegege opened #99 "chore(CI): Run linter in GitHub Actions"
/cc @Thrimbda

Ref #96

Thrimbda fixed lots of linting errors in #97 , and we should run the linter for every PR to keep linter continuous happy :smile:

[2022-05-05 01:42] gaocegege opened #101 "feat(CLI): Support SSH(attach) command"
## Description

midi ssh

[2022-05-06 07:58] gaocegege opened #105 "feat(lang): Mount host dir into the image/container"

[2022-05-06 10:11] gaocegege opened #106 "feat(lang): Support zsh plugins"
## Description

Ref #63

[2022-05-07 01:48] #63 closed, assigned to gaocegege

[2022-05-07 04:59] gaocegege opened #108 "discussion(docker): Build envd own base images"
We are using docker.io/python:3.8 as default image for CPU. But it is too large.

Maybe we can refer to https://github.com/aws/aws-lambda-base-images to set up our own base python image.

[2022-05-07 06:53] gaocegege opened #109 "feat(CLI): Pause the environment"
## Description

We can pause the environment then resume it later.

[2022-05-07 07:20] gaocegege opened #111 "feat(docker): init process to manage multiple processes"
## Description

Now we run sshd, jupyter and some other background processes in the container. We need to have a init process to manage them

[2022-05-07 07:23] #17 closed, assigned to gaocegege

[2022-05-07 07:41] gaocegege opened #112 "feat(lang): Setup git credentials in containers"
## Description

We may need git to commit and push in the MIDI environment, we should support configuring git ssh keys or other auth methods.

[2022-05-07 08:12] #88 closed, assigned to nobody

[2022-05-07 08:21] #105 closed, assigned to gaocegege

[2022-05-07 08:23] #95 closed, assigned to nobody

[2022-05-07 08:47] #58 closed, assigned to nobody

[2022-05-07 10:45] gaocegege opened #114 "feat(vscode): Configure target in vscode remote ssh"
## Description

![image](https://user-images.githubusercontent.com/5100735/167250999-6b6a5657-429c-4baf-99ce-36342fb1e6cc.png)

We need to write the .ssh/config manually, then choose the dir in the vscode remote. It is not easy to use.

We should

- [ ] configure ssh target in .ssh/config
- [ ] configure in vscode remote ssh

[2022-05-07 11:04] gaocegege opened #116 "feat(docker): Configure python alias"
## Description

Now `python` does not exist in the container, we have to use `python3` as the command. We could alias python=python3 inside.

[2022-05-07 11:11] #1 closed, assigned to nobody

[2022-05-07 11:19] #64 closed, assigned to nobody

[2022-05-07 13:11] VoVAllen opened #117 "feat(shell): Add prefix in shell to indicate user is in the container environment"
## Description
After midi up, the shell environment is almost identical between inside container vs outside container. We can change the `PS1` environment variable to show something like ` ->(midi dev) MIDI` to let user know they're already in the container env

![image](https://user-images.githubusercontent.com/8686776/167255829-55d35ab6-5bb4-4e7c-93a6-91aa83ce0ac3.png)

[2022-05-07 13:22] #23 closed, assigned to VoVAllen

[2022-05-08 08:48] #66 closed, assigned to gaocegege

[2022-05-09 03:03] gaocegege opened #121 "feat(lang): Support ssh key"
## Description

We do not auth ssh connections now. It is not secure. We should support ssh-key injection in the build lang.

[2022-05-09 03:35] #75 closed, assigned to nobody

[2022-05-09 04:51] #29 closed, assigned to nobody

[2022-05-09 04:52] #74 closed, assigned to nobody

[2022-05-09 07:03] gaocegege opened #124 "feat(CLI): Support debug command"
## Description

We need to support debug commands to help users debug the build artifact easily.

## Use case

Users may encounter problems during the build process. And the error is hard to resolve since the build process is complex.

As the envd user, I want to get the failed build artifact running, thus I can debug it in the running environment to know why it fails.

Ref https://github.com/ktoc

[2022-05-09 07:24] gaocegege opened #125 "enhancement(vscode): error handling when download plugins"
## Description

When we get an invalid plugin, the download also works but the visix content may be:

[code]

Then the code panics because we want to unzip such a file.

We need to have better error handling in this situation.

[2022-05-09 07:36] gaocegege opened #127 "chore(make): make addlicense does not always work"
The regex `**/*.go **/**/*.go` does not match all go files.

We should fix it.

[code]

[2022-05-09 07:57] #99 closed, assigned to gaocegege

[2022-05-09 08:12] gaocegege opened #128 "feat(CLI): Prune cache (both buildkit and midi cache)"
## Description

We should provide a way to clear the cache.

[2022-05-10 00:53] #56 closed, assigned to gaocegege

[2022-05-10 06:44] #98 closed, assigned to gaocegege

[2022-05-10 14:14] kemingy opened #133 "feat: tutorial to setup the development environment"
## Description

I haven't touched any golang dev tools for about one year. I found that I'm not sure how to set up a suitable golang development environment for this project. (although this project is meant to manage the development environment for machine learning)

Including:

* `CONTRIBUTING.md` page
* golang version
* lint & test tools

Maybe we can provide a Docker image?

[2022-05-11 07:40] #2 closed, assigned to nobody

[2022-05-11 09:38] gaocegege opened #140 "bug(CLI): progress always reorders during the build"
## Description

The map iteration is randomly ordered, thus the order of output is random. We can fix it with slice.

[2022-05-12 08:47] #140 closed, assigned to gaocegege

[2022-05-12 08:57] #32 closed, assigned to nobody

[2022-05-12 09:32] gaocegege opened #143 "feat(CLI): Configure ~/.ssh/config"
## Description

We can config the ~/.ssh/config to ease the usage of envd.

[2022-05-13 00:51] #94 closed, assigned to nobody

[2022-05-13 07:55] #89 closed, assigned to nobody

[2022-05-15 10:25] #76 closed, assigned to nobody

[2022-05-15 10:26] #40 closed, assigned to gaocegege

[2022-05-15 10:33] gaocegege opened #147 "feat(cache): Validate checksum instead of dir exist in cache"
## Description

We think the artifact is cached if the corresponding dir exists in the cache dir. It does not always work. We should use the checksum to validate

[2022-05-16 00:56] gaocegege opened #148 "feat(buildkit): Export cache to registry"
## Description

The build cache can be exported to the registry. We need to investigate the benefits of AI/ML scenarios.

[2022-05-16 03:59] gaocegege opened #149 "feat(lang): Refactor basic syntaxs"
## Description

Now the syntax of the build lang is not great. We need to refactor it.

[2022-05-16 04:10] gaocegege opened #150 "feat(CLI): Handle error gracefully"
## Description

Now we print an error when the command fails. But the error may be printed more than once and the format is not user-friendly. We need to have a better mechanism for it.

[2022-05-16 04:28] VoVAllen opened #151 "epic(observability): Observability in Machine Learning"
Common requirements:
- [ ] Log recording (i.e. when run `python train.py` store stdout/stderr in the log file (or some remote path) )
- [ ] Error handling (i.e. when the python program killed by system, why? OOM? SegFault?)
- [ ] Better to know which line is executed when killed by system (better back trace)
- [ ] System metrics (memory/CPU/GPU statistics)
- [ ] Notify user when the training is fi

[2022-05-16 08:56] #112 closed, assigned to gaocegege

[2022-05-17 03:37] gaocegege opened #154 "feat(CLI): Parallel download vscode and zsh plugins"
## Description

Now we download all dependencies serially, it is not efficient.

[2022-05-17 06:09] #57 closed, assigned to gaocegege

[2022-05-17 08:27] gaocegege opened #156 "chore(docker): Refactor docker container creation logic"
## Description

Now the logic in https://github.com/tensorchord/envd/blob/main/pkg/docker/docker.go is messy. The logic is coupled with lang/IR and other things. We need to refactor it. Maybe we can have a new abstraction named runtime, it wraps docker and ssh to provide clean interfaces.

[2022-05-18 00:59] gaocegege opened #157 "feat(lang): v2 language new design"
## Description

envd is designed to be the development environment for training. But I am thinking if we should support serving.

There are a few things we need to confirm:

- The pain points of environment management in serving
- The current experience
- How to integrate with serving servers
- How to integrate with model monitoring

[2022-05-18 01:03] gaocegege opened #158 "discussion(runtime): Integrate with experiment tracker"
## Description

We need to investigate how to integrate with the experiment tracker smoothly

[2022-05-18 01:05] gaocegege opened #159 "bug(CLI): emoji breaks the column rule in progress writer"
## Description

The print rule of progress writer and compileui writer is broken because of the emoji:

[code]

They are not aligned.

We need to figure out if emoji works well with ANSI escape code and columns.

[2022-05-18 01:17] gaocegege opened #160 "chore(vscode): Investigate if the implementation does not break any license"
- https://code.visualstudio.com/license
- https://cdn.vsassets.io/v/M190_20210811.1/_content/Microsoft-Visual-Studio-Marketplace-Terms-of-Use.pdf

- https://github.com/coder/code-server/issues/990
- https://github.com/microsoft/vscode/issues/81173#issuecomment-533332743

Microsoft VSCode Marketplace has the license, we need to investigate if it works for us. If not, maybe we should use https://ope

[2022-05-18 01:27] gaocegege opened #161 "feat(lang): Support extension alias"
## Description

The extension name is hard to remember: `ms-python.python-2021.12.1559732655`. Maybe we can design a mechanism to support extensions without version tag like this `ms-python.python`

[2022-05-18 09:21] gaocegege opened #165 "feat(CLI): Add a new stage: runtime"
## Description

Now we have compile, build stage. But we do not track the run stage (docker run). We need to have a  separate stage to keep track of the progress.

[2022-05-18 09:23] gaocegege opened #166 "bug(lang): fails to create the container if jupyter is configured but no pypi package installed"
## Description

[code]

The jupyter won't be installed because there is no user-defined pypi package, then the stage is skipped.

[2022-05-18 09:46] gaocegege opened #167 "bug(lang): Failed to install user-defined packages"
It is related to #57

[code]

[2022-05-18 10:02] VoVAllen opened #169 "enhancement(network error): Make error message more informative"
## Description

When the image pulling process is affected by the network issue, the error message is not friendly.

![image](https://user-images.githubusercontent.com/8686776/169013624-d8cd07d7-0abf-4c97-b836-c95ae6dd0f85.png)

[2022-05-18 10:41] VoVAllen opened #170 "bug(pip cache): pip cache is not properly used"
## Description

`WARNING: The directory '/home/envd/.cache/pip' or its parent directory is not owned or is not writable by the current user. The cache has been disabled. Check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.`

![image](https://user-images.githubusercontent.com/8686776/169020758-3a82611f-7c8c-44f2-80b1-65081591e57b.png)

[2022-05-18 10:52] #167 closed, assigned to gaocegege

[2022-05-19 01:06] #147 closed, assigned to gaocegege

[2022-05-19 01:08] gaocegege opened #171 "chore(contributing): Add bot command guide"
We wrote a bot to add labels and assign issues automatically. We need to document how to use it.

[2022-05-19 06:09] #143 closed, assigned to VoVAllen

[2022-05-19 06:09] #166 closed, assigned to gaocegege

[2022-05-19 08:19] #160 closed, assigned to gaocegege

[2022-05-19 08:19] #161 closed, assigned to gaocegege

[2022-05-19 08:35] gaocegege opened #176 "feat(CLI): List environments"
## Description

We should support command `ls` to list the environment:

[code]

Ref #12

[2022-05-19 08:44] gaocegege opened #178 "feasibility-research(runtime): update build.envd automatically when users update the deps in runtime"
For example, the user updates deps in the container. envd can suggest him/her update the build.envd or update it automatically.

It may be possible if the container is run in the local docker daemon. But it may be hard to do it if the backend vendor is kubernetes

[2022-05-19 08:48] gaocegege opened #179 "feasibility-research(runtime): Support kubernetes as the backend vendor"
- [x] #92
- [x] #939
  - [x]  #957
- [ ] https://github.com/tensorchord/envd/issues/530
- [ ] https://github.com/tensorchord/envd/issues/101
- [x] https://github.com/tensorchord/envd/issues/958

[2022-05-20 05:10] gaocegege opened #183 "bug(ssh): Remnant characters on prompt when tab completing with ZSH"
## Description

Sometimes (I cannot always reproduce it) the input/output is out-of-order.

[2022-05-20 12:50] gaocegege opened #184 "feat(lang): Mount git config into the container"
## Description

We need to mount ~/.gitconfig into the container to avoid configuring name and email for git in the container

[2022-05-21 14:55] kemingy opened #185 "feat: provide PyPI package"
## Description

Since most of our users are more familiar with Python environment, maybe we can provide a PyPI package for users to install with `pip`.

It only needs to package the binary file to generate for different platform.

[2022-05-23 02:35] #117 closed, assigned to nobody

[2022-05-23 14:37] terrytangyuan opened #187 "bug: Operation timed out"
## Description

When I tried to run the mnist example, I got `error: Error response from daemon: could not select device driver "nvidia" with capabilities: [[gpu] [nvidia] [compute] [compat32] [graphics] [utility] [video] [display]]`.

I removed `cuda(version="11.6", cudnn="8")` and tried `envd up` again. Then this error occured:

[code]

Next I deleted that container and tried again. The error be

[2022-05-24 01:38] gaocegege opened #191 "enhancement(log): Optimize error when no GPU is found"
## Description

from #187

[2022-05-24 01:39] gaocegege opened #192 "enhancement(example): Add an example for CPU"
Now we only have GPU example, we can add a new CPU one.

[2022-05-24 09:45] gaocegege opened #193 "feat(buildkit): Support build-time HTTP_PROXY"
## Description

[code]

Buildkit supports some build time attrs in its dockerfile frontend. We need to support them in envd.

[2022-05-24 10:26] gaocegege opened #194 "feat(buildkit): Expose envd as a buildkit frontend"
Mocker uses github.com/moby/buildkit/gateway/client instead of github.com/moby/buildkit/client.

It introduces a new abstraction Build func https://github.com/r2d4/mockerfile/blob/140c6a912bbfdae220febe59ab535ef0acba0e1f/pkg/build/build.go#L37

The benefit is that you can do some post-solve logic like this https://github.com/r2d4/mockerfile/blob/140c6a912bbfdae220febe59ab535ef0acba0e1f/pkg/build/b

[2022-05-24 16:01] Triple-Z opened #195 "bug: error in `make lint`"
## Description

[code]

## Reproduction

Run `make lint` on a macOS machine with normal user privilege (`/bin` directory is protected by super user).

## Additional Info

Use double `$` if you want to enter `$` for a shell command in the makefile.

[2022-05-25 01:03] #195 closed, assigned to gaocegege

[2022-05-25 07:16] #77 closed, assigned to gaocegege

[2022-05-25 07:34] #176 closed, assigned to gaocegege

[2022-05-25 10:00] gaocegege opened #200 "bug(jupyter): Port conficts"
We always use 8888 as the default port for jupyte notebook server and expose it in host. Thus the new env cannot be running successfully

[code]

[2022-05-26 03:24] gaocegege opened #201 "feat(CLI): Support push command"
## Description

Push the envd environment to the docker registry.

[2022-05-26 05:15] VoVAllen opened #202 "bug: build failed because of the apt source"
## Description
Meet error when called `envd up`

I previously added `ubuntu_apt` with sjtu sources. Then meets the error below. Then I tried removing that but error still exists.

Envd file
[code]

Error Log
[code]

Original apt_source part
[code]
Seems this is not compatible with the other parts

[2022-05-26 11:48] #116 closed, assigned to gaocegege

[2022-05-28 03:26] gaocegege opened #208 "bug(test): Flakey tests"
https://github.com/tensorchord/envd/runs/6630759945?check_suite_focus=true

[2022-05-28 03:27] #121 closed, assigned to VoVAllen

[2022-05-28 06:31] gaocegege opened #209 "feat(CLI): Set docker mirror when bootstrap"
## Description

When users run `envd bootstrap`, docker mirror should be configured by the flag like `--docker-mirror`

[2022-05-28 07:03] gaocegege opened #210 "refactor(CLI): Refactor app to configure the flags easily."
Now we do not have the mechanism to configure flag value. For example, users can specify ssh keys that are used in the container. But the implementation requires workaround.

We should refactor this.

[2022-05-28 07:28] VoVAllen opened #212 "feat: Use function instead of interpret whole file"
## Description

Currently we run the whole envd file to get the build info. I think it's better to capture it in a function scope, such as `build` as the default name.

Example:
Original
[code]
to
[code]

Then `midi up` will run the build function by default but not  the whole envd file instead

[2022-05-28 08:05] VoVAllen opened #213 "feat(ssh): Config ssh key permanently and globally"
## Description

Users may want to specify ssh key across multiple projects or reuse keys across multiple projects. Currently, we're not sure how they want to config it. Will need some user storys before implementing it.

[2022-05-28 08:18] VoVAllen opened #214 "chore(milestone): Setup 0.1.0 milestone"
Features:

- [x] https://github.com/tensorchord/envd/issues/216
- [ ] https://github.com/tensorchord/envd/issues/213
- [x] https://github.com/tensorchord/envd/issues/209
- [x] https://github.com/tensorchord/envd/issues/192
- [ ] https://github.com/tensorchord/envd/issues/179
- [ ] https://github.com/tensorchord/envd/issues/218
- [x] https://github.com/tensorchord/envd/issues/149
- [ ] https://gith

[2022-05-29 10:35] gaocegege opened #216 "feat(lang): Specify GPU count"
## Description

[code]

[2022-05-29 11:03] gaocegege opened #218 "feat: Add agent to collect metrics in the container (or in the host)"
Some metrics are not available now, e.g. GPU metrics. We may need a agent process in the container or in the host (not sure if NVML is available in the container) to achieve this

[2022-05-30 00:52] #208 closed, assigned to gaocegege

[2022-05-30 06:31] gaocegege opened #220 "discussion(lang): Python or Starlark"
Maybe we can also support python SDK for envd.

[2022-05-30 06:33] gaocegege opened #221 "enhancement(README): illustrate .envd file"
## Description

Users may confuse about how to write the file with `.envd` suffix. We should introduce that the .envd is written by starlark, the dialect of python.

[2022-05-30 15:08] #191 closed, assigned to gaocegege

[2022-06-01 08:25] #200 closed, assigned to gaocegege

[2022-06-01 08:41] #12 closed, assigned to gaocegege

[2022-06-01 08:44] #202 closed, assigned to gaocegege

[2022-06-01 09:37] #212 closed, assigned to VoVAllen

[2022-06-01 14:01] #109 closed, assigned to gaocegege

[2022-06-02 11:17] #187 closed, assigned to nobody

[2022-06-02 11:56] #184 closed, assigned to gaocegege

[2022-06-06 01:08] #127 closed, assigned to nobody

[2022-06-07 10:26] gaocegege opened #241 "feat(CLI): Telemetry in envd"
## Description

Ref https://docs.pingcap.com/tidb/dev/telemetry

We can have a mechanism to collect usage information to help understand how to improve the product.

:warning: Please refer to https://docs.pingcap.com/tidb/dev/telemetry#compliance to make sure that we do not break any law.

[2022-06-08 06:56] #209 closed, assigned to gaocegege

[2022-06-08 08:37] gaocegege opened #244 "enhancement(lang): Add document for language"
We need to write the doc about the `build.envd` since we get the first adopter!

[2022-06-08 09:12] VoVAllen opened #245 "feat(language version): Support language versionning"
## Description

Currently, we're still in the very early stage of the project development. Therefore we may break the current syntax design later. To preserver better backward compatibility, we need to support syntax versioning.

Reference: https://github.com/moby/buildkit/blob/master/frontend/dockerfile/docs/syntax.md#linked-copies-copy---link-add---link

[2022-06-08 10:08] #149 closed, assigned to VoVAllen

[2022-06-08 10:26] gaocegege opened #246 "feat(CLI): envd up a GPU image without GPUs"
## Description

Now we consider the user wants a GPU if `cuda` is called in build.envd. But we may need to support `envd up --no-gpu`.

[2022-06-09 02:19] gaocegege opened #249 "feat(lang): Name of the build manifest"
## Description

Now we use `build.envd` and `config.envd` as the name of the build manifest and config. We should think if there is another option.

[2022-06-09 10:00] #221 closed, assigned to nobody

[2022-06-10 00:58] #244 closed, assigned to nobody

[2022-06-10 02:24] kemingy opened #259 "feat: better PyPI package support"
TODO:

- [x] script to run cross-compile
- [x] add to CI
- [x] setup PyPI account

_Originally posted by @kemingy in https://github.com/tensorchord/envd/issues/258#issuecomment-1151378396_

[2022-06-10 02:25] #185 closed, assigned to kemingy

[2022-06-10 03:25] gaocegege opened #261 "feat(lang): Custom base image"
## Description

Users expect that they can change the base images used by envd.

[2022-06-11 01:12] gaocegege opened #267 "bug(log): Data race"
[code]

[2022-06-11 01:21] #267 closed, assigned to nobody

[2022-06-11 06:52] gaocegege opened #269 "bug(build): Fail to build images on MacOS"
[code]

https://github.com/tensorchord/envd/blob/main/pkg/builder/builder.go#L200 reports an error

The bug is reported by @rudeigerc

I will try to reproduce it today.

[2022-06-11 15:00] gaocegege opened #271 "feat(CI): Enable macOS continuous build"
## Description

[2022-06-11 15:02] gaocegege opened #272 "feat(CLI): envd build exports tar"
## Description

[code]

[2022-06-11 15:12] gaocegege opened #273 "chore(CLI): Check if envd supports M1 CPU"
## Description

We may need to change the logic about arch here

[code]

[2022-06-11 15:28] gaocegege opened #274 "bug(lang): Cannot connect to macOS environment via SSH"
We use the containerIP as the ssh IP in envd, but docker desktop for mac does not support direct connection between the host and the container via containerIP.

Maybe we need a new function `config.ssh` to config the port, then use `localhost` as ssh IP address.

[2022-06-11 15:30] #269 closed, assigned to nobody

[2022-06-11 16:13] kemingy opened #275 "bug: connection timeout for WSL"
## Description

`envd up` cannot connect to the container.

But I can manually connect to the container and play with it.

## Reproduction

Run `envd up` under [envd-quick-start](https://github.com/tensorchord/envd-quick-start)

## Additional Info

- OS: Windows 11 Insider WSL Ubuntu 20.04.4 LTS
- Docker: version 20.10.12, build 20.10.12-0ubuntu2~20.04.1
- Envd: ae16402016f27505d100d820d6a2aeba1aa

[2022-06-11 16:33] gaocegege opened #278 "feat(CD): Deprecate envd base images, use LLB to support envd prerequisite"
## Description

- Migrate ghcr.io/tensorchord/envd-ssh-from-scratch to docker hub
- Move ssh and other envd installation steps to LLB

ghcr.io is too slow.

[2022-06-11 16:47] #274 closed, assigned to gaocegege

[2022-06-12 00:24] gaocegege opened #282 "feasibility-research(runtime): Support the OCI runtime spec-compatible runtime"
## Description

[2022-06-12 00:28] gaocegege opened #283 "feat(CLI): envd doctor command"
## Description

envd will print out status information in `envd doctor`:

- envd version
- Operating system
- Docker host and version
- Kubernetes version
- Type of Kubernetes cluster (Docker for Mac, Microk8s, etc)
- Container runtime

[2022-06-12 00:29] #273 closed, assigned to nobody

[2022-06-12 01:20] #275 closed, assigned to nobody

[2022-06-12 02:19] #133 closed, assigned to nobody

[2022-06-12 13:44] #35 closed, assigned to nobody

[2022-06-12 14:46] gaocegege opened #289 "feat(CLI): envd LSP for vscode-envd extension"
## Description

We need to implement the LSP server to support [vscode-envd extension](https://github.com/tensorchord/vscode-envd).

[2022-06-13 03:06] gaocegege opened #291 "feat(lang): Support conda commands"
## Description

[2022-06-13 04:12] Xuanwo opened #292 "bug: Tags named as `v0.1.0a3` is quite wired"
## Description

![image](https://user-images.githubusercontent.com/5351546/173278221-215369e9-b28d-4ebe-90f0-a0395faebafe.png)

How about keeping the same naming style?

[2022-06-13 05:36] VoVAllen opened #294 "feat(pypi): Release pypi package for macos"
## Description
Release pypi package for macos

[2022-06-13 05:44] #292 closed, assigned to nobody

[2022-06-13 07:22] #259 closed, assigned to VoVAllen

[2022-06-13 07:22] kemingy opened #297 "feat: provide the PyPI source code distribution"
One more question, do we need to provide the PyPI source code distribution (which contains all the Go/Python code for users to compile)?

Since it's not public for now.

I can help to work on this.

_Originally posted by @kemingy in https://github.com/tensorchord/envd/issues/259#issuecomment-1153559413_

[2022-06-13 09:08] #297 closed, assigned to kemingy

[2022-06-13 10:06] #291 closed, assigned to nobody

[2022-06-13 10:47] #294 closed, assigned to gaocegege

[2022-06-13 15:14] 3AceShowHand opened #316 "Question: go mod tidy found `checksum mismatch`."
go env

[code]

steps:
[code]

output:

[code]

I want to know, is this issue also happen in your environment ?

[2022-06-13 17:05] terrytangyuan commented on #316
I am on darwin arm64 and did not reproduce this. Although I am using Go 1.18.2. Could you upgrade your Go and try again?

[2022-06-14 00:24] gaocegege commented on #316
I used to have the problem in other projects. I think it is as Terry said, related to go version.

You can upgrade go, or remove go.sum then run go mod tidy again.

[2022-06-14 01:59] Xuanwo commented on #316
No reproduced either.

However, I found some notes from `docker/distribution`:

[code]

And `buildkit` introduce this dep:

[code]

The latest version of buildkit@0.10.3 has upgraded to `distribution@v2.8.1+incompatible`.

Maybe upgrading to `buildkit@0.10.3` will help us resolve this issue.

[2022-06-14 02:05] gaocegege commented on #316
@Xuanwo Thanks for the investigation!

@3AceShowHand The buildkit is upgraded to 0.10.3, please give it another try.

[2022-06-14 02:44] gaocegege opened #322 "chore: Enable code coverage report"
## Description

[2022-06-14 02:51] gaocegege commented on #271
We enable macOS build only when there is a new release.

Now we get unlimited github action minutes. Lets enable it for every PR

[2022-06-14 03:29] #322 closed

[2022-06-14 04:05] kemingy opened #326 "feat: project logo"
## Description

Shall we create a project logo? Also, set the GitHub social media preview.

[2022-06-14 04:56] gaocegege commented on #326
Yep, but we do not have a designer in the community. :thinking:

BTW, The logo of tensorchord is designed by my wife.

[2022-06-14 07:24] kemingy commented on #326
Can refer to the discussion about the project name:

- https://github.com/tensorchord/envd/issues/2#issuecomment-1119175904

[2022-06-14 08:13] VoVAllen opened #329 "feat: Support conda/pip requirement file"
## Description

Support pip install using `requirement.txt` and conda install using `env.yaml`([link](https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html#create-env-file-manually))

[2022-06-14 08:16] gaocegege commented on #329
SGTM. I think we should recommend users write deps in build.envd, but we should not be extreme. We should support requirements.txt.

Users also expect that we can support this.

[2022-06-14 08:19] gaocegege opened #331 "feat(lang): Specify additional channel in install.conda_packages"
## Description

[code]

Specify additional channel (e.g. pytorch) in install.conda_packages

[2022-06-14 09:47] gaocegege opened #332 "feat(lang): Change conda python version in build.envd"
## Description

conda installs python 3.9 by default. We should create the environment with python version specified by `base(language=xx)`.

[2022-06-14 11:21] gaocegege opened #334 "bug(CLI): Always use ZSH if ssh to the environment"
## Description

[code]

Expected to use bash when run `ssh xx.envd`, but zsh is used without .zshrc:

[code]

## Reproduction

## Additional Info

[2022-06-14 11:30] #316 closed

[2022-06-14 16:41] VoVAllen opened #337 "bug: Extra error message included with python forwarding"
## Description
Python package will have extra error messages

![image](https://user-images.githubusercontent.com/8686776/173630913-c2d3c9b2-f49c-4eec-93c3-1ddc34cc7cd0.png)

[2022-06-14 16:43] VoVAllen commented on #170
Meet this problem again. We need to add unit test for this

[2022-06-14 16:45] kemingy commented on #337
Can change `check_call` to `call` to avoid this information.

[2022-06-14 16:54] VoVAllen opened #339 "feat: Add envd as the suffix name for syntax highlight with starlark"
## Description

Example from tilt https://github.com/github/linguist/pull/4831

[2022-06-14 18:26] terrytangyuan opened #340 "bug: arm64 binaries are not available on PyPI"
Currently, we only distribute amd64 on PyPI for both Mac and Linux but not arm64.

[code]
We should support arm64, especially for Apple M1 users.

[2022-06-15 00:37] #216 closed

[2022-06-15 00:38] gaocegege commented on #170
Cannot reproduce it here. Can you share your process to reproduce?

[2022-06-15 00:40] gaocegege commented on #340
SGTM, it should be easy since we use `cibuildwheel` and `goreleaser`.

[2022-06-15 03:01] #170 closed

[2022-06-15 03:01] VoVAllen commented on #170
Cannot reproduce now. Probably related to old development cache

[2022-06-15 03:12] gaocegege opened #343 "bug(CLI): bad user permisson `~/.cache/pip`"
The cache will be only set to UID 1000 in the command `pip install`. The dir `~/.cache/pip` in other layers still be owned by root user.

See https://github.com/moby/buildkit/issues/2682

Ref https://github.com/moby/buildkit/issues/1237
Ref https://github.com/moby/buildkit/issues/724

[2022-06-15 03:21] #337 closed

[2022-06-15 05:36] gaocegege opened #344 "enhancement: GPU build takes too long"
https://hub.docker.com/r/tensorchord/python/tags

Our GPU image is 2.5GB, CPU image is 173MB.

It may take ~30min to download the GPU image. It hurts the user experience.

[2022-06-15 05:53] gaocegege commented on #340
/assign

I can help improve the CI, but I cannot test if it works since I do not have a machine for it.

[2022-06-15 08:34] gaocegege commented on #241
I am not sure if we need this. It hurts the UX. And users do not want to share info with third-party I think.

[2022-06-15 09:12] popfido commented on #340
How can I help test if I have a machine in arm64?

[2022-06-15 09:16] gaocegege commented on #340
@popfido

Thanks! could you please run the commands to build and test if the build works on ARM64 macOS:

[code]

[2022-06-15 09:30] VoVAllen commented on #340
We can add ci with arm by qemu https://github.com/docker/setup-qemu-action. Although I head the performance is very bad

[2022-06-15 09:52] popfido commented on #340
@gaocegege

Here is the  `./bin/envd up -p ./pkg/app/testdata/build-test` results in cmd.
[code]

[2022-06-15 09:54] gaocegege commented on #340
Thanks! Then it should work!

@all-contributors please add @popfido  for platform

[2022-06-15 10:36] #192 closed

[2022-06-15 10:37] #331 closed, assigned to nobody

[2022-06-15 10:55] gaocegege opened #346 "feat(CI): Support homebrew/apt package"
## Description

https://goreleaser.com/customization/homebrew/

goreleaser supports building and publishing homebrew/apt packages. We can deliver them without pip.

[2022-06-15 10:58] rudeigerc opened #347 "feat: Homebrew support"
Since `envd` supports both macOS and Linux, it would be better for us to support Homebrew as an alternative choice for installation. `goreleaser` also supports generating and publishing Homebrew Taps [by default](https://goreleaser.com/customization/homebrew/).

References:
- https://github.com/weaveworks/footloose/blob/master/.goreleaser.yml#L29-L39
- https://github.com/weaveworks/homebrew-tap

[2022-06-15 10:59] gaocegege commented on #346
dup with #347

[2022-06-15 10:59] #346 closed

[2022-06-15 11:11] gaocegege opened #348 "enhancement(doc): Add doc for conda_channel and conda_packages"
Ref https://github.com/tensorchord/envd-docs/pull/26

[2022-06-15 11:12] gaocegege commented on #348
@all-contributors please add @popfido for doc

[2022-06-15 11:23] gaocegege opened #350 "chore(doc): Notice that API and CLI doc is auto-generated"
## Description

https://github.com/tensorchord/envd-docs/pull/26

Users do not know which pages are auto-generated and which are manually written. We should add a header to the auto-generated doc.

cc @VoVAllen

[2022-06-15 11:23] gaocegege commented on #350
cc @popfido

Sorry for the inconvenience

[2022-06-15 11:42] gaocegege commented on #350
I invited you as the contributor of envd to the org.

Please visit https://github.com/tensorchord to confirm. Thanks for the contribution.

[2022-06-15 11:49] gaocegege commented on #340
cc @VoVAllen

[2022-06-15 11:51] gaocegege commented on #340
Gotcha, let me test if it works on Linux arm64 first. Then let's see why it fails on macOS arm64.

[2022-06-15 11:58] gaocegege commented on #348
#351 is merged, we will close the issue after the doc is updated.

/assign @VoVAllen

[2022-06-15 12:10] gaocegege opened #352 "enhancement(CLI): Update the description of envd"
The usage here should be updated.

https://github.com/tensorchord/envd/blob/main/pkg/app/app.go#L40

[code]

[2022-06-15 12:14] #249 closed

[2022-06-15 12:20] gaocegege opened #353 "enhancement(doc): Add newcomer guide"
Like this https://api.coala.io/en/latest/Developers/Newcomers_Guide.html

[2022-06-15 12:59] kenwoodjw commented on #340
after update docker for mac and brew install gcc. work fine

[2022-06-15 13:04] kenwoodjw commented on #340
docker version: v4.9.0, maybe not GCC, I try again without GCC

[2022-06-15 13:11] kenwoodjw commented on #340
BTW, how to clear cache

[2022-06-15 13:37] gaocegege opened #356 "feasibility-research(editor): Support jetbrains"
Ref https://github.com/JetBrains/projector-docker

[2022-06-15 13:39] gaocegege commented on #340
Yep. You can `docker stop envd_buildkitd && docker rm envd_buildkitd && envd bootstrap` to create a new clean buildkitd.

[2022-06-15 13:41] gaocegege opened #357 "enhancement(doc): Add doc about how to use jupyter/vscode with envd"
We lack doc to show how to connect to envd environment with vscode remote.

[2022-06-15 13:54] gaocegege commented on #340
Then it is related to the docker version. It is reasonable although I do not know why hhh

[2022-06-15 14:19] gaocegege opened #358 "feat(CLI): Support language server for vscode"
## Description

We can use https://github.com/tilt-dev/starlark-lsp

But it requires CGO. We may need a separate binary `envd-lsp` to avoid CGO in envd.

[2022-06-16 00:39] gaocegege opened #361 "feat(CI): Nightly build"
## Description

We can support nightly builds now.

[2022-06-16 01:54] gaocegege commented on #358
![image](https://user-images.githubusercontent.com/5100735/173974380-557a40a2-0fe4-4d60-8a36-2df342eaba81.png)

The language highlights and auto-completion work well.

But, we need to figure out how to deliver CGO enabled bins.

[2022-06-16 03:00] gaocegege opened #365 "bug(test): Flakey test, again"
https://github.com/tensorchord/envd/pull/364

We got some flakey tests

- https://github.com/tensorchord/envd/runs/6911493545?check_suite_focus=true
- https://github.com/tensorchord/envd/runs/6911398703?check_suite_focus=true

[2022-06-16 03:12] #352 closed

[2022-06-16 04:22] aaronzs opened #370 "bug: bad permission in current working directory"
## Description

There is a permission issue when the CWD has difference `UID`, `GID` with the `USER` in container.

I used to fix this issue with `--user $(id -u):$(id -g)` in `docker-cli` or create and switch to the new user in the `Dockerfile`

I didn't find the user configuration in `build.envd`. It may be a new feature.

## Reproduction

[code]

## Additional Info

Maybe related to issue #343,

[2022-06-16 04:25] gaocegege commented on #370
Thanks for the issue. We use the 1000:1000 in the envd. Thus if the user in the host is not 1000, it may not work now.

How about getting the current user who is running the envd bin, then use this UID:GID in the container?

[2022-06-16 04:36] gaocegege commented on #370
It is also related to #237 #282

[2022-06-16 08:26] gaocegege opened #375 "feat(doc): Introduce how it works and concepts"
## Description

[2022-06-16 08:57] popfido commented on #347
install envd through pip does seems quite strange. Do we need a separate repo to manage the tap?

[2022-06-16 09:01] gaocegege commented on #347
@popfido We support pip since data scientists always use it. Thus we build python wheels although envd is a golang project.

Do you prefer `brew install` or `apt install`? I am thinking if we are going in the right direction about installation.

/cc @VoVAllen @kemingy

[2022-06-16 09:02] gaocegege commented on #347
I am not familiar with brew. I am a Ubuntu user.

I think the goreleaser can take care of tap and we do not need to maintain them in the repository. Correct me if I am wrong. cc @rudeigerc

[2022-06-16 09:08] rudeigerc commented on #347
@popfido @gaocegege

We do need a tap repository for maintaining Homebrew Formula. goreleaser would handle this for us. It supoorts auto-generating the formula and pushing to the tap repo.

[2022-06-16 09:14] gaocegege commented on #347
One of the reasons why I do not like macOS is homebrew :smile:

[2022-06-16 09:16] kemingy commented on #347
Same here. I manually install everything on macOS to avoid homebrew breaking the whole system.

BTW, we can also support conda. (not sure about nix 👀

[2022-06-16 09:18] gaocegege commented on #347
nix is too hardcore. I do not think we need to support it since our target users may do not even know about it.

[2022-06-16 09:20] gaocegege opened #376 "bug(source dist): Error when building source dist"
[code]

The release workflow fails only on macOS https://github.com/tensorchord/envd/runs/6912751791?check_suite_focus=truehttps://github.com/tensorchord/envd/runs/6912751791?check_suite_focus=true

Do you have any clue about it? @kemingy

[2022-06-16 09:21] popfido commented on #347
@gaocegege If in Linux, seldom does a DS use brew to install something, but it is even bad to use pip. Coz it's often a hard job for DS to identify whether the installation is in a system python env or a virtual python or in conda's default env, etc. Placing envd in `/usr/local/bin` by package manager in various system might be more suitable.

[2022-06-16 09:22] gaocegege commented on #347
SGTM. It is reasonable.

[2022-06-16 09:23] kemingy commented on #347
It's okay if they don't know which `pip` they are using because we don't depend on Python versions. It's just a wrapper to call the binary. Of course, it's better to install with `pipx`.

[2022-06-16 09:23] rudeigerc commented on #347
I do understand why you guys don't like Homebrew 😂 However Homebrew is still the mainstream package management system on macOS.

I will have a look at it. It does not quite fit our release process defined in GitHub Actions now.

[2022-06-16 09:26] popfido commented on #347
@rudeigerc I really like brew. And I think it is okay for envd to prepare a brew tap. Just a reminder that forcing people using Linux to install an extra package manager(Because brew is not the default package manager for various Linux distribution) is often not necessary.

[2022-06-16 09:27] gaocegege opened #377 "discussion(config): Reconsider if we really want XDG spec"
We use [XDG](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html) style to organize our cache and config.

In linux, our cache and config is kept in `~/.cache/envd` and `~/.config/envd`. It works well.

In macOS, our config is kept in `~/Library/Application Support/envd`

I do not think any programmer like the dir name with ` `. `Application Support` is hard to find and ty

[2022-06-16 09:27] gaocegege commented on #377
cc @rudeigerc

[2022-06-16 09:27] gaocegege commented on #376
macOS kills me.

[2022-06-16 09:29] gaocegege commented on #347
@rudeigerc Should I create a new repo for the tape? Could you please suggest a name?

[2022-06-16 09:35] popfido commented on #347
`envd` don't depends on Python version but on the env path. If one installs `envd` into a non-default python env, or he just installs a new default python env to replace the previous one that has installed `envd`, the installation of `envd` might be broken.

`pipx` seems okay.

[2022-06-16 09:42] gaocegege commented on #370
We are thinking if we can do UID remapping during runtime, instead of build time.

As you said, it should be the default behavior. But, if the image is run on other hosts, the UID will fail again.

[2022-06-16 09:48] kemingy commented on #347
Yeah, if we consider the long-term upgrade, a stable package manager would be better.

Good options:

- conda
- pipx
- apt (not sure if we need to support other Linux distributions)

Homebrew is not a good one. But can support it because lots of people are using it.

[2022-06-16 09:51] gaocegege commented on #376
Prefer the latter since type hint helps understand the code, but if it is easy to implement in the workflow?

[2022-06-16 09:53] kemingy commented on #376
Should be easy. Let me test with my fork.

[2022-06-16 09:56] gaocegege commented on #347
Then let's create the homebrew-tap repository.

[2022-06-16 09:59] gaocegege commented on #347
@rudeigerc

You should have the write permission to https://github.com/tensorchord/homebrew-tap .

[2022-06-16 10:04] kemingy commented on #376
Sorry. I cannot test the release CI because of tokens. Can you try the #379?

[2022-06-16 10:06] gaocegege commented on #376
I also cannot try it since it is only triggered by the version release event. Maybe you can remove this line to test

https://github.com/tensorchord/envd/pull/379/files#diff-87db21a973eed4fef5f32b267aa60fcee5cbdf03c67fafdc2a9b553bb0b15f34L55

[2022-06-16 10:14] gaocegege commented on #377
cc @Thrimbda WDYT

[2022-06-16 10:25] rudeigerc commented on #358
Since language servers usually do not follow the release cycle of the main code base, should we separate it as an isolated repo?

[2022-06-16 10:29] gaocegege commented on #358
https://github.com/tensorchord/envd/pull/302 We kept the lang server in a separate binary. I think we can put it in the vscode-envd repository.

Current problem is that I do not know how to cross-compile CGO-enabled bin and deliver them in vscode extension.

[2022-06-16 10:31] junnplus opened #382 "bug: cannot assign requested address"
## Description
[code]
## Reproduction

[code]
## Additional Info

[2022-06-16 10:32] gaocegege commented on #382
Could you please run with --debug and show the logs?

[code]

[2022-06-16 10:36] Xuanwo commented on #382
Does port `8888` already been used?

[2022-06-16 10:38] junnplus commented on #382
The local port 8888 is not occupied.

[code]

[2022-06-16 10:46] gaocegege opened #383 "feat(CLI): Set progress output mode to plain if --debug is set"
## Description

If we run `envd --debug up`, the log will be flushed by the output writer like this. It is random-ordered and cannot be read.

[code]

The new debug flag logic in pkg/app/up.go should be:

[code]

We can use plain mode instead of auto mode here https://github.com/tensorchord/envd/blob/main/pkg/builder/builder.go#L64 if --debug flag is enabled.

[code]

[2022-06-16 10:48] gaocegege commented on #383
Ref #382

[2022-06-16 10:50] gaocegege commented on #382
May I ask what OS you are running?

[2022-06-16 10:51] junnplus commented on #382
ArchLinux

[2022-06-16 10:53] gaocegege commented on #382
Gotcha, could you please give it another try with `envd --debug up --detach`?

It only creates the docker container and do not attach to it.

After that, please run

[code]

to get the info of the container.

[2022-06-16 10:54] gaocegege commented on #382
Thanks for the issue, we never try it on archlinux :smile:

@all-contributors please add @junnplus as the contributor for the work of porting envd on new platforms.

[2022-06-16 10:57] junnplus commented on #382
I try to run `envd --debug up --detach`, same as before.

<details>
  <summary>envd --debug up --detach</summary>

[code]

</details>

[code]

[2022-06-16 11:16] junnplus commented on #382
I debugged locally, the problem comes from https://github.com/tensorchord/envd/blob/main/pkg/util/netutil/netutil.go#L22

Hope it helps you.

[2022-06-16 11:25] #376 closed

[2022-06-16 11:34] aaronzs commented on #370
@gaocegege if envd can remapping `UID` and `GID` at runtime that will be great. I'm also agree with @Zheaoli that if UID/GID remapping is doable there should be an API or config option allowing user to modify it.

I've used VSCode Dev Container with some projects, and I found that they also need to fix this UID/GID issue. https://github.com/microsoft/vscode-dev-containers/blob/main/containers/pyth

[2022-06-16 12:01] gaocegege commented on #370
It is interesting. I think the best option is UID remapping but I am not sure if it is possible. Or we should have a similar mechanism with vscode dev container.

[2022-06-16 12:22] gaocegege commented on #370
/assign

I will fix it ASAP

[2022-06-16 13:43] gaocegege commented on #370
It should be fixed in the new release, please give it another try with

[code]

[2022-06-16 13:48] gaocegege opened #393 "bug(CI): Fail to upload macos wheels"
https://github.com/tensorchord/envd/runs/6919383654?check_suite_focus=true

[2022-06-16 14:06] aaronzs commented on #370
It is fixed in `v0.1.0-alpha.10` release, thank you for your quick response.

[2022-06-16 14:36] VoVAllen commented on #393
Source release is conflicted because it is released twice in macos and linux

[2022-06-16 14:54] aaronzs commented on #393
@VoVAllen you are right, the error message says "File already exists". I just noticed the deprecation warning...

[2022-06-16 15:16] #393 closed

[2022-06-16 15:26] gaocegege commented on #370
Thanks for the report!

Let's open the issue to keep track of the UID ARG feature.

[2022-06-16 15:27] gaocegege commented on #370
@all-contributors Please add @aaronzs for user testing!

[2022-06-16 15:28] Triple-Z opened #397 "bug: envd bootstrap can't find buildkitd if it was stopped"
## Description

`envd bootstrap` gets error if the `envd_buildkitd` was stopped before.

![so9fpJJz0l](https://user-images.githubusercontent.com/16285716/174105242-b4538e88-53cb-4da6-8bf0-0a3f883ad833.jpg)

## Reproduction

1. Stop the `envd_buildkitd` container.
2. Run the `envd bootstrap`.

## Additional Info

None.

[2022-06-16 15:36] Triple-Z opened #398 "bug: error when running the `envd up` for project `envd-quick-start`"
## Description

Just follow the tutorial: https://envd.tensorchord.ai/docs/get-started/#create-an-envd-environment

Run the `envd up`, it gets the following errors:
<img width="989" alt="image" src="https://user-images.githubusercontent.com/16285716/174106896-98099eee-285f-4b8b-9ba7-67dc04fd04c6.png">

Full debug log:
[code]

## Reproduction

Follow the tutorial: https://envd.tensorchord.ai/docs/g

[2022-06-16 15:40] gaocegege commented on #370
https://github.com/tensorchord/envd/issues/398

Got another issue on macOS.

[2022-06-16 15:41] gaocegege commented on #370
It may be related to docker desktop for mac.

[2022-06-16 15:45] gaocegege commented on #398
We use the current gid in the host as the default gid. But on OS X, the primary group is always staff unless you or your user directory manager changed it.

[2022-06-16 15:48] Triple-Z commented on #398
[code]

It seems to be this problem.

[2022-06-16 21:49] #272 closed

[2022-06-16 22:08] gaocegege opened #403 "discussion(lang): How to support multi-target"
Machine learning does not only include training. You may also need to process data/serving.

You as the user may want to build a separate image for a specific purpose. Thus we may need to support:

[code]

You can run `envd build --func build` or `envd build --func serve` to build dev/serving images.

[2022-06-16 22:32] gaocegege commented on #403
@popfido

I'd appreciate it if you could give some feedback as the end user.

[2022-06-16 22:34] gaocegege commented on #334
/assign

[2022-06-16 23:56] gaocegege commented on #370
@aaronzs There is a new release https://github.com/tensorchord/envd/releases/tag/v0.1.0-alpha.11 which involves a hack https://github.com/tensorchord/envd/pull/399

Could you please upgrade the pip then give it a try?

[2022-06-16 23:56] gaocegege commented on #370
@rudeigerc Do you know how Lima works?

[2022-06-16 23:57] gaocegege commented on #370
Sorry, I misread it.

Could you please show the err logs with `envd --debug up`?

[2022-06-17 00:07] terrytangyuan opened #407 "feat: Support environments with multiple languages"
## Description

Currently, we only support single language environments such as Python and R. However, some data science teams use multiple languages at the same time. For example, R users could invoke any Python libraries in R via [reticulate](https://github.com/rstudio/reticulate) or run R wrappers of an existing Python library such as [TensorFlow for R](https://github.com/rstudio/tensorflow).

[2022-06-17 00:08] terrytangyuan opened #408 "feat: Support Julia language"
## Description

Currently, we only support Python and R (experimental). Let's discuss if there's enough interest to support Julia in this issue.

[2022-06-17 00:08] gaocegege commented on #407
LGTM!

[2022-06-17 00:15] gaocegege opened #409 "bug(pip): subprocess.CalledProcessError: Command '('lsb_release', '-a')' returned non-zero exit status 1."
We got this issue when:

- running on Lima VM https://github.com/tensorchord/envd/issues/370#issuecomment-1158311464
- running on low-version Docker daemon. https://github.com/tensorchord/envd/issues/340#issuecomment-1156363333

[2022-06-17 00:15] gaocegege commented on #409
It can be fixed by:

- run on 20.10.x docker (docker desktop for mac)

[2022-06-17 00:16] gaocegege commented on #370
Thanks! There are users who also encounter it. I created issue #409 to keep track.

[2022-06-17 00:18] gaocegege opened #410 "feat(lang): Support UID/GID as a ARG in build.envd (just like vscode dev container does)"
@gaocegege if envd can remapping `UID` and `GID` at runtime that will be great. I'm also agree with @Zheaoli that if UID/GID remapping is doable there should be an API or config option allowing user to modify it.

I've used VSCode Dev Container with some projects, and I found that they also need to fix this UID/GID issue. https://github.com/microsoft/vscode-dev-containers/blob/main/containers/pyth

[2022-06-17 00:19] gaocegege commented on #370
And, I created a new issue to keep track of the UID/GID ARG feature here #410

I am closing this one. But feel free to leave comments if there is any update.

[2022-06-17 00:19] #370 closed

[2022-06-17 00:28] gaocegege commented on #397
We just need to update code here

https://github.com/tensorchord/envd/blob/main/pkg/docker/docker.go#L273

[code]

[2022-06-17 01:30] gaocegege commented on #375
/assign

[2022-06-17 02:32] popfido commented on #403
The design looks like a similar describe structure in Makefile but in a more human readable way. Cool for me!

[2022-06-17 03:41] gaocegege commented on #214
I am closing it since we already open-sourced the project. Let's make a roadmap in the repo instead of the issue.

[2022-06-17 03:41] #214 closed

[2022-06-17 03:58] popfido commented on #283
This might be a good first issue for golang beginner like me lol. May I be the assignee?

Several issues about the description:
- There exists a short option or some commands (like `version`). Is it necessary for us to prepare one for doctor? If yes, what kind of status information should be left in short mode?
- What is the exact information of `Container runtime` printed by `doctor`?  When there

[2022-06-17 04:07] gaocegege commented on #283
Thanks for your contribution! :tada: :+1: I assigned you. I used to think the issue is a little hard to newcomers. Thus I removed the good-first-issue label.

I think we can make a flag `envd version --detail` instead of a new command, WDYT?

We can get the `Docker host and version` and `container runtime` via Docker API call `docker info`

[code]

We can just print the docker host version from th

[2022-06-17 05:55] popfido commented on #283
@gaocegege Cool. It seems that all the information now is about versioning. Then I think it's okay to put it as a sub option for versioning. But when use `--detail`, do `envd` need to print those information in normal `version` command?

[2022-06-17 06:19] gaocegege commented on #283
I do not think we need this info when running `envd version`. Since it is not helpful to users.

[2022-06-17 06:26] popfido commented on #283
I mean when using `envd version --detail`, should informations in `envd version` be printed?

[2022-06-17 06:36] gaocegege commented on #283
Oh I think so.

[2022-06-17 07:16] VoVAllen commented on #348
Done with https://github.com/tensorchord/envd-docs/pull/40

[2022-06-17 07:16] #348 closed

[2022-06-17 08:27] kenwoodjw commented on #246
mean ignore cuda command？

[2022-06-17 08:57] gaocegege commented on #246
No, users build.envd may look like:

[code]

When the user run `envd up`, we will use nvidia-container-runtime to launch a GPU container.

This feature is to launch a CPU container with the same build.envd when user run `envd up --no-gpu`

[2022-06-17 13:21] rudeigerc commented on #370
I haven't encountered any trouble building envd-quick-start with docker in lima on Intel Mac, so I have no idea. 😂

[2022-06-17 13:53] rudeigerc opened #419 "bug: envd does not follow docker context"
## Description

`envd` would use the `default` context even if the default context of docker was changed.

## Reproduction

[code]

## Additional Info

[code]

[2022-06-17 13:57] gaocegege commented on #419
Thanks for the issue! I will have a look ASAP.

[2022-06-17 14:04] gaocegege commented on #419
We use docker client golang package to communicate with the Docker daemon. I am not sure if the package supports context.

[2022-06-17 14:38] gaocegege commented on #419
The context info is stored in `~/.docker/config.json`:

[code]

We cannot get it without reading the file.

[2022-06-17 14:50] Triple-Z commented on #397
close due to #417 has merged.

[2022-06-17 14:50] #397 closed

[2022-06-17 15:21] Triple-Z opened #420 "bug: `envd destroy` without any flags gets error"
## Description

[code]

However, from the doc: https://envd.tensorchord.ai/docs/build-envd/#hello-world, the command of "destroy the environment" no use any of these flags.

## Reproduction

[code]

## Additional Info

[code]

I recommend adding a default path (`.`) in the `destroy` CLI command.

[2022-06-17 19:19] #419 closed

[2022-06-18 00:00] #420 closed

[2022-06-18 00:04] gaocegege opened #424 "chore(doc): Add doc about how to accelarate building process with mirrors"
We support docker hub mirror and pip/apt/conda mirrors. But users may not aware of it.

[2022-06-18 02:10] #424 closed

[2022-06-18 02:34] gaocegege opened #425 "feat(doc): Add doc about how to add a new func in envd"
## Description

We can introduce to developers how to add a new func in envd.

[2022-06-18 03:30] Triple-Z opened #431 "feat: support go/golang dev environment"
## Description

Support the GO programming language in envd config files.

[code]

So that we can use `envd` to build and manage the dev environment for go projects.

[2022-06-18 06:21] Triple-Z opened #437 "chore: makefile default goal"
I think the default goal for makefile is a better option.

https://stackoverflow.com/a/30176470

Btw, it is reasonable that let `help` as the default target.

__Originally posted by @Triple-Z in https://github.com/tensorchord/envd/pull/433#issuecomment-1159360210__

[2022-06-18 06:22] Triple-Z commented on #437
cc @gaocegege @terrytangyuan

[2022-06-18 06:39] Triple-Z opened #438 "feat: add `envd down` as an alias of `envd destroy`"
## Description

https://github.com/tensorchord/envd/discussions/426

As the discussion above, we should add the `envd down` command as the alias of `envd destroy`.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-06-18 06:40] gaocegege commented on #437
I think it should be build.

[2022-06-18 07:51] gaocegege commented on #375
https://github.com/tensorchord/envd-docs/pull/45

[2022-06-18 10:16] #375 closed

[2022-06-18 10:17] gaocegege commented on #128
/assign

[2022-06-18 10:39] terrytangyuan commented on #437
"build" should be the default IMO.

[2022-06-18 10:42] gaocegege opened #446 "bug(CLI): fail to use both path and file flag in envd up"
[code]

We use the path dir as the cwd, thus we cannot find the file `./examples/mnist/build_gpu.envd `

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-06-18 12:33] #383 closed

[2022-06-18 12:39] gaocegege opened #450 "enhancement(CLI): Use DefaultText to avoid hard coded default strings"
## Description

Now we hard coded some default text. E.g.

https://github.com/tensorchord/envd/blob/main/pkg/app/build.go#L39

[code]

`(default: PROJECT:dev)` can be removed if we use `DefaultText`

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-06-18 12:55] gaocegege opened #451 "bug(typo): Fix the typos in the code"
There are two typos in the code:

- https://github.com/tensorchord/envd/blob/v0.0.1/pkg/docker/docker.go#L383
- <del>https://github.com/tensorchord/envd/blob/v0.0.1/pkg/lang/ir/system.go#L92

Please help fix them.

This issue is only for those who are new to open source. It helps newcomers get familiar with the github workflow to contribute. Please pick up other issues if you are familiar with the

[2022-06-18 20:43] terrytangyuan opened #459 "bug: Container exited immediately"
## Description

It says the container did not start but it actually started but exited immediately. See the result of `docker inspect` in the following sections.

[code]

## Reproduction

After changes in https://github.com/tensorchord/envd/pull/457. Run this example: https://github.com/tensorchord/envd/tree/main/examples/r-basic

## Additional Info

<details>
  <summary>docker inspect (click to e

[2022-06-18 22:29] gaocegege commented on #459
Is it related to the sshd server?

[2022-06-19 00:10] terrytangyuan commented on #459
I think so. It only happens to R environment though. Perhaps we are [missing some important steps/stages](https://github.com/tensorchord/envd/blob/657c2cb1226020eb754510ffa9876d353d4baefe/pkg/lang/ir/compile.go#L134-L140) that are required for it to work.

[2022-06-19 01:46] gaocegege opened #463 "feat(doc): Add comparason with conda, or native development"
## Description

Users want to know why remote development is important, or how to compare envd with conda/py virtual env.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-06-19 13:16] #437 closed

[2022-06-19 13:24] gaocegege commented on #459
Should we push the r base image then give it another try?

[2022-06-19 13:31] terrytangyuan commented on #459
It's pushed to my personal account on DockerHub. See https://github.com/tensorchord/envd/pull/457#discussion_r901007299

[2022-06-19 13:31] VoVAllen opened #466 "chore: change the default filename of envd"
## Description

Currently envd used `build.envd` as the default filename. However, the name of `build` restricted the purpose of this file, that we'll have things more than build, such as specify runtime command in the future. For example,
[code]

Then user can use `envd run -f :serve` to directly start the container for serving.

Thus current filename seems not general enough. Probably `envdfile`

[2022-06-19 13:34] gaocegege commented on #459
An invitation for terrytangyuan@gmail.com was sent.

[2022-06-19 13:36] gaocegege commented on #459
https://hub.docker.com/repository/docker/tensorchord/r4.2 tensorchord/r4.2 is created, too.

[2022-06-19 13:37] #128 closed

[2022-06-19 13:40] gaocegege commented on #466
Thanks for raising the discussion here.

I think we should have a picture about how to support multi-target builds if we decide to change the default file name since it is a definitely breaking change.

[2022-06-20 00:31] gaocegege commented on #329
- [ ] Support requirements.txt

[2022-06-20 01:16] gaocegege opened #467 "feat(CLI): envd init to set up the project"
## Description

Users need to create build.envd manually. We can support `envd init` to ease the first run of envd.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-06-20 03:00] gaocegege commented on #289
dup with https://github.com/tensorchord/envd/issues/358

[2022-06-20 03:00] #289 closed

[2022-06-20 03:01] gaocegege commented on #358
https://softwareengineering.stackexchange.com/questions/426471/how-do-vs-code-langauge-extensions-distribute-a-language-server-binary

We can download the lsp binary on the first run like vscode-rust and vscode-haskell does.

[2022-06-20 04:38] #451 closed

[2022-06-20 12:10] Gui-Yue commented on #450
can u assign it to me

[2022-06-20 12:36] gaocegege commented on #450
/assign @Gui-Yue

Thanks!

[2022-06-20 13:17] gaocegege commented on #246
LGTM.

[2022-06-20 14:21] gaocegege commented on #446
Could you please explain more about it?

[2022-06-20 14:30] popfido commented on #446
Just record the current working dir by using `pwd()` path as a secondary base search path when it is failed to use path dir to find the file in `-f`.

[2022-06-20 14:39] gaocegege commented on #446
Gotcha, SGTM. I think it works.

[2022-06-20 14:52] #283 closed

[2022-06-21 04:16] hezhizhen opened #478 "feat: replace `IsCreated` with `Exists` for `Client` interface from package `docker`"
## Description

`created` is one of the status for containers and the `IsCreated` method in `Client` interface checks if the container exists (no matter if it is running or not running properly).

To reduce ambiguity, I think it's better to add a new method `Exists` to the `Client` interface and replace `IsCreated` with it.

---

**Message from the maintainers**:

Love this enhancement proposal? G

[2022-06-21 04:25] hezhizhen opened #479 "chore: replace `ContainerInspect` and `Info` with `GetContainer` and `GetInfo`"
## Description

<img width="740" alt="Screen Shot 2022-06-21 at 12 20 34" src="https://user-images.githubusercontent.com/7611700/174715379-23c64d17-863a-4646-b019-cb890f82f9c6.png">

Since `generalClient` has `GetContainer` and `GetInfo` methods which are currently used only by `generalEngine`, should we replace the usage of `ContainerInspect` and `Info` in the `generalClient`'s implementation wit

[2022-06-21 09:26] gaocegege commented on #479
SGTM

[2022-06-21 09:47] gaocegege commented on #218
## cadvisor

Pros: No need to have an agent
Cons: Need root privilege

https://github.com/google/cadvisor/blob/master/docs/running.md#standalone

[2022-06-21 11:28] gaocegege opened #481 "feat(docs): Help improve Chinese docs"
## Description

https://envd.tensorchord.ai/zh/docs/get-started

We provide the Chinese doc now :tada: But there is only one doc which is well translated. These docs are still in English:

- [x] https://envd.tensorchord.ai/guide/modularize.html
- [x] https://envd.tensorchord.ai/envs/config.html
- [x] https://envd.tensorchord.ai/envs/multitarget.html
- [x] https://envd.tensorchord.ai/teams/kubernet

[2022-06-21 13:15] Gui-Yue commented on #479
Could you assign it to me?

[2022-06-21 13:17] gaocegege commented on #479
@Gui-Yue Thanks!

/assign @Gui-Yue

[2022-06-21 15:05] Triple-Z commented on #467
As the interactive command-line interface? Like the form of question&answer

[2022-06-21 16:01] Gui-Yue commented on #479
could you give me more details about this issue?I can understant the description,but don't know what should i do.🤔🤔

[2022-06-21 16:19] hezhizhen commented on #450
<img width="689" alt="Screen Shot 2022-06-22 at 00 19 04" src="https://user-images.githubusercontent.com/7611700/174848770-bb28fffc-bd57-42a0-bd68-4240256c5895.png">

There's still one left here.

[2022-06-21 23:59] Gui-Yue commented on #479
Got it.

[2022-06-22 00:40] gaocegege commented on #450
Thanks, I forget it.

[2022-06-22 00:42] gaocegege commented on #467
Maybe `envd init` to just create a file

[code]

And `envd init --interactive` to allow users to create interactively.

[2022-06-22 00:52] gaocegege commented on #194
https://github.com/moby/buildkit/pull/2916#issuecomment-1162442862

[2022-06-22 01:36] gaocegege commented on #329
/assign

[2022-06-22 01:59] terrytangyuan commented on #467
Is it just for creating the `build.envd` file? Perhaps something like `envd up -f https://raw.githubusercontent.com/...` would be sufficient similar to `kubectl apply -f xxx`?

[2022-06-22 02:12] gaocegege commented on #467
I think `envd up` is just to create the build.envd for now. But `envd up -f` should support HTTP-based file I think.

[2022-06-22 02:35] gaocegege commented on #408
We got so many :+1: here

I think we should have a huge refactor to support R/Julia better.

[2022-06-22 06:38] gaocegege commented on #329
Yep, I think so. We just ignore comment. And every line starts without # will be considered to be a dependency.

Maybe we should mount the file into the build process, and use the file directly to install dependencies.

_Originally posted by @gaocegege in https://github.com/tensorchord/envd/issues/484#issuecomment-1162705326_

[2022-06-22 06:45] VoVAllen opened #488 "feat: Support function specification in envd up"
## Description

Support syntax like `envd up -f :build_gpu` to call `build_gpu` function

[2022-06-22 06:48] gaocegege commented on #488
Should we propose a proposal about multi-target builds (multi-images, or GPU/CPU supports)? I think it is a little messy. There are some issues related to this, while they does not come to an agreement about the user experience.

[2022-06-22 07:07] gaocegege opened #489 "feat(doc): Refine `Why use envd` section"
## Description

![image](https://user-images.githubusercontent.com/5100735/174965673-9c381967-446c-4326-a139-acd8a4491336.png)

https://www.rstudio.com/products/package-manager/ makes a clear introduction about why we should use RStudio package manager.

Maybe we can refer to the workflow.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the propo

[2022-06-22 07:09] gaocegege opened #490 "feat(lang): Support RStudio server as the editor for R language"
## Description

https://www.rstudio.com/products/rstudio/download-server/

RStudio also supports remote development with the help of RStudio server.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-06-22 08:57] gaocegege commented on #490
/assign

[2022-06-22 09:47] terrytangyuan commented on #490
Thanks for taking this up!

[2022-06-22 10:02] gaocegege opened #493 "feat(lang): Support jupyter in R language image"
## Description

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-06-22 10:53] gaocegege commented on #408
[code]

Julia is supported!

![Peek 2022-06-22 18-51](https://user-images.githubusercontent.com/5100735/175012049-14d88773-8bc9-4194-a399-5cbc2c109ad4.gif)

[2022-06-22 11:51] Gui-Yue commented on #450
I will help to fix it.

[2022-06-22 11:59] Gui-Yue commented on #450
Got it.

[2022-06-22 12:22] gaocegege commented on #450
Thanks

[2022-06-22 13:44] logankilpatrick commented on #408
This is AWESOME!

[2022-06-22 13:59] terrytangyuan commented on #459
@gaocegege I didn't get a chance to test this again but I assume it's fixed by your recent PR? Were you able to reproduce this?

[2022-06-22 14:18] gaocegege commented on #459
Yep I think it should be fixed in #491

[2022-06-22 14:19] gaocegege commented on #459
We do not install sshd server in the image, thus the container exits before we attach to it. #491 already resolved it. I am closing the issue.

[2022-06-22 14:19] #459 closed

[2022-06-23 07:10] hezhizhen commented on #479
Fixed in https://github.com/tensorchord/envd/pull/486

[2022-06-23 07:10] #479 closed

[2022-06-23 13:24] gaocegege opened #498 "chore: Eliminate if condition in the conversion between starlark and go"
Can we skip the if statement here? Does `urlStr = url.GoString()` work if `url` is `starlark.String("")`?

_Originally posted by @VoVAllen in https://github.com/tensorchord/envd/pull/495#discussion_r905010070_

[2022-06-23 13:25] gaocegege commented on #498
[code]

We can try if it works

[2022-06-23 13:26] gaocegege commented on #365
#495 fixes one problem.

[2022-06-23 13:28] gaocegege opened #499 "discussion: Julia - Python interop configuration"
You may be interested in the Julia - Python interop configuration we setup over on conda-forge:
https://github.com/conda-forge/julia-feedstock/blob/main/recipe/scripts/activate.sh

_Originally posted by @mkitti in https://github.com/tensorchord/envd/issues/495#issuecomment-1163520956_

[2022-06-24 04:12] gaocegege commented on #451
@all-contributors Please add shaonianche for doc contribution

https://github.com/tensorchord/envd-docs/pull/55

[2022-06-24 06:36] aaronzs commented on #499
From my few experiences in using Julia, as long as `PyCall.jl` can find `python` it can fully interoperate with Python. It means the configuration can be very flexible, I can use system `python3`, python from venv or conda env and even [python2 from conda](https://github.com/JuliaPy/Conda.jl#using-python-2)

https://github.com/JuliaPy/PyCall.jl#installation

The discussion can be tailed down to tw

[2022-06-24 14:43] gaocegege commented on #490
Cannot find how to install rstudio in arm64. Maybe we can support amd64 first.

[2022-06-25 14:04] gaocegege opened #509 "feat(doc): Add language specific guides"
## Description

Language-specific guides should be added to help users get started.

- [x] python https://envd.tensorchord.ai/docs/lang/python
- [x] R
- [x] julia

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-06-25 14:06] gaocegege opened #510 "feasibility-research(doc): Remote build with buildkit or kaniko"
## Description

We should investigate how to build envd images remotely with buildkit or kaniko. And we should document it.

- [ ] Add doc for the experience

CI/CD systems to support:

- [ ] GitHub Action
- [ ] GitLab CI

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-06-25 16:15] terrytangyuan commented on #509
I can help with the R specific guide.

[2022-06-26 02:05] #213 closed

[2022-06-26 11:38] gaocegege commented on #510
/assign

[2022-06-26 11:59] gaocegege commented on #510
It is hard to support envd with kaniko since it does not support dockerfile/1.2.0 or 1.3.0 now. `RUN --mount=cache` is hard to run.

https://github.com/GoogleContainerTools/kaniko/issues/1712

[2022-06-26 12:15] gaocegege commented on #92
We may need to support two different context types: build and run.

The context for the build is to determine what buildkit will be used in envd. For example, buildkit container in the docker daemon `docker-container://envd_buildkitd` can be used. Or `kube-pod://<pod-name-for-buildkit>` also can be used if there is a buildkitd running on the Kubernetes.

Users may expect to use the buildkit on Kub

[2022-06-26 12:25] gaocegege commented on #92
The user experience for the build may look like this:

[code]

The user experience for the run may look like this:

[code]

[2022-06-26 13:20] gaocegege commented on #92
@rudeigerc Hi are you still interested in the issue? Users expect it in the next release to support #510

[2022-06-26 13:22] rudeigerc commented on #92
@gaocegege I am a little bit running out of time recently. Please feel free to unassign me if other ones are interested in this issue.

[2022-06-26 14:11] gaocegege opened #511 "enhancement(CLI): Use upper case in CLI description"
## Description

[code]

We should use the upper case in the commands' description. Please help use unify them.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-06-27 00:30] gaocegege opened #513 "feat(CLI): Unify CLI style about env and image"
## Description

We decided to use `envd context ls`, `envd context create` to list/create contexts. But we still use `envd get envs` and `envd get images` to get envs and images. We should unify them.

Personally, prefer `envd <noun> <verb>` style.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-06-27 05:10] yczheng0 commented on #511
Hello, could you please assign this issue to me?

[2022-06-27 05:14] gaocegege commented on #511
Thanks for your contribution! :tada: :+1:

[2022-06-27 06:11] yczheng0 commented on #511
Should we use lower case or uppercase for descriptions in custom options of each command?
Note: for Global Options, currently we use lower case; for custom options, not unified.

[2022-06-27 06:42] gaocegege commented on #511
I think we should use the upper case in all options.

[2022-06-27 07:49] #511 closed

[2022-06-27 10:02] VoVAllen commented on #403
Bazel: https://docs.bazel.build/versions/main/tutorial/cpp.html#specify-multiple-build-targets
[code]

CLI
[code]

[2022-06-27 10:04] lizhemingi commented on #498
https://go.dev/play/p/vjWLVzqXnah

Had a try and seems it's the same without if.

I can pr if you don't mind.

[2022-06-27 10:24] VoVAllen commented on #498
@lizhemingi Sure! Please go ahead and any contribution is welcomed!

[2022-06-27 10:26] VoVAllen commented on #498
There're multiple usages in https://github.com/gaocegege/envd/blob/main/pkg/lang/frontend/starlark/config/config.go#L79

[2022-06-27 10:31] VoVAllen commented on #403
Bramble
[code]
CLI
[code]

[2022-06-27 10:31] lizhemingi commented on #498
Yep, also can be found at https://github.com/tensorchord/envd/blob/bdf46eab8cd5acd1390c691dfd7b1873accf3c39/pkg/lang/frontend/starlark/install/install.go#L156 and https://github.com/tensorchord/envd/blob/bdf46eab8cd5acd1390c691dfd7b1873accf3c39/pkg/lang/frontend/starlark/universe/universe.go#L52

Will take them all.

[2022-06-27 12:11] weixiao619 opened #517 "bug: failed to slove LLB when running the envd up for project envd-quick-start"
## Description
[code]

[2022-06-27 13:00] gaocegege commented on #517
Thanks for the issue. envd sets up user permission in the image. It seems that UID 0 is used to run envd up. We will fix it ASAP

[2022-06-27 13:16] gaocegege commented on #517
@weixiao619 Could you please show use the result of `ls -la ./envd-quick-start`?

[2022-06-27 14:21] #498 closed

[2022-06-27 14:46] terrytangyuan commented on #509
Added in https://github.com/tensorchord/envd-docs/pull/59.

[2022-06-27 14:46] gaocegege commented on #365
Cannot reproduce it.

[2022-06-27 14:57] weixiao619 commented on #517
`[root@VM-151-70-centos ~]# ls -la ./envd-quick-start
total 44
drwxr-xr-x  3 root root  4096 Jun 27 20:02 .
dr-xr-x--- 36 root root  4096 Jun 27 20:02 ..
-rw-r--r--  1 root root   138 Jun 27 20:02 build.envd
-rw-r--r--  1 root root    54 Jun 27 20:02 demo.py
drwxr-xr-x  8 root root  4096 Jun 27 20:02 .git
-rw-r--r--  1 root root  3078 Jun 27 20:02 .gitignore
-rw-r--r--  1 root root 11341 Jun 27 20

[2022-06-27 14:57] weixiao619 commented on #517
[code]

[2022-06-27 15:55] aseaday commented on #3
Is there any else image need?

[2022-06-28 00:49] gaocegege commented on #3
We need more. Now only python 3.9 is supported. python 3.5 or 3.6 should be added in the future.

[2022-06-28 00:52] gaocegege commented on #517
@aseaday Thanks! I think we should skip the user permission update and make envd user to UID0, if envd is running with root user.

[2022-06-28 05:42] VoVAllen commented on #410
https://github.com/boxboat/fixuid/
[code]

[2022-06-28 06:36] gaocegege commented on #510
We need to decide if we should use kubernetes client-go or controller-runtime client to create the buildkitd pod on Kubernetes.

I think the client in controller-runtime wraps client-go a lot and it should be easier to use.

WDYT @hezhizhen @knight42

[2022-06-28 08:12] knight42 commented on #510
@gaocegege  Yeah the client provided by `controller-runtime` is a general one and is more flexible(if we need to access some custom CRs, we only need to register theire scheme).

The only limitation came to my mind is that if we need some functionalities more than objects' CRUD, such as executing a command in container, streaming container logs, port-forwarding etc, then we could only use client-g

[2022-06-28 08:41] gaocegege commented on #179
Yep we may need https://syncthing.net/

[2022-06-28 10:21] gaocegege commented on #510
Thanks for the explanation! forget that the controller-runtime client does not support sub-resources. I think we should use client-go directly.

[2022-06-28 13:10] gaocegege opened #523 "feat(CLI): Generate Dockerfile from build.envd"
## Description

As an ML infra engineer, I may want to get the Dockerfile from the envd, instead of building the image, to integrate envd into the internal existing infrastructures.

[code]

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-06-28 13:53] aseaday commented on #517
I had two fix solutions:
1. Use a special but fixed uid and gid to create envd:envd, see https://github.com/tensorchord/envd/pull/522
2. Reassign the created envd:envd gid/uid to 0(root uid), see the following patch:
[code]
Both ways are not perfect but I think the problem arise from somewhere else.

The linux and cgroup system depends on the uid to work.  When a container started, It has a defaul

[2022-06-28 13:55] gaocegege commented on #517
SGTM! Maybe we can investigate if https://github.com/boxboat/fixuid/ works.

Ref https://github.com/tensorchord/envd/issues/410#issuecomment-1168250599

[2022-06-28 13:56] gaocegege commented on #517
@all-contributors Please add @aseaday for the research.

[2022-06-28 13:56] gaocegege commented on #517
@all-contributors Please add @aseaday for research.

[2022-06-28 13:58] gaocegege commented on #517
@all-contributors Please add @aseaday for ideas.

[2022-06-28 14:01] aseaday commented on #517
Let me check on this. I would give a final solution on this Wed.

[2022-06-28 14:38] aseaday commented on #513
**The noun-verb style woule be better in this case. **
Conda uses verb-noun format and there at least two kinds of object: packages and env. So users have to remember:
- install package
- create env
But for verb like remove, it would be confused because literally both `remove a env` and `remove a package` sounds fine.

I think a good cli style would be:
- Major,popular and easy to distinguish acti

[2022-06-28 15:04] aseaday commented on #409
It is a cross multi arch problem I had met before.
FYI
https://itnext.io/building-multi-cpu-architecture-docker-images-for-arm-and-x86-1-the-basics-2fa97869a99b?gi=95b158eb9975

I think we could close this issue.

[2022-06-28 16:57] aseaday commented on #523
I am working on this. and the cli could better:

[code]

[2022-06-29 01:13] gaocegege commented on #513
SGTM! Thanks for your advice.

[2022-06-29 01:14] gaocegege commented on #523
@aseaday Thanks for your contribution!

Would you mind me assigning this issue to you?

BTW, how do you plan to implement it? I think we need to make ir.Graph an interface, then implement the `compile` func for dryrun and buildkit llb.

[2022-06-29 01:17] gaocegege commented on #409
@aseaday I think we should support different arches and os (e.g. macOS arch64, Linux arch64) Thus maybe we should keep it open?

[2022-06-29 05:38] berlinsaint commented on #517
TestResult: docker 1.19 and centos7 have the same problems

[2022-06-29 05:44] aseaday commented on #409
The error from this issue's title cames from build amd64 container from arm64 host which could be called build cross (buildx). It would cause lsb_release error because of lsb_release call something from kernel or kernel in vm.
I think this case is some bug related to docker directly than envd.  The links I mention above is enough for users discovery themselves and in most cases, they could fix it

[2022-06-29 05:46] aseaday commented on #517
Could you tell the user you are using to run `envd up`?

[2022-06-29 05:49] berlinsaint opened #525 "bug: when docker is not configured using rootless, envd bootstrap with permission denied"
## Description

when docker is not configured using rootless, envd bootstrap with permission denied

## Reproduction

docker installed by default without any additional configurings.

## Additional Info
![image](https://user-images.githubusercontent.com/10629930/176361164-1da0b5f9-3c2e-4a70-b419-68e1976b3c74.png)

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-06-29 05:49] gaocegege commented on #409
Thanks for the explanation!

SGTM. Then I think we can close it.

[2022-06-29 05:49] #409 closed

[2022-06-29 05:50] berlinsaint commented on #525
Maybe we should add some docs in this repo for envd beginners.

[2022-06-29 05:53] gaocegege commented on #525
Sure, thanks for the issue.

[2022-06-29 10:40] VoVAllen commented on #357
Currently working on adding docs, but found WSL is complex on the network and adding ssh config entry. Current plan is to manually add the entry on windows and finish the doc. Refactor the ssh logic if time available in this sprint

[2022-06-29 13:24] aaronzs commented on #499
@gaocegege I just tried to install `PyCall.jl` with `envd` main branch, and here is some information you may interested in.
The first thing I have to point out is that conda is installed in `docker.io/tensorchord/julia:1.8rc1-ubuntu20.04` image while the installation command is not shown in `base-images/julia1.8rc1-ubuntu20.04.Dockerfile`.

There is not problem creating a base Julia environment (e

[2022-06-29 13:56] gaocegege commented on #499
SGTM. I think we do not setup conda well in Julia image since we do not expect users need it before.

[2022-06-29 14:22] gaocegege opened #527 "feat(lang): Support TensorBoard"
## Description

[code]

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-06-29 14:28] terrytangyuan commented on #527
I am not sure if we should support framework-specific functions. Perhaps we should make it generic to expose any services instead.

[2022-06-29 15:47] hezhizhen commented on #377
I see some CLIs on macOS store their configuration files in `~/.config/xxx` (e.g., neovim, gh). I think it's better to use `~/.config/envd` for Linux and macOS.

[2022-06-29 17:49] aseaday commented on #523
Assign it to me. I would give a plan first and any suggestions?

[2022-06-29 18:10] aseaday commented on #527
I think there are some questions to discuss:
- Should users care about the port? if we listen on the host's interface, user A use port 8888 but user B used it already.
- Which interface should be listening ,the container or the host.
- Which address? Loopback or external ip?
We should anwser the above questions to design the service function.
In my opinon, we should sperate the service and the ser

[2022-06-29 19:35] mkitti commented on #499
The code that PyCall.jl uses to find Python is located here:
https://github.com/JuliaPy/PyCall.jl/blob/master/deps/build.jl

It does the following:
1. First it looks for the `PYTHON` environment variable.
2. Second, if the `PYTHON` environment variable is not found it looks for a file called `~/.julia/prefs/PyCall`.
3. Third, if both of the above fail it asks [`Conda.jl`](https://github.com/JuliaP

[2022-06-30 01:26] gaocegege commented on #377
I think so.

[2022-06-30 01:29] gaocegege commented on #523
I think we can make ir.Graph an interface instead of the struct. Then dryrun and buildkit llb generation are two different implementations for the interface.

[2022-06-30 01:31] gaocegege commented on #527
I think in the best case, users do not need care about the port. He can use the endpoint provided by envd to visit these services.

Currently, we keep port in the container open and use docker port forwarding to forward container ports to host.

Since we forward container port to host, thus localhost can be used here. I am not sure if it works for WSL @VoVAllen

[2022-06-30 01:37] gaocegege commented on #525
Thanks for the contribution!

@aseaday You can use the command `/assign` to assign the issue to yourself. Like this

/assign @aseaday

[2022-06-30 01:46] gaocegege commented on #509
The issue is resolved in https://github.com/tensorchord/envd-docs/pull/62 and https://github.com/tensorchord/envd-docs/pull/59

[2022-06-30 01:46] #509 closed

[2022-06-30 03:35] aseaday commented on #517
This issue is fixed in https://github.com/tensorchord/envd/commit/b987fc6841f62e4f9a29633682c6481aea6de227.

[2022-06-30 03:35] #517 closed

[2022-06-30 03:49] aseaday opened #530 "feat(lang): Support data and code integration in envd-server runner"
## Descrption
I study the design docment and https://github.com/tensorchord/envd/pull/303.  In a team work environment, there is no doubt that model, exp log and dataset would be allso a neccessary part in a work env setting up. There some tools and project aimmed to solve it such as [DVC](https://github.com/iterative/dvc).

This issue is for discussion about:

- Should we support stroage for data

[2022-06-30 04:04] gaocegege commented on #530
Thanks for raising the discussions! There are some options for us:

- Integrate with DVC. But DVC is not a de-facto standard now and it also has some problems.
- Design the primitives in build.envd to declare expected locations of datasets/model/logs.

[code]

[2022-06-30 05:19] VoVAllen commented on #527
WSL will automatically make ports available to host os (windows).

We definitely need a way for users to easily extend their use cases. However, the grammar may need more discussions.

[2022-06-30 06:16] gaocegege commented on #201
After a deep dive into buildkit, I do not think the issue is easy to resolve. Thus I removed the tag `difficulty/newcomer`

We need to deal with docker and auth config.json in this issue. Besides this, the expoter `client.ExporterDocker` does not support push. Thus we may need to rely on docker to push.

But, in CI/CD scenario, docker may not be installed in the environment. Thus we have to rely o

[2022-06-30 06:17] gaocegege commented on #201
Issue #510 relies on this issue, thus I increase the priority.

[2022-06-30 06:52] gaocegege commented on #194
If we move to the frontend design, we can integrate with buildkit ecosystem seamlessly. For example, we can use buildx action in GitHub:

[code]

[2022-06-30 06:53] gaocegege commented on #194
Ref #510

[2022-06-30 08:14] VoVAllen commented on #357
Ref: https://github.com/tensorchord/envd-docs/pull/64

[2022-06-30 10:15] gaocegege opened #532 "feat(doc): Compare envd with other tools like conda and docker"
## Description

Users may wonder why they should use envd instead of other tools. We should have a doc to illustrate the benefits, like this https://docs.dagger.io/1220/vs

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-06-30 12:14] #357 closed

[2022-06-30 16:02] berlinsaint commented on #525
lgtm

[2022-07-01 01:28] #525 closed

[2022-07-01 01:50] #201 closed

[2022-07-01 05:21] gaocegege commented on #340
How about this https://veertu.com/?

_Originally posted by @aseaday in https://github.com/tensorchord/envd/issues/414#issuecomment-1171382038_

[2022-07-04 08:04] gaocegege opened #541 "feat(integration): Integrate with Flyte"
## Description

https://github.com/flyteorg/flyte/issues/2573

We can collaborate with flyte community to support custom python dependencies in flyte.

/cc @pingsutw

- [x] #403
- [x] #261

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-04 09:32] gaocegege commented on #11
One draft:

[code]

[code]

[2022-07-04 11:41] gaocegege commented on #490
The rstudio config is complex. We need to

- Configure database user permission
- Configure auth
- Configure server user permission

Not sure if it can be resolved tomorrow.

[2022-07-05 00:22] gaocegege commented on #261
How about this?

[code]

If the image is defined in `base`, then we use the image here instead of the default image.

[2022-07-05 01:52] kemingy commented on #261
Can you illustrate more details about your concern?
Are there any necessary dependencies we need to make it a suitable base image that can be used for `envd`?

[2022-07-05 01:57] gaocegege opened #542 "feat(lang): Support jupyter in R and Julia"
## Description

Now we do not invoke `compilePyPIPackages` in Julia or R, thus we do not install jupyter in the image. We should support the case.

[code]

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-05 02:00] gaocegege commented on #261
Yep. There are some built-in deps:

- sshd server maintained by us is added in the base image.  https://github.com/tensorchord/envd/blob/main/base-images/python3.8-ubuntu20.04-cuda11.6.Dockerfile#L118
- conda https://github.com/tensorchord/envd/blob/main/base-images/python3.8-ubuntu20.04-cuda11.6.Dockerfile#L88
- Some system packages used by vscode-remote or ssh https://github.com/tensorchord/envd

[2022-07-05 02:23] gaocegege opened #543 "feat(runtime): Support working dir in RStudio server"
## Description

Now the command to run rstudio server in envd is `sudo /usr/lib/rstudio-server/bin/rserver`

The `sudo` is to resolve the system user account problem in rstudio server.

We need to specify working dir for rstudio server using:

[code]

I tried it with

[code]

But it does not work. We need to figure out
[code]

[2022-07-05 02:26] gaocegege opened #544 "feat(base-image): Support RStudio server in arm64"
## Description

Cannot find how to install rstudio server in arm64. Thus we only support amd64 now.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-05 04:32] arcosx commented on #510
Hi, I've been working on something similar recently.I also think it is possible to use client-go directly.
As I see https://github.com/docker/buildx/blob/57156ee95cccc172e3757520283b04d09f1646e0/driver/kubernetes/driver.go#L192 and https://github.com/vmware-tanzu/buildkit-cli-for-kubectl/blob/3cdb0965332177c4f254ea81b96c9ce7b8c46d3d/pkg/driver/kubernetes/driver.go#L229 have related work in them th

[2022-07-05 05:39] gaocegege commented on #510
Yep. Currently, we support communicating with the buildkit on the Kubernetes with the help of context:

[code]

Next step is to support envd up with the help of client-go.

[2022-07-05 06:30] gaocegege opened #545 "chore(CI): Automate base image builds"
## Description

Now we manually build and push base images to docker hub. We should automate it.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-05 06:31] #490 closed

[2022-07-05 07:11] gaocegege opened #546 "bug(CLI): exit code still be 0 even if there is an error"
## Description

We should return error code when there is an error.

## Reproduction

[code]

The golang binary works well, but the python wrapper does not work.

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-07-05 07:11] gaocegege commented on #546
/cc @VoVAllen @kemingy

[2022-07-05 07:13] VoVAllen commented on #513
For listing dependency, which one is better? `envd envs deps` or `envd envs get-deps` or `envd envs describe`?

[2022-07-05 07:15] gaocegege commented on #513
Personally, prefer `envd noun noun verb`

`envd envs deps get`, and it also work if users type `envd envs deps`.

WDYT?

[2022-07-05 07:17] gaocegege commented on #513
`envd envs describe` LGTM

[2022-07-05 07:18] gaocegege commented on #513
Ref https://discord.com/channels/974584200327991326/985401618277228604/993777029105319986

[2022-07-05 07:54] VoVAllen opened #547 "doc: Multi-target build docs"
## Description

Add docs for multi target build

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-05 08:01] #403 closed

[2022-07-05 09:08] VoVAllen opened #551 "feat(CLI): More details for `envd envs describe` command"
## Description

Currently `envd envs describe` only outputs the dependencies. We should put more information here.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-05 10:19] shaonianche opened #552 "enhancement(CLI): zsh-completion warning"
When running the `envd bootstrap` command in a device without the `zsh shell` installed, the following Warning occurs：

[code]

[2022-07-05 12:34] #92 closed, assigned to gaocegege

[2022-07-05 12:37] gaocegege commented on #488
Could we close the issue?

[2022-07-05 12:38] gaocegege commented on #108
I am closing the issue since we decided to use the docker hub currently.

[2022-07-05 12:38] #108 closed

[2022-07-05 12:39] gaocegege opened #553 "feat(CLI): Support run with existing image"
## Description

`envd up` builds and runs the image by default. But users may not want to build the image from scratch. They may want to use the existing image instead.

We should support it.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-05 13:11] gaocegege commented on #463
dup with #532

[2022-07-05 13:11] #463 closed

[2022-07-06 03:14] gaocegege opened #556 "feat(CLI-context): Support TCP socket for buildkit"
## Description

Now we support docker-container and kube-pod for buildkit, we should also support TCP socket.

Ref https://github.com/moby/buildkit#expose-buildkit-as-a-tcp-service

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-06 03:20] gaocegege opened #557 "feat(lang): Extend envd build process to help system administrators customize"
## Description

MLOps teams may want to install some pre-built dependencies like internal SDKs, SSH keys or other things in the image. But it is hard to do it in base image since there may be so many images to support.

It would be great if we can support administrators writing logic to customize the build process:

## Approach 1

config.envd:

[code]

## Approach 2

[code]

---

**Message from th

[2022-07-06 06:42] zhyon404 commented on #478
I would like to help with this.

[2022-07-06 06:46] gaocegege commented on #478
/assign @zhyon404

Thanks! Do not hesitate to contact us on Discord if you have any problems.

[2022-07-06 06:50] #545 closed

[2022-07-06 06:58] #478 closed

[2022-07-06 07:03] VoVAllen opened #559 "feat(lang): Support load syntax"
## Description

Related: https://github.com/tensorchord/envd/issues/557

Support load envd file from remote location, such as `load('https://github.com/tensorchord/envd/raw/main/examples/mnist/')`
or `load('https://github.com/tensorchord/envd/raw/main/examples/mnist/build.envd')`

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with

[2022-07-06 07:07] zhyon404 commented on #543
I would like to help with this.

[2022-07-06 08:36] gaocegege commented on #543
/assign @zhyon404

Thanks! Feel free to ask for help on discord

[2022-07-06 08:38] VoVAllen commented on #11
One thing to add: The image might be directly used on k8s. Therefore the entrypoint functionality should also work without envd.

[2022-07-06 08:56] VoVAllen opened #561 "bug: Need manually `docker start` when restart docker deamon"
## Description

I used WSL. In WSL, the system is restarted everytime, so the docker deamon is restarted also. Thus previous working container become `stopped`. Need to manually start them, including `envd_buildkit`
---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-07-06 15:26] aseaday commented on #561
How about make the buildkit daemon only started on user's use envd build?

[2022-07-06 17:34] aseaday commented on #553
Does `use the existing image` means that `envd up` should use the image the user built before?

[2022-07-07 00:34] gaocegege commented on #561
@aseaday This issue does not only relate to buildkit, I think.

When you restart your OS, all the containers will be stopped, including the user containers.

[2022-07-07 00:37] gaocegege commented on #553
Yep.

Maybe `envd run --image <existed-image>`

[2022-07-07 04:40] aseaday commented on #561
For the user's created containers:
- --restart-always?
- start it when we detect people want to use?

For the second option, it seems to be related to the issue `envd up`

[2022-07-07 05:44] aseaday commented on #553
Let me gice some specific user scenarios:
1. A user exec `envd up` twice in a same directory, should `envd` rebuild the image or use the image created before.  If all the build config didn't change,  it seems a little wired to `envd up` a new env and less uesful. So we should only care about the situations someone change the build config like updating the env where a user may  import a new package

[2022-07-07 06:23] gaocegege commented on #553
The motivation of the issue is to resolve the first use case: `A user exec envd up twice in a same directory`

Maybe we should add the logic to check if the build manifest `build.envd` changes, to determine if we should rebuild it.

[2022-07-07 06:51] aseaday commented on #553
Nice, I will introduce the `build.envd` changed and rebuilt first.  Keep 2 and 3 for later use.
When we finished the syntax `load` ,  support for deps update at that time.

[2022-07-07 07:22] aseaday commented on #561
Add restart always for local host docker use. we may need a more general env manage design later than we get back to this issue.

[2022-07-07 08:26] #546 closed

[2022-07-07 08:28] kemingy opened #565 "bug: Invalid workflow file: .github/workflows/release.yml#L57"
## Description

Got emails from GitHub when merging commits:

* .github/workflows/release.yml: No jobs were run

Check https://github.com/tensorchord/envd/actions/runs/2628201836

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-07-07 13:55] aseaday commented on #510
It this issued related to https://github.com/tensorchord/envd/issues/556

[2022-07-08 01:22] gaocegege commented on #556
@aseaday

Hi, this issue is to support `--builder TCP --builder-socket --builder-name` in `envd context create`

These changes should be done:

- Add a new builder for tcp
- Rename CLI flag `builder-name` to `builder-socket`

[2022-07-08 02:59] kemingy opened #572 "bug: ERROR exporting to oci image format "invalid reference format: repository name must be lowercase""
## Description

Got an error when the dir name is uppercase.

## Reproduction

[code]

## Additional Info

error msg

[code]

more details with debug

[code]

I guess we need to lowercase the tag name?

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-07-08 04:19] gaocegege commented on #572
SGTM. I think we should.

[2022-07-08 04:47] gaocegege commented on #261
Ref #567

[2022-07-08 04:48] gaocegege commented on #541
Ref #567 about how to support custom base image in envd.

[2022-07-08 06:58] aseaday opened #574 "feat: refactor the cmd `build` and `up`"
## Description

There are a lot of duplcated case between them on the `build` stage. Maybe we should introduce a common module.

[2022-07-08 07:30] #572 closed

[2022-07-08 08:28] junnplus opened #576 "feat: containerd/nerdctl provider support"
## Description

[nerdctl](https://github.com/containerd/nerdctl/) is a Docker-compatible CLI for [containerd](https://containerd.io/) and it has many new features like rootless mode, compose integration, work with buildkit, and [so on](https://github.com/containerd/nerdctl/#features-present-in-nerdctl-but-not-present-in-docker).

PS. I am one of the main maintainers of containerd/nerdctl.

---

**

[2022-07-08 08:47] aseaday commented on #576
LGTM,  I will follow this issue.

[2022-07-08 09:24] aseaday commented on #576
I look throught the code of nerdctl, and there may be a little problem:
![image](https://user-images.githubusercontent.com/3927355/177960554-d0ab0d89-df70-45a9-b706-fa95af31aded.png)
As you can see from the illustrations,  envd use the golang's docker client package to talk with the dockerd.  There seems to be no such a thing in nerdctl.  A way to solve this I think is that you could provide a cli

[2022-07-08 09:43] aseaday commented on #576
LGTM.  Does nerdctl provide some functions indicate the binary path?
@gaocegege WDYT

[2022-07-08 10:26] kemingy opened #580 "bug: default `python` in the container is incorrect if `zsh` is not used"
## Description

`build.envd`
[code]

## Reproduction

[code]

[code]

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-07-08 10:28] kemingy commented on #580
I highly recommend adding some tests for this one. Since this should be the fundamental feature we need to guarantee.

[2022-07-08 10:40] kemingy commented on #580
Comparing to `zsh` config:

`build.envd`

[code]

[code]

[2022-07-08 10:45] VoVAllen commented on #580
`WARNING: The directory '/home/envd/.cache/pip' or its parent directory is not owned or is not writable by the current user. The cache has been disabled. Check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.`

It seems #343 bug still exists

[2022-07-08 10:46] VoVAllen opened #581 "feat: Support python version"
## Description

Currently the python version is fixed at https://github.com/tensorchord/envd/blob/main/pkg/lang/ir/system.go#L114

Related: https://github.com/tensorchord/envd/pull/567
---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-08 10:48] VoVAllen commented on #580
I would suggest we fix this after https://github.com/tensorchord/envd/pull/567 is decided, to see whether we'll have an extensive way to solve the base image problem
Also related to https://github.com/tensorchord/envd/issues/581

[2022-07-08 10:58] junnplus commented on #576
I recommend using `exec.LookPath("nerdctl")` to find.

[2022-07-08 11:03] VoVAllen commented on #576
I think this is a good idea, espeically the support of estargz from nerdctl can greatly improve user experiences using large images (most cases in data science scenarios). On the other hand, we may also provide kata-container support later, to deliver a full VM experience(for example user may want to use docker inside container), which is also supported by nerdctl (I guess?).

However we may need

[2022-07-08 11:21] kemingy commented on #581
BTW, installing `Python` through `apt` is not a good practice.

* https://pythonspeed.com/articles/official-python-docker-image/
* https://pythonspeed.com/articles/importerror-docker/

[2022-07-08 13:17] gaocegege commented on #580
It's different. The cache dir is owned by envd during the build process. But it does not change the permission in the image. Thus the cache dir in the image is empty and owned by root user.

See https://github.com/moby/buildkit/issues/1237

[2022-07-08 13:18] gaocegege commented on #580
I agree. We should add the test.

BTW, for the issue, maybe we should have a better implementation to set alias. Now we hard code the alias `alias python=python3` in ~/.zshrc

[2022-07-08 16:16] aseaday commented on #553
A flag: finish it this weekend.

[2022-07-09 00:29] gaocegege opened #582 "bug(runtime): Cache directory is owned by the root user in envd images"
## Description

It's different. The cache dir is owned by envd during the build process. But it does not change the permission in the image. Thus the cache dir in the image is empty and owned by root user.

See https://github.com/moby/buildkit/issues/1237

_Originally posted by @gaocegege in https://github.com/tensorchord/envd/issues/580#issuecomment-1178978919_

## Reproduction

## Additional Inf

[2022-07-09 00:32] gaocegege commented on #581
Could you please explain more about it? I did not find why not to use apt to install python in these two articles.

[2022-07-09 01:04] kemingy commented on #581
* apt source is not the latest one
  * https://github.com/tensorchord/envd/issues/580#issuecomment-1178835413  is still 3.8.10 while the latest one is 3.8.13, check https://www.python.org/downloads/
* https://frostming.com/2022/03-27/python-on-debian/  apt source is special

[2022-07-10 04:23] gyli commented on #450
Can I take the remaining one?

[2022-07-10 08:49] gaocegege commented on #450
/assign @gyli

[2022-07-11 02:06] gaocegege commented on #481
@all-contributors Please add @cswpy for the doc contribution!

[2022-07-11 05:28] #450 closed

[2022-07-11 16:43] aseaday commented on #582
I give a test purpose fix: https://github.com/tensorchord/envd/pull/592
It is wired that:
- ✅ /home/envd/.cache will be envd:envd if we use Run("mkdir /home/envd/.cache")
- ❌ `root.File(llb.Mkdir("/home/envd/.cache"),llb.WithUIDGID(g.uid, g.gid))` still be root:root

[2022-07-12 00:20] gaocegege commented on #582
It's a feature of buildkit. The cache dir is only mounted during the build time. Thus it does not change the user permission in the image.

[2022-07-12 00:28] gaocegege commented on #582
Ref https://github.com/moby/buildkit/issues/2682

[2022-07-12 00:29] gaocegege commented on #582
dup with https://github.com/tensorchord/envd/issues/343

[2022-07-12 00:31] #582 closed

[2022-07-12 00:32] gaocegege commented on #343
Closed by #582

[2022-07-12 00:32] #343 closed

[2022-07-12 00:56] gaocegege opened #593 "chore(lint): Fix lint issues"
## Description

https://github.com/tensorchord/envd/runs/7293192655?check_suite_focus=true#step:11:113

There are some lint issues in our code base, welcome contributions to fix them :tada:

[code]

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-12 01:02] terrytangyuan commented on #593
The errorlint issues should have been fixed. The checks were probably run against the PR branch that hasn't been rebased with the latest changes.

[2022-07-12 01:10] gaocegege commented on #556
I will pick it up tomorrow if no one is working on this issue since it is in high priority.

[2022-07-12 01:30] terrytangyuan commented on #593
Indeed. These errors are not fixed yet. `pre-commit` is working as expected.

[2022-07-12 03:47] gaocegege commented on #91
We may provide some primitives to play with buildkit in Go, then use these primitives to write logic in starlark. Like:

[code]

[2022-07-12 03:55] gaocegege opened #594 "chore: Protect main branch"
## Description

Enable squash after the approval on main branch.

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-07-12 03:57] #594 closed

[2022-07-12 04:04] gaocegege commented on #541
We propose to add a field `image` to `base`:

[code]

@pingsutw Does it work for you?

[2022-07-12 04:13] gaocegege commented on #581
Maybe we can use conda to manage python in the envd environment. We create a conda env in every envd image fs, and use this env to launch the shell program. Users always use conda python instead of the system python.

[2022-07-12 04:25] gaocegege commented on #91
LLB Primitives we used in current ir package:

- `llb.Mkfile`
- `llb.User`
- `llb.Mkdir`
- `llb.WithCustomName`
- `llb.Shlex`
- `llb.Copy`
- `llb.Local`
- `llb.Merge`
- `llb.WithUIDGID`
- `llb.Diff`
- `llb.Scratch`
- `llb.Image`

LLB state operations:

- `state.Run`
- `state.AddMount`
-  `state.File`

[2022-07-12 08:52] gaocegege opened #596 "bug(error): errors.As: *target must be interface or implement error, found *starlark.EvalError"
## Description

The error handling fails if there is an eval error:

[code]

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-07-12 09:39] #596 closed

[2022-07-12 11:30] terrytangyuan commented on #596
Thanks!

[2022-07-12 15:03] aseaday commented on #581
I think in most cases, conda env manager is a enough solution.

[2022-07-12 15:13] aseaday commented on #559
Should we have a proposal first?

[2022-07-12 15:55] aseaday commented on #580
I think we should give system installed python default.  Give a basic instructions on login such as:
[code]

[2022-07-13 00:24] gaocegege commented on #559
Yep, I think so. It is also related to #91

[2022-07-13 02:41] #593 closed

[2022-07-13 06:05] aseaday commented on #559
Maybe we should schedule a meeting for this?

[2022-07-13 06:08] gaocegege commented on #559
I am not sure if it is in high priority. There are few users interested in this now. WDYT

[2022-07-13 06:19] gaocegege commented on #523
Hi, is there some progress?

[2022-07-13 06:30] aseaday commented on #523
I am still working on part rescontruct from those lines:
[code]
I think I could finish it by the end of this month.

[2022-07-13 06:33] aseaday commented on #523
I would decide the final solutions method this weekend:
- Continue to convert the llb.state to Dockerfile
- Constrcut the a structure as the interfaces of `llb.state` but in fact it is a dockerfile builder

[2022-07-13 07:00] VoVAllen commented on #559
@aseaday I think https://github.com/tensorchord/envd/issues/91 is the high priority now. `load` syntax is somehow builtin functionality of starlark to load function from other file. There're some default behaviors we can enable if needed.

[2022-07-13 07:04] aseaday commented on #559
LGTM. I mentioned this because When I do menifest check in https://github.com/tensorchord/envd/issues/553. The `load` syntax will introduce side effect like `envd("http://")`.

[2022-07-13 07:12] VoVAllen commented on #547
done in https://github.com/tensorchord/envd-docs/pull/72

[2022-07-13 07:12] #547 closed

[2022-07-13 07:39] aseaday commented on #580
After discussion with  @gaocegege @VoVAllen  @kemingy  in https://discordapp.com/channels/974584200327991326/985401618277228604/996625047114494103. I think we have an agreement as the followings:
1. Only provide a python according to the user's version requirements. Use conda as the only provider and conda should be only package manager only and default version should be 3.8.
2. `python` and `pyth

[2022-07-13 07:49] gaocegege commented on #245
One reference:

- https://docs.tilt.dev/api.html

We can add the version prefix to funcs like `v1alpha1.config.jupyter()`

[2022-07-13 08:03] gaocegege opened #601 "chore: Add a new example about multi-target build"
## Description

- [x] Add a new example to: build a image for development and another one for serving

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-13 08:57] gaocegege commented on #124
Some references:

- https://github.com/moby/buildkit/pull/2835
- https://github.com/moby/buildkit/pull/2813
- https://github.com/moby/buildkit/issues/1472

[2022-07-13 16:48] aseaday commented on #553
Because we have implement the build or up from existing image. And https://github.com/tensorchord/envd/commit/9b3fbe3c9c91c167196be3764de4f53b1a074489 had achieve the the third item in https://github.com/tensorchord/envd/issues/553#issuecomment-1177106676.
I think the following job is to improve the mapping between the manifest and image. Hash (Maybe merkle) the manifest's AST and give a label: `a

[2022-07-13 16:52] aseaday commented on #581
https://github.com/tensorchord/envd/pull/602 solved this problem in most cases. Maybe more documentation needed.

[2022-07-13 16:55] aseaday commented on #124
https://github.com/ktock/buildg seems a good option.

[2022-07-13 17:11] aseaday commented on #124
But I think the `envd manifest` shoud be a statement of final environment. Users shouldn't care about the build process. So I think this issue's priority is not as important as others.

[2022-07-13 23:59] gaocegege commented on #553
SGTM

[2022-07-14 00:07] gaocegege commented on #124
This command is used to debug why the image fails to build. For example:

[code]

[code]

[2022-07-14 01:06] gaocegege commented on #148
If we implement this, we can remove conda in base images. The dependencies can be installed during build process, and we can cache them in the registry.

[2022-07-14 01:07] gaocegege commented on #148
/cc @kemingy

[2022-07-14 08:23] popfido commented on #581
conda is a good solution, but conda's environment solving speed is horrable. Maybe we can also support `mamba` or `micromamba`

[2022-07-14 08:40] aseaday commented on #581
It is a good idea to use mamba because I used it too.
IMO, we'd better add a extra option for user to use. `conda` is popular at least for our users.

[2022-07-14 08:43] aseaday opened #607 "feat: support mamba as conda alternatives"
conda is a good solution, but conda's environment solving speed is horrable. Maybe we can also support `mamba` or `micromamba`

_Originally posted by @popfido in https://github.com/tensorchord/envd/issues/581#issuecomment-1184148355_

[2022-07-14 08:43] #581 closed

[2022-07-14 08:43] #580 closed

[2022-07-14 09:00] gaocegege commented on #607
Thanks for raising this!

[2022-07-15 01:27] gaocegege commented on #194
Buildkit frontend requires a image from us, just like [`docker/dockerfile`](https://hub.docker.com/r/docker/dockerfile).

The image [`docker/dockerfile`](https://hub.docker.com/r/docker/dockerfile) contains a CLI binary:

[code]

It wraps the `dockerfile.Build` with `grpcclient.RunFromEnvironment`. Function `dockerfile.Build` is the build func for Dockerfile.

We can provide a similar implementati

[2022-07-15 01:31] gaocegege commented on #194
After #606 is merged, we already have the build func. But we cannot make envd a frontend of buildkit:

- We rely on `LocalDirs` in `SolveOpt` to expose cache dir to the build process. The `LocalDirs` is not supported in build func. We should make cache dir a `llb.Local`, then mount it into the llb states. See https://github.com/r2d4/mockerfile/blob/master/pkg/build/build.go#L83
- We rely on `conta

[2022-07-15 15:32] pingsutw commented on #541
yup, that's what we want, LGTM, thanks.

[2022-07-17 05:48] gaocegege commented on #148
Ref https://github.com/moby/buildkit/issues/1251

Tried to push the cache to the registry and import it in a clean build, it does not work. Not sure what happens:

[code]

[2022-07-17 08:47] gaocegege commented on #148
https://github.com/moby/buildkit/issues/2383#issuecomment-930627760

Maybe it is related to the umask. We need to re-compile buildkit to know what happens here.

[2022-07-18 05:49] kemingy opened #617 "feature: Correct PROMPT prefix in the container terminal"
## Description

[code]

## Reproduction

run `envd up` with the `envd-quick-start`

## Additional Info

I guess one is `zsh` PROMPT, another is `conda` PROMPT.

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-07-18 05:51] kemingy commented on #617
`envd.zsh-theme`

[code]

`env | grep PROMPT`

[code]

[2022-07-18 06:56] gaocegege commented on #617
Yep, the first one is conda, and the second is hard-coded in zsh theme. Maybe we can remove the zsh one since we use conda by default.

WDYT

[2022-07-18 07:00] kemingy commented on #617
Agree.

[2022-07-18 10:49] gaocegege opened #618 "bug(context): use does not work in context create command"
## Description

https://github.com/tensorchord/envd/blob/main/pkg/home/context.go#L97

use here is not used.

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-07-18 10:51] kemingy opened #619 "bug: `merging` takes very long to run when connected with TCP"
## Description

`build.envd`

[code]

[code]

## Reproduction

* #599
* `envd context create --name test --builder tcp --builder-socket tcp://0.0.0.0:1234`
* run buildkit container `docker run --name envd-test --rm -p 1234:1234 -d --security-opt seccomp=unconfined --security-opt apparmor=unconfined moby/buildkit:rootle
ss --addr tcp://0.0.0.0:1234`

## Additional Info

---

**Message from the main

[2022-07-18 14:34] kemingy opened #620 "improvement: reduce downloading large Python package through mirror during test"
## Description

Currently, some tests will download [`ormb`](https://pypi.org/project/ormb/#files) (8.5 MB) through the Tsinghua mirror, which can be very slow sometimes.

* Code: https://github.com/tensorchord/envd/blob/ef8a90df3bc1a3009381eb3fd10767f468fcefc2/pkg/app/testdata/up-test/build.envd#L8

Maybe we can find another suitable PyPI package to test.

---

**Message from the maintainers**:

[2022-07-18 14:56] kemingy commented on #326
logo draft
![image](https://user-images.githubusercontent.com/12974685/179539833-e0fecbfd-ed0f-4cec-b553-3a1d058fcfc3.jpeg)

[2022-07-18 15:40] lilylee1874 commented on #326
![Group 79](https://user-images.githubusercontent.com/52693877/179548232-ffe13a11-1079-4cfe-9f77-eabfdd1a7d00.png)
<img width="701" alt="Screenshot 2022-07-18 at 23 30 19" src="https://user-images.githubusercontent.com/52693877/179548251-a2e6d54b-0e89-496c-9997-867287d88891.png">

2nd version.
Differentiate the design of letter D from ENV to convey distinguished meanings.

[2022-07-19 00:26] #556 closed

[2022-07-19 00:44] gaocegege commented on #365
[code]

[2022-07-19 00:54] gaocegege commented on #326
The logo looks promising.

I used to think designing envd's logo based on our emoji used in README ⛺

[2022-07-19 01:50] lilylee1874 commented on #326
Can you elaborate the meaning of that emoji? Maybe we can also develop another version based on that idea

[2022-07-19 02:20] kemingy commented on #620
I have a side project [via](https://github.com/kemingy/via) which is pure Python, it only has 2.6 kB. Also, it has a command line interface suitable for testing (if required).

I think we can keep the mirror here for testing. Switching to a tiny PyPI library should be enough.

[2022-07-19 02:44] gaocegege commented on #326
Thanks for your reply! As you know, envd is a development environment for engineers.

Based on this, we think the tent 🏕️, ⛺, used for protection from wind and rain when camping, can express what envd does:

envd protects engineers from complicated configurations, files that always breaking, and other bad things. Users can enjoy the trip of machine learning with the help of envd, their comfortable

[2022-07-19 03:27] gaocegege commented on #620
SGTM

[2022-07-19 09:55] sea-wyq opened #621 "bug: <title>An error occurred when executing envd up under the example of envd-quick-start"
## Description
failed to load docker image: Post "http://%2Fvar%2Frun%2Fdocker.sock/v1.41/images/load?quiet=1": context canceled  tag="envd-quick-start:dev"
error: process "useradd -p  -u 0 -g envd -s /bin/sh -m envd" did not complete successfully: exit code: 4
## Reproduction

## Additional Info
Environment: ubuntu18.6, non-root user
---

**Message from the maintainers**:

Impacted by this bug? G

[2022-07-19 10:24] gaocegege commented on #621
Thanks for the issue! I think it is related to #522

[2022-07-19 10:24] gaocegege commented on #621
/cc @aseaday

[2022-07-19 10:26] gaocegege commented on #326
@all-contributors Please add @lilylee1874 for design contributions

[2022-07-19 13:55] aseaday opened #623 "bug: manifest update check failed by BuildFunc and Gateway Frontend process logic"
## Description
Using the gateway front to build image, it will always make the tag image like:
![image](https://user-images.githubusercontent.com/3927355/179767744-d2786a38-7743-4dd1-9758-6f0b39d29cbc.png)
So we the dockerd couldn't return the correct created time because the check function is moved into the BuildFun now.
## Reproduction
Set a breakpoint in the body of BuildFunc and `docker images

[2022-07-20 00:53] gaocegege commented on #621
@sea-wyq Could you please share the output of `envd version --detail`?

[2022-07-20 01:14] gaocegege commented on #623
Yep, we have some e2e test cases in pkg/app/. Welcome contributions!

[2022-07-20 01:14] gaocegege commented on #623
Does #624 solve this issue?

[2022-07-20 01:47] gaocegege commented on #148
I simplified the LLB to:

[code]

There are only two layers: llb.Image and llb.Run. The remote still does not work. Then I added some debug info into buildit:

- Print cachemap of run state.

The cachemap is always the same.

I need to have a deep dive into the implementation about the remote cache.

[2022-07-20 02:32] sea-wyq commented on #621
At present, the experiment is successful under the root user. Nice

[2022-07-20 02:32] aseaday commented on #623
Yes. I will close this issue when I finish test.

[2022-07-20 02:44] sea-wyq commented on #621
In the **envd-quick-start** example, when I enter the built container, execute **python demo.py** and find that the numpy package does not exist.

[2022-07-20 02:49] gaocegege commented on #621
Thanks for the report.

I think it is related to the python update-alternative. We also need the help from @aseaday

I really suffer from the conda/python although we already have envd. Sigh.

[2022-07-20 02:49] sea-wyq commented on #621
In build.envd I added config.pip_index(url="https://pypi.tuna.tsinghua.edu.cn/simple") 。Because it took five minutes to download the numpy package without success

[2022-07-20 02:50] gaocegege commented on #621
@sea-wyq Could you please show the result of `which python` in envd environment?

[2022-07-20 02:50] sea-wyq commented on #621
/opt/conda/bin/python

[2022-07-20 02:51] gaocegege commented on #621
OK, thanks, Let's discuss it in [discord](https://discord.com/invite/KqswhpVgdU) if you are free. I am glad to help you debug on this.

[2022-07-20 02:53] sea-wyq commented on #621
Let me know if there is any solution. Ha ha.

[2022-07-20 02:53] gaocegege commented on #621
@sea-wyq Would you mind joining our discussions on Discord? https://discord.com/invite/KqswhpVgdU

[2022-07-20 02:55] gaocegege opened #625 "bug(lang): custom base image does not work as expected."
## Description

We always use conda in the compilePython function, and some base images does not have it. We should maintain a separate logic for custom images.

/assign

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-07-20 02:57] sea-wyq commented on #621
joined, FOURTH

[2022-07-20 02:58] gaocegege commented on #621
You can give `python3` a try with `python3 demo.py`.

We are working on the fix.

[2022-07-20 03:01] aseaday commented on #621
I think it may be caused by cache.
Please `envd d` , `envd prune` and `docker rmi envd-quick-start:dev`. And redo `envd  up`

[2022-07-20 03:02] gaocegege commented on #621
Cannot find you there, could you please share your name on discord?

[2022-07-20 03:03] sea-wyq commented on #621
python3 is invalid

[2022-07-20 03:07] sea-wyq commented on #621
should be ok now

[2022-07-20 03:10] sea-wyq commented on #621
ok ,it works.  thanks

[2022-07-20 03:14] gaocegege opened #627 "feat(CLI): Support image remove in envd destroy command"
## Description

`envd image rm` should be supported to remove unused envd images.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-20 03:15] gaocegege commented on #627
Ref https://github.com/tensorchord/envd/issues/621#issuecomment-1189753075

To avoid `docker rmi`

[2022-07-20 03:15] aseaday commented on #621
Sorry for your inconvinience and your bug submitting.  It was cause by old image built from old version envd and new envd just use it becuase of cache design. We we introduce a more robust cache feature to solve it.

[2022-07-20 03:18] gaocegege commented on #621
@aseaday Thanks for the investigation. Could you please open an issue to keep track of it? I am closing this one.

@sea-wyq Thanks for the issue. Feel free to leave comments if there is any update.

@all-contributors Please add @sea-wyq for bug issues

[2022-07-20 03:25] #621 closed

[2022-07-20 03:28] gaocegege opened #629 "chore: Separate e2e test with unit test cases"
## Description

Now our e2e test cases are placed in pkg/app. It took too long time. We should separate the e2e test to a separate Github Action.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-20 03:52] aseaday opened #631 "feat: a robus label system for image reuse"
The tag for cache is not robust for production use. It is needed to design a new label system for envd to reuse.

_Originally posted by @aseaday in https://github.com/tensorchord/envd/issues/621#issuecomment-1189765032_

[2022-07-20 03:53] #620 closed

[2022-07-20 03:56] aseaday commented on #629
I think we also need to start a container on buildt image for user end.

[2022-07-20 03:58] gaocegege commented on #629
Yep, I think so.

[2022-07-20 04:55] gaocegege opened #632 "bug(macOS): Fail to expose service on macOS"
## Description

![image](https://user-images.githubusercontent.com/5100735/179900014-cc550ca8-8cb7-4fc2-b6ef-19177389feb2.png)

Need to authorize network privileges for envd ..

https://discord.com/channels/974584200327991326/985402274505424916/999175056192180335

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issue

[2022-07-20 06:50] sea-wyq opened #633 "feat: Can Envd install third-party tools through pip to install applications?"
## Description

e.g. pip3 install openmim && \
     mim install mmcv-full && \
     mim install mmdet==2.24.0
---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-20 06:51] sea-wyq commented on #633
If supported how should I define in envd?

[2022-07-20 06:57] sea-wyq opened #634 "bug: <title>system_packages api undefined"
## Description
![image](https://user-images.githubusercontent.com/22475606/179916720-f14bfbeb-b1aa-48c1-bc13-d98329dd1cb1.png)

## Reproduction

## Additional Info
version : envd: v0.2.0-alpha.6+18abe90
---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-07-20 06:58] gaocegege commented on #633
Maybe you can try this

[code]

[2022-07-20 06:59] gaocegege commented on #634
@sea-wyq Thanks for the issue, where do you find the func? It's name is `install.system_packages` instead of `system_packages`

[2022-07-20 07:01] sea-wyq commented on #634
See it in the official documentation, because you need to install some packages through apt

[2022-07-20 07:03] sea-wyq commented on #634
I know。

[2022-07-20 07:03] sea-wyq commented on #634
How do I install it through a third-party repository? For example mim.

[2022-07-20 07:04] sea-wyq commented on #633
ok

[2022-07-20 07:05] sea-wyq commented on #634
thanks you

[2022-07-20 07:11] #634 closed

[2022-07-20 07:23] sea-wyq commented on #633
Can run() support copying files to an image?

[2022-07-20 07:26] gaocegege commented on #633
What kinds of files do you want to copy?

[2022-07-20 07:27] sea-wyq commented on #633
python script files, and some executable files

[2022-07-20 07:29] sea-wyq commented on #633
Is there something similar to dockerfile?

[2022-07-20 07:30] gaocegege commented on #633
envd mounts the current dir into the env by default. Thus you do not need to copy files into it if the files are placed in the current working directory.

[2022-07-20 07:47] sea-wyq commented on #633
ok

[2022-07-20 07:52] sea-wyq commented on #633
![image](https://user-images.githubusercontent.com/22475606/179927116-17ccbdda-a462-4da6-b230-e8ba7ab4ef00.png)
![image](https://user-images.githubusercontent.com/22475606/179927395-73ebb751-86b3-4b6b-95ba-3b5c7db9b974.png)
cannot find mim command

[2022-07-20 07:57] gaocegege commented on #633
@sea-wyq May I ask if you use envd for training, or for serving? It seems that the base image is configured not correctly.

[2022-07-20 07:59] sea-wyq commented on #633
The basic image has an environment configuration, can't it be written like this?

[2022-07-20 07:59] sea-wyq commented on #633
serving

[2022-07-20 08:01] gaocegege commented on #633
@sea-wyq You can update it to

[code]

[2022-07-20 08:02] gaocegege commented on #633
BTW, can you ping me on Discord? Maybe we can discuss your demo there.

[2022-07-20 08:10] sea-wyq commented on #633
ERRO[2022-07-20T16:09:33+08:00] failed to load docker image: Post "http://%2Fvar%2Frun%2Fdocker.sock/v1.41/images/load?quiet=1": context canceled  tag="mmocr:dev"[+] build envd environment 0.0s (0/0)
error: failed to compile: failed to interpret: failed to exec starlark file: Exception when exec build func: language is required

[2022-07-20 08:11] sea-wyq commented on #633
I'm on the company's intranet now, and I can't seem to see the channel

[2022-07-20 08:14] sea-wyq commented on #633
ok

[2022-07-20 08:14] sea-wyq commented on #633
already added

[2022-07-20 08:22] #625 closed

[2022-07-20 08:39] gaocegege opened #636 "feat(CI): Merge the unit test and e2e test coverage report in CI.yaml"
## Description

https://github.com/tensorchord/envd/blob/main/.github/workflows/CI.yml#L203

We should merge e2e test coverage `e2e-coverage.out` and unit test coverage report `coverage.out` into one, and push the new one to coveralls.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-20 09:03] gaocegege opened #637 "feat(lang): Support copy func"
## Description

Users need `copy` to copy some files into the env, especially during serving. We should provide such primitives.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-20 09:14] gaocegege commented on #637
I think it is related to the code part. Users explain that some code files related to the inference server should be added into the image.

[2022-07-20 13:17] gaocegege opened #642 "bug(lang): Entrypoint is wrong when base image is specified"
## Description

The entrypoint does not work for the base image.

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-07-20 14:00] gaocegege commented on #91
Some random thoughts about frontend language

[code]

[2022-07-21 00:50] gaocegege opened #644 "enhancement(build): configure user permissions takes too much time"
## Description

It takes too much time to configure the user permissions

[code]

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-21 01:07] gaocegege opened #645 "bug(build): Image config is not configured correctly"
## Description

The func `imageConfig` relies on ir package to get the entrypoints/labels. But in our new design of gateway build func, the ir.DefaultImage is not initialized because we run the starlark interpretation in BuildFunc. Thus we cannot get the right config.

We should move the logic into BuildFunc with gateway client's ResolveImageConfig

[code]

## Reproduction

## Additional Info

---

[2022-07-21 01:25] #19 closed

[2022-07-21 03:24] #377 closed

[2022-07-21 03:26] sea-wyq opened #646 "feat: It is hoped that the built image can support tag modification"
## Description

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-21 03:39] sea-wyq commented on #646
The current feature is that the reconstructed image will replace the old image? Tag remains the same?

[2022-07-21 03:46] gaocegege commented on #646
cc @aseaday

[2022-07-21 04:35] aseaday commented on #646
I want to make the default tag like `quick-start:20221221`. WDYT @sea-wyq @gaocegege

[2022-07-21 05:14] sea-wyq commented on #646
Yes, is it currently supported to modify tags?

[2022-07-21 06:08] sea-wyq commented on #646
ok

[2022-07-21 08:17] gaocegege commented on #646
Can it solve the current hash problems?

[2022-07-21 09:47] aseaday commented on #646
I will give a whole design about the tag and system for user understanding and image cache of docker side (or container client like docker).

[2022-07-21 09:50] aseaday commented on #644
It is cause by  `chown -R`
https://github.com/docker/for-linux/issues/388#issuecomment-1140409167 is a good idea but not for our case.

[2022-07-21 10:00] aseaday commented on #646
@sea-wyq could you remove `<title>` because it is a  placeholder.

[2022-07-21 10:10] gaocegege commented on #644
Yep, I am not sure if we really need the -R chown since it is only to fix conda problems. Maybe we can have fine-grain control.

[2022-07-21 13:23] gaocegege opened #647 "chore(CI): Auto-generate CLI and API reference for envd docs"
## Description

Our doc is stale, we should use an automated build to generate them instead of update manually.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-21 13:35] lilylee1874 commented on #326
Some sketches based on @gaocegege’s idea

![07E15AE3-841D-4DCB-90BA-AEB71E41234E](https://user-images.githubusercontent.com/52693877/180226518-9c0fdf46-796a-434b-8942-e59edfc1d476.jpeg)

[2022-07-21 14:56] terrytangyuan commented on #326
@lilylee1874 What are the meanings of those letters? E and N may not be easily recognizable by English speakers. They look like rows and columns to me at least.

[2022-07-21 15:39] knight42 commented on #194
It seems we could leverage named context https://www.docker.com/blog/dockerfiles-now-support-multiple-build-contexts/ if we made envd a buildkit frontend, but we need to pass an extra argument to `docker buildx build`, like:
[code]

[2022-07-22 00:24] gaocegege commented on #194
The cache dir should be added by default in `envd` binary, Thus I think we could just make it in build func instead of a extra arg. :thinking:

[2022-07-22 01:27] #629 closed

[2022-07-22 01:31] kemingy commented on #365
e2e test failed 11 times: https://github.com/tensorchord/envd/runs/7460599803?check_suite_focus=true

Can check the log for details.

[2022-07-22 01:40] knight42 commented on #194
Please correct me if I missing something 🤔, we cannot access dir outside the build context dir during build time if envd is used as a buildkit frontend since buildx only adds the context dirs to `LocalDirs` https://github.com/docker/buildx/blob/701c548e46348da2958104907c9572ea7ce6ab52/build/build.go#L1376

[2022-07-22 02:14] gaocegege commented on #194
Yep, we cannot access dirs if it is not added into buildkit as a build context.

I mean we should keep localdir in LocalDirs by default in `envd`'s binary. If users use `buildctl`, they can use `--build-context` to add cache dir as build context.

[2022-07-22 02:41] gaocegege opened #649 "feat(docs): Tips for context"
## Description

We may add a tip doc about how to use context feature in envd.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-22 02:46] gaocegege commented on #194
BTW, if you are interested in buildkit integration with envd, maybe you can have a look at #124

We are working on supporting debug functionality in envd, similar to docker buildx. But there are many challenges especially from buildkit.

[2022-07-22 08:05] lilylee1874 commented on #326
It's is just a neat & simple font style which ensure the uniqueness., there is nothing special regarding the meaning.
If you're interested in this direction but worry about with legibility, of course we can adjust it.

[2022-07-23 02:19] #618 closed

[2022-07-23 13:01] #645 closed

[2022-07-25 03:32] gaocegege commented on #365
Closed in #658

[2022-07-25 03:32] #365 closed

[2022-07-25 04:06] gaocegege opened #659 "bug(CLI): short alias confusion"
## Description

[code]

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-07-25 08:04] gaocegege opened #660 "bug(CLI): Always get a warning in up command"
## Description

[code]

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-07-25 11:01] gaocegege commented on #632
The bug exists in v0.1.0, it is fixed in the latest release. /cc @shaonianche

[2022-07-25 11:01] #632 closed

[2022-07-25 11:27] gaocegege commented on #637
Ref https://github.com/moby/buildkit/blob/master/frontend/dockerfile/docs/reference.md#copy

I propose the syntax:

[code]

[2022-07-25 11:28] gaocegege commented on #637
/assign

[2022-07-25 22:07] gaocegege commented on #637
We should copy and set the uid/gid.

Yes, please refer to https://github.com/moby/buildkit/blob/master/frontend/dockerfile/docs/reference.md#copy

[2022-07-25 22:19] gaocegege commented on #642
Now the entrypoint is nil if the base image is specified.

[2022-07-25 22:19] #642 closed

[2022-07-26 08:30] #553 closed

[2022-07-26 08:53] kemingy opened #663 "feat: support `shell("fish")`"
## Description

[fish](https://fishshell.com/) is another modern shell that works out of the box. It would be good to support the following command in envd.

[code]

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-26 09:34] VoVAllen opened #665 "epic: end2end one-click running example"
## Description

Enable user to run the model by one-click without any extra step. Envd will setup environment, as well as the data.

[2022-07-26 09:37] VoVAllen opened #666 "bug: Fix UID/GID problem in a systematic way"
## Description

Possible solution:
- Use GID=0 for `envd` user
- Use root as the default user

Reference: https://github.com/boxboat/fixuid

[2022-07-26 09:45] VoVAllen opened #667 "feat: Better cache support for conda python and other packages"
## Description

Currently python is installed on the fly. We can use buildkit's cache to accelerate the process.

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-26 09:53] VoVAllen opened #668 "feat: Better support for custom base image"
## Description

Support entrypoint and cache for custom base image

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-26 10:03] VoVAllen opened #669 "feat: Collect metrics in the environment and build monitor dashboard"
## Description

Support collecting related metrics (cpu/gpu/memory/disk) and demonstrate it to users

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-26 10:07] VoVAllen opened #670 "feat: Support dataset integration with common frameworks"
## Description

Support dataset integrations with pytorch/torchvision/huggingface-datasets. Let user can initialize data easily

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-26 11:20] aseaday commented on #669
I think we could do a exporter. But we need to have a good design. Because I think we should reduce the difficulty for users to ananlyze the data but could know what he could do to improve the effiency or progress in a look.
Another thing I cared about is that should we also monitor the model or computing flow in the application users runs?

[2022-07-26 16:22] VoVAllen commented on #669
Sure. We're considering something like a probe, that can also be integrated with the existing observability platform.

For the second question, what kind of monitoring are you referring to?

[2022-07-27 02:12] aseaday commented on #669
Let me state it clearly.
For the first quesion, I think we should better also provide a simple all-in-one index such as a user's computing device is busy or free.
For the second question, I developped some tools like Jaeger to trace our machine learning application's work flow.
![image](https://user-images.githubusercontent.com/3927355/181145084-9f7ab931-ee49-4a1b-acb3-9344a0114b21.png)
For a app

[2022-07-27 02:53] sea-wyq opened #671 "feat: <title>Can yaml installation of conda be supported?"
## Description

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-27 02:56] kemingy commented on #671
* Is it related to #329 ?

[2022-07-27 03:15] kemingy commented on #617
I did some research about [starlark](https://starship.rs). It's a good PROMPT tool. But it requires users to use [Nerd Font](https://www.nerdfonts.com/) in the terminal because it uses some emojis and special characters.

In my terminal (with nerd font):
![image](https://user-images.githubusercontent.com/12974685/181152436-ebf6675d-0947-4fe7-8623-f6205e516f01.png)

System terminal (without nerd fo

[2022-07-27 03:47] sea-wyq opened #672 "feat: Support conda in debian-based custom base image"
## Description

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-27 06:05] VoVAllen commented on #669
@aseaday I think generating a computation graph from a running application is still an open problem, which cannot be done in a non-intrusive way. An alternative way is probably using nsight system to collect running metrics (we can provide envd script for this), that user can see the execution time of each operator. Does this work in your scenario?

[2022-07-27 07:21] #660 closed

[2022-07-27 07:23] gaocegege commented on #617
Do you mean starlark or starship?

[2022-07-27 07:24] gaocegege commented on #671
Yep, but I think this issue is about custom base image.

[2022-07-27 07:25] kemingy commented on #617
Sorry starship...

I try to change the emoji to ASCII characters to guarantee it always works.

[2022-07-27 11:37] VoVAllen opened #673 "feat: Declare mounting directory"
## Description

Most researchers use public datasets from builtin API provided by the framework (torchvision/huggingface dataset/dgl). And those data need to be persistent, and might need to be shared between projects.

For example, using dgl, the dataset is stored in `~/dgl`. Here's the example for the Cora citation graph dataset.
The `~/.dgl` is expected to be managed by envd.
[code]

Proposal:

[2022-07-27 11:42] gaocegege commented on #673
The name `target` confuses me. Maybe `source` is better.

[2022-07-27 11:48] VoVAllen commented on #673
How about `mount_path`? `target` here is the path inside container

[2022-07-27 11:51] gaocegege commented on #673
Then how to specify the path in the host with your design?

[2022-07-27 11:56] VoVAllen commented on #673
@gaocegege It's managed by envd. For example, save the data at `~/.envd/data`, and envd will create a unique folder if the dataset name is new, or directly mount it to the container if already exists.

User can also specify the data path on host if needed (probably part of envd context)

[2022-07-27 14:01] aseaday commented on #669
Nsight works for me but seems a little complex for ordinary data scientist like our target audience. Maybe we should have a talk with our target users. What they want to learn from a minitor?

[2022-07-28 01:13] gaocegege commented on #669
Yep, we can. But I am not sure if they can tell us about it. They may not know what metrics are helpful for them too.

[2022-07-28 02:28] #631 closed

[2022-07-28 02:29] #646 closed

[2022-07-28 04:41] gaocegege commented on #623
Does it still exist?

[2022-07-28 04:44] VoVAllen commented on #672
What do you mean by `on the base mirror`? Do you mean put conda in the base image?

[2022-07-28 04:45] gaocegege commented on #672
@VoVAllen I updated the titile.

[2022-07-28 08:56] #637 closed

[2022-07-28 09:29] gaocegege opened #682 "chore(CLI): Rename envd-ssh to envd-sshd"
## Description

`cmd/envd-ssh` is actually a `sshd` implementation. Thus we should rename it to `envd-sshd`:

- Rename the folder cmd/envd-ssh
- Rename the target in Makefile
- Rename in base-images
- Rename it in goreleaser.yml

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-28 15:41] VoVAllen opened #683 "bug: envd-ssh in tensorchord/python:3.8-ubuntu20.04-cuda11.6-cudnn8 is old"
## Description

envd-ssh in tensorchord/python:3.8-ubuntu20.04-cuda11.6-cudnn8 is old, which breaks the cuda installation

[code]

[2022-07-29 02:36] #671 closed

[2022-07-29 03:13] #623 closed

[2022-07-29 03:15] gaocegege commented on #669
Some research: https://github.com/tensorchord/envd/issues/218

[2022-07-29 03:16] gaocegege commented on #218
dup with #669

[2022-07-29 03:16] #218 closed

[2022-07-29 03:20] #617 closed

[2022-07-29 03:22] aseaday commented on #669
agent is better for general purpose use.

[2022-07-29 03:23] aseaday commented on #669
I thought we should a better design for how to preprocess and show the metrics to the users. Otherwise, it is not meaningful to give a grafana.

[2022-07-29 03:29] gaocegege commented on #669
Yep, I think so. We need a proposal for the feature.

[2022-07-29 04:44] VoVAllen commented on #683
Fixed in https://github.com/tensorchord/envd/pull/681/files to use python3.9-X as base image

[2022-07-29 05:46] gaocegege commented on #683
Could we close it?

[2022-07-29 06:53] VoVAllen commented on #673
MVP:

Support `io.mount(src="...", target="...")`

Optimization:
`io.mount(src=EnvdManager("dgl"), target=C.DefaultDglPath)`

[2022-07-29 07:26] gaocegege opened #695 "feat(runtime): Support conda cache"
## Description

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-07-31 01:12] gaocegege commented on #659
We can remove `i` from the `images`.

[2022-08-01 01:17] #683 closed

[2022-08-01 02:00] kemingy commented on #326
![image](https://user-images.githubusercontent.com/12974685/182058096-fc2e04b6-8b3c-4385-ba1e-c5d21e9393aa.png)

Can you find "ENVD" in this picture?

[2022-08-01 06:07] VoVAllen opened #698 "feat: Support generating build.envd from user's existing project like buildpacks"
## Description

Support automatically converting user existing application to envd project like buildpacks

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-08-01 07:21] gaocegege opened #699 "feat(CLI): Support positional args"
## Description

Positional args like `docker exec <container> bash -c xxx` is user-friendly. The current design `envd run --comand "bash -c xxx"` is not great.

But the CLI framework we used does not support this.

- https://github.com/urfave/cli/issues/1074
- https://github.com/urfave/cli/issues/1237

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioriti

[2022-08-01 07:34] gaocegege opened #700 "bug(lang): Failed to run `cd` in run func"
## Description

[code]

`cd` fails to run in envd since we do not use bash in run func. It should be fixed by `bash -c "cd xxx"`

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-08-01 10:39] gaocegege commented on #667
I will work on this issue.

[2022-08-01 11:01] kemingy opened #702 "bug: update config path in doc"
## Description

* related to #641

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-08-01 15:52] aseaday commented on #669
I will write the proposal and do basic exporter this week.

[2022-08-02 00:38] gaocegege commented on #481
Ref https://github.com/tensorchord/envd-docs/pull/79

@allcontributors Please add @xiangtianyu for the doc contribution.

[2022-08-02 02:13] gaocegege commented on #481
@allcontributors Please add @sepush for the doc contribution!

Ref https://github.com/tensorchord/envd-docs/pull/75

[2022-08-02 04:20] #702 closed

[2022-08-02 04:45] gaocegege commented on #667
#695 is in higher priority than this issue, thus I will work on that first.

[2022-08-02 07:53] gaocegege commented on #633
It should be resolved, I am closing it.

[2022-08-02 07:53] #633 closed

[2022-08-02 07:54] gaocegege opened #706 "feat(CLI): Add a demo command"
## Description

`envd demo` creates a build.envd demo and up it.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-08-02 08:04] kemingy commented on #706
Can we support `envd up -f <URL>` to build and run the remote envd file?

[2022-08-02 08:05] gaocegege commented on #706
SGTM but the build context is still a problem. We cannot get the remote build context from the URL.

[2022-08-02 08:22] #695 closed

[2022-08-02 08:24] VoVAllen commented on #706
Probably we can make this part of `envd init` command, such as `envd init --demo`

[2022-08-02 08:26] gaocegege commented on #706
In my opinion, the command `envd demo` should create the build.envd in tmp/xx/ then run `envd up` based on this. Then the users can get a shell from it directly.

[2022-08-02 08:45] #673 closed

[2022-08-02 10:11] ggaaooppeenngg opened #709 "bug: timeout 5s: cannot connect to buildkitd"
## Description
bootstrap failed.
## Reproduction
[code]
## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-08-03 00:35] gaocegege commented on #709
Could you please show the result of `envd --debug bootstrap --dockerhub-mirror https://docker.mirrors.sjtug.sjtu.edu.cn` and `envd version --detail`?

[2022-08-03 02:44] aseaday commented on #706
How about we provide a interfact shell like:
[code]

[2022-08-03 02:47] ggaaooppeenngg commented on #709
[code]

[code]

[2022-08-03 02:48] gaocegege commented on #706
Looks promising to me. :tada:

[2022-08-03 02:49] gaocegege commented on #706
It also can be used in `envd init`

[2022-08-03 02:51] gaocegege commented on #709
The container `envd_buildkitd` is not running, could you please show `docker logs envd_buildkitd`?

And you can `docker rm envd_buildkitd` and rerun `envd bootstrap` to give it another try after we got the log.

[2022-08-03 02:51] aseaday commented on #706
yes, we could had a feature to support interactive set simple envd build manifest first.

[2022-08-03 03:23] ggaaooppeenngg commented on #709
[code]
it works

[2022-08-03 03:26] gaocegege commented on #709
The log is weird. I will try to reproduce it locally, thanks for the issue!

[2022-08-03 04:39] gaocegege commented on #667
I will write a demo at https://github.com/gaocegege/envd-image-cache

[2022-08-03 07:02] lilylee1874 commented on #326
![image](https://user-images.githubusercontent.com/52693877/182544880-323280a8-79aa-44c0-bd0b-d05b78fd994b.jpeg)

EnvD cat

[2022-08-03 07:34] sea-wyq opened #710 "feat: <support setting environment>"
## Description
Does envd currently support setting environment variables? For example, LD_LIBRARY_PATH is necessary in some scenarios
---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-08-03 08:11] sea-wyq opened #711 "bug: <title> No such image after envd up"
## Description
First execute envd up --t test , then delete the mirror test, and finally execute envd up --t test There will be an error error: No such image:test , showing that the cached image after deletion can be read。
## Reproduction

## Additional Info
![image](https://user-images.githubusercontent.com/22475606/182558237-9fee4dfd-6121-40d2-84f3-912056a3bd9c.png)
---

**Message from the maint

[2022-08-03 08:20] ggaaooppeenngg opened #712 "bug: envd up failed"
## Description
envd up failed to set up
## Reproduction
build.env
[code]
envd up
[code]
docker rm envd-quick-start && envd up
[code]
## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-08-03 08:28] kemingy commented on #712
Can you try `envd destroy && envd up` in `/envd-quick-start` directory?

[2022-08-03 08:42] VoVAllen commented on #712
Hi, what's your envd version? (by `envd version`)

[2022-08-03 08:44] VoVAllen commented on #710
Do you mean environment at runtime(docker run) or build time(docker build)?

[2022-08-03 08:45] ggaaooppeenngg commented on #712
[code]

[2022-08-03 08:48] VoVAllen commented on #712
Could you try update envd by `pip install --upgrade --pre envd`? and run those command again?

[2022-08-03 08:50] ggaaooppeenngg commented on #712
Upgrading envd fixes it!

[2022-08-03 08:51] sea-wyq opened #715 "bug: <Two run functions conflict>"
## Description
Two run functions were written when writing build.envd, but only the last run function was executed.Can only one run function be written?
## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-08-03 09:02] #712 closed

[2022-08-03 10:46] VoVAllen commented on #709
Is this resolved after upgrade envd?

[2022-08-03 10:55] gaocegege commented on #715
You can write run(commands=["cmd1", "cmd2"]) currently, I will test if multiple run statements work.

[2022-08-03 10:55] gaocegege commented on #709
I think so.

[2022-08-03 10:57] gaocegege commented on #710
SGTM, I think it is needed.

[2022-08-03 10:58] gaocegege commented on #710
I think we can provide what dockerfile supports.

[2022-08-03 11:02] gaocegege commented on #711
Thanks for the issue, we will take a look.

[2022-08-03 12:25] #700 closed

[2022-08-03 12:25] #715 closed

[2022-08-04 02:18] gaocegege commented on #667
It is hard to cache the conda with the remote cache. Because we will configure the conda channel first. It breaks the conda environment creation cache.

[2022-08-04 04:51] berlinsaint opened #722 "feat request: buildah support"
## Description
I think that  envd relies on docker 20.x is not very good thing.  can use tools like buildah to replace the docker daemon..
---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-08-04 05:04] gaocegege commented on #722
docker 20.x is not the perfect, while we are expecting docker 22.06-beta version because of https://github.com/docker/buildx/issues/1132#issuecomment-1146518194

And we are trying to support nerdctl. Ref #576  cc @junnplus

[2022-08-04 06:48] ggaaooppeenngg commented on #709
bootstrap succeeded with the latest version.

[2022-08-04 06:48] #709 closed

[2022-08-05 04:23] kemingy commented on #706
interactive shell:

* https://github.com/charmbracelet/gum

[2022-08-05 06:36] kemingy opened #725 "bug: `envd top` SIGSEGV"
## Description

`evnd top`

[code]

## Reproduction

## Additional Info

[code]

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-08-05 06:52] aseaday commented on #725
Sounds wired to me. I will fix it asap and add test.

[2022-08-05 06:52] VoVAllen commented on #532
https://github.com/tensorchord/envd-docs/pull/90

[2022-08-05 07:56] aseaday opened #727 "chore: e2e test backlog"
This is the backlog for e2e test. Please comment here for me when you submit a new promising feature so that we can know clearly the lack of e2e test and prepare a plan to complement them.

- [x] io.mount https://github.com/tensorchord/envd/pull/708 @aseaday
- [x] top command https://github.com/tensorchord/envd/issues/727 @aseaday
- [x] expose func https://github.com/tensorchord/envd/pull/780 @ase

[2022-08-05 07:56] aseaday commented on #727
@gaocegege @VoVAllen

[2022-08-05 07:58] aseaday commented on #725
It has been fixed in #726

[2022-08-05 08:11] gaocegege commented on #725
Never mind. Bugs are always here.

[2022-08-05 09:18] #725 closed

[2022-08-05 11:07] kemingy commented on #157
The serving environment has the same problem: it's hard for the data scientists to write a Dockerfile with the **best** practice and integrate it with the CI/CD pipeline.

Usually, it's offered by the AI infra team, but they may not be able to review all the changes.

Requirements:
* non-root
* CUDA runtime & version (may need to run `ldconfig`)
* required Python packages (installed from pip or co

[2022-08-07 02:30] gaocegege commented on #11
I will work on this.

[2022-08-08 01:45] kemingy commented on #711
What does "then delete the mirror test" mean?

I cannot reproduce this by the following commands:

[code]

[2022-08-08 01:54] sea-wyq commented on #711
destroy is not executed

[2022-08-08 01:56] kemingy commented on #711
Then there should be a warning:

[code]

You should not be able to delete the image since it's been used.

[2022-08-08 05:08] kemingy opened #737 "bug: `envd top` show blank page when using the light theme in wezterm"
## Description

* VSCode terminal (GitHub theme)
![image](https://user-images.githubusercontent.com/12974685/183343292-6763a4d1-d2e4-462a-87da-e934162ae827.png)

* Wezterm (`primary` theme, also tried other light themes)
![image](https://user-images.githubusercontent.com/12974685/183343413-d69470db-ae52-45a2-9382-c15d713cb29f.png)

## Reproduction

## Additional Info
envd: v0.2.0-alpha.13+3c46efc

[2022-08-08 09:05] #11 closed

[2022-08-08 09:08] gaocegege commented on #667
I will work on this.

[2022-08-08 11:35] Xiaoaier-Z-L opened #740 "bug: failed get jupyter endpoint after destroy envd and retry to up"
## Description
When I do as the get started, I successfully get the jupyter endpoint, but when i destroy it, and retry to up, i can not get endpoints

## Reproduce

- modify build.envd
- envd up --detach
- envd env list
- envd destroy
- envd up --detach
- envd env list

##
<img width="1007" alt="image" src="https://user-images.githubusercontent.com/96805673/183408539-ab137c72-adc1-4c0c-8276-d62993

[2022-08-08 11:40] gaocegege commented on #740
Thanks for the issue!

[2022-08-08 11:40] gaocegege commented on #740
/cc @aseaday

[2022-08-08 12:13] aseaday commented on #740
/assign @aseaday

[2022-08-08 12:21] gaocegege commented on #737
/cc @aseaday

[2022-08-08 15:50] aseaday opened #742 "chore: refactor of `up`, `build` commands"
## Description

There is a mixture and replicate code in the `up` and `build` command which has been a concern to develop new features.

## Goal
- The command func `up` and `build` should be less than 30 lines
- clear work flow of check, interpret, compile, run and post-actions
- unify some terms such as tag

[2022-08-08 15:53] #740 closed

[2022-08-09 01:00] kemingy commented on #742
* duplicate with #574 ?

[2022-08-09 01:36] gaocegege commented on #742
I think we should close this one.

[2022-08-09 01:38] aseaday commented on #742
yeah close this, I am working on refactor now

[2022-08-09 01:40] gaocegege commented on #666
I will try to fix this.

/assign @gaocegege

[2022-08-09 01:40] #742 closed

[2022-08-09 01:40] gaocegege commented on #574
/assign @aseaday

[2022-08-09 02:55] zwpaper commented on #669
why not do our jobs based on the https://github.com/prometheus/node_exporter?

[2022-08-09 03:05] aseaday commented on #669
Good question. I am thinking a lot about observability during work on top command. We could divided the metrics tools into there types:
- frontend: grafana and top
- intermiddiate layer: promotheus or some simple memory storage
- backend: collectors like exporter
Expoter is a good mechinism in promotheus environment. Buf for envd users, a hard problem is that:
- How much effort it cost to run and

[2022-08-09 03:27] zwpaper commented on #669
@aseaday thanks so much for the quick reply! I totally get your point for writing a brand new `top` for envd.

but Prometheus stack also has some attractive advantages, like:

1. metrics history
2. UI would be much more user-friendly
3. extendability with many exporters already existed

the main concern is that it may cost too many resources and the learning curve, but

we have a proposal for k8s

[2022-08-09 03:34] #668 closed

[2022-08-09 03:58] aseaday commented on #669
@zwpaper @gaocegege
Before we introduce prom into our user flow. The cost and method of bootstrap prom should be considered. Should we start a prom docker daemon? And where the prom should be running. We know our users may don't develop apps on server and close their compute/laptop off work. It is also something prom may be not designed for.
As for exporter, I support exporter as a metrics collect

[2022-08-09 05:04] zwpaper commented on #669
actually, it we do not care about the HA part, which a dev env should be ok without HA, a prom could be easily run with one command. the resources cost would sometimes be a problem, but if we consider the use case, that users run there envs in cloud or shared a bear metal, the cost may become not that heavy.

as for exporter part, exporter is designed to be low cost, it should be ok to run one in

[2022-08-09 05:06] zwpaper commented on #669
@gaocegege totally agree, this is why I said that built one based on node exporter.

[2022-08-09 05:08] zwpaper commented on #669
BTW, @aseaday althought I focused on the prom part, `top` is great! and it should wlways be one of the tools we present to users.

just thinking about can we do something more.

[2022-08-09 05:10] aseaday commented on #669
the current framework is open to use prom. But we could add prom daemon in bootstrap first.

[2022-08-09 06:50] zwpaper commented on #669
I can handle the prom related, but we must stay on the same page before starting.
I will open a proposal later to describe and discuss how we do prom

[2022-08-09 06:57] gaocegege commented on #669
@zwpaper Maybe we can discuss it further in discord to make sure that we are on the same page.

[2022-08-09 06:58] kemingy commented on #669
I would recommend https://github.com/VictoriaMetrics/VictoriaMetrics as a way to store the metrics.

But I'm still not very sure if all the metrics we need can be stored in a way like Prometheus.

[2022-08-09 07:03] gaocegege commented on #669
I think it should be push-based in envd. I do not know if prom push-gateway is mature now.

[2022-08-09 07:04] gaocegege commented on #669
@zwpaper Would you mind joining our discord and discuss it in #envd-dev?

[2022-08-09 07:05] gaocegege commented on #669
https://discord.com/invite/KqswhpVgdU

[2022-08-09 07:21] gaocegege commented on #669
It works if the "sidecar" container shares the same PID namespace with the envd containers. Then we can get the process info in it.

[2022-08-09 07:35] kemingy commented on #669
* Also related to #13

[2022-08-09 09:02] zwpaper commented on #669
Wow! @kemingy thanks so much for bringing [VictoriaMetrics/VictoriaMetrics](https://github.com/VictoriaMetrics/VictoriaMetrics), it really seems to be a great project and a good replacement for prom!

[2022-08-09 10:21] aseaday commented on #669
[![](https://mermaid.ink/img/pako:eNqFkM9qwzAMxl_F6LRB8wI5DLKkjB4Ko9st6UHEamOwJePIg9L23ed0HWMwmE5C-n6f_pxhFEtQwzFhnMx7N7Ap0fStsKJjSmaXWV0g04r3NKqkvamqpwuxjeJYTfO6uZj24UXMPEmMjo-PXybP_YarH5_ffCGIP6wJpMmNs7FIQfhO_t27YV3fMPqTlvr-X_G63xH62_ZbYbfMhhUESgGdLUefF4cBdKJAA9QltXTA7HWAga9FmqNFpbVdUKgP6GdaAWaVtxOPUGvK9C3qHJYfhrvq-gmwxXRL)](https://mermaid.live/edit#pako:eNqFkM9qwzAMxl_F6LRB8wI5DLKkjB4Ko9st6UHE

[2022-08-10 02:43] kemingy opened #750 "bug: custom image also expose 2222/tcp port"
## Description

Custom images should not automatically expose port unless the user defines it explicitly.

## Reproduction

[code]

[code]

## Additional Info

envd: v0.2.0-alpha.13+b492e83.dirty
  BuildDate: 2022-08-09T05:26:25Z
  GitCommit: b492e838eb1a9bef6769806c2604d51fecfa2fff
  GitTreeState: dirty
  GitTag: v0.2.0-alpha.13
  GoVersion: go1.18.4
  Compiler: gc
  Platform: linux/amd64

---

*

[2022-08-10 02:46] gaocegege commented on #750
Thanks for the issue.

[2022-08-10 02:55] #532 closed

[2022-08-10 08:03] #659 closed

[2022-08-10 09:24] kemingy commented on #446
Is there a bug in https://github.com/tensorchord/envd/blob/53d8e13fc3cf39cd8a1c38e80d411096dd99e234/pkg/builder/util.go#L321-L338

So no matter what you pass to `-f`, it will always use the default`build.envd`. (Unless you specify the target function)

BTW, the `-f` description is "Function to execute, format `file:func`". Should we use `filepath.Base()` to extract the last element?

[2022-08-10 10:13] gaocegege commented on #446
I think it is a bug.

[2022-08-11 08:36] #750 closed

[2022-08-11 10:31] Xiaoaier-Z-L opened #760 "bug: the jupyter password is invalid"
## Description
i config the jupyter password by "test123456", but i can not enter it by this password.
when i check the log by "docker logs $containerName", it return 401 err
![image](https://user-images.githubusercontent.com/96805673/184114489-4adaeca4-72b9-4b02-8e11-bda17fa2582e.png)

## Reproduction
my build.envd config file
![image](https://user-images.githubusercontent.com/96805673/184114959-

[2022-08-11 12:35] #760 closed

[2022-08-12 00:59] gaocegege commented on #667
#749

Now the cache should work for all python versions.

[2022-08-12 00:59] gaocegege commented on #667
TODO:

Support other langs.

[2022-08-12 01:02] gaocegege commented on #666
We should not make envd to root user group by default.

[2022-08-12 01:23] gaocegege commented on #666
https://github.com/moby/moby/issues/7198

I was thinking if we can mount the root-owned volume to the container, as the envd (UID 1000) owned volume. But it does not work. The mounted volume cannot update the UID/GID.

https://github.com/moby/moby/issues/7198

[2022-08-12 02:06] gaocegege commented on #481
@allcontributors Please add @Xiaoaier-Z-L for the doc contribution!

[2022-08-12 02:28] #574 closed

[2022-08-12 06:38] kemingy commented on #488
* fixed in #497

[2022-08-12 06:38] #488 closed

[2022-08-12 06:40] kemingy commented on #329
* conda env.yaml is supported in #674, should we close this issue?

[2022-08-12 06:47] kemingy commented on #178
* Is it related to #9 ?

[2022-08-12 06:49] kemingy commented on #5
* is it supported in #708 ?

[2022-08-12 07:18] #329 closed

[2022-08-12 07:20] gaocegege commented on #111
I think we can close the issue.

[2022-08-12 07:20] #111 closed

[2022-08-12 07:20] #148 closed

[2022-08-12 07:21] #358 closed

[2022-08-12 08:20] gaocegege commented on #178
Yep, I think so, we can close this one.

[2022-08-12 08:20] #178 closed

[2022-08-12 08:20] #5 closed

[2022-08-12 08:21] gaocegege commented on #5
Yep, I think so.

[2022-08-12 08:55] #737 closed

[2022-08-12 13:05] #446 closed

[2022-08-15 08:34] Xiaoaier-Z-L opened #776 "could we have any plan to support jupyter lab?"
## Description
I think jupyter lab is more better than jupyter notebook, we can manage local files by it, and i feel it more like local machine.
---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-08-15 08:38] kemingy commented on #776
* This can be done by #769

[2022-08-15 12:32] #649 closed

[2022-08-16 08:50] aseaday opened #778 "feat: expose support according to proposal"
## Description
https://github.com/tensorchord/envd/pull/568

[2022-08-16 14:25] aseaday opened #782 "feat: show expose service with port and name in envs subcommand"
## Description

The expose services can be displayed via envd commands for users to know them.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-08-16 14:29] aseaday commented on #782
envd envs describe --env envd-quick-start

[code]

[2022-08-16 14:42] gaocegege commented on #782
Looks promising.

[2022-08-17 00:52] #670 closed

[2022-08-17 03:18] #778 closed

[2022-08-17 06:39] kemingy commented on #527
Since `envd` already supports `expose`, `daemon`, `mount`, I think it can be done in the following way:

[code]

Shall we close this issue? @gaocegege

[2022-08-17 06:40] kemingy commented on #350
* closed by https://github.com/tensorchord/envd/pull/779

[2022-08-17 06:40] #350 closed

[2022-08-17 06:41] aseaday commented on #527
All we need is code snipplet

[2022-08-17 08:23] gaocegege commented on #527
Ref #91

I think we can close it after the doc is updated, WDYT.

[2022-08-17 08:26] gaocegege commented on #527
In the future, I think we should have the mechanism to make these starlark funcs built-in in envd.

[2022-08-17 08:42] #647 closed

[2022-08-17 08:42] VoVAllen commented on #647
Closed in https://github.com/tensorchord/envd-docs/pull/99

[2022-08-17 10:04] aseaday opened #789 "feat: redistributed format of envd"
## Description
Since we support more and more keyword only works during runtime. The following problems arise:

Envd need the original build.env manifest to know what port and daemon should be exposed and run.

A good solution is to define a format of envd image which employ annotation of image manifest as its runtime graph. So the runner can get all information from the manifest to expose, exec d

[2022-08-17 10:09] gaocegege commented on #789
Ref #47 #91

[2022-08-17 11:09] #776 closed

[2022-08-17 12:24] VoVAllen commented on #789
I think this is a good idea. Can Kubernetes utilize those labels on the container also? Such as an operator will create services to expose the port based on the container's label info?

[2022-08-17 12:44] gaocegege commented on #527
I got this error

[code]

[2022-08-17 16:28] zwpaper commented on #527
it is caused by `dest="./logs"`, docker doesn't allow relative mount path.

should we expand the relative path to an absolute one?

[2022-08-17 16:32] aseaday commented on #527
Maybe we could had a default cwd directory and allow users to override. WDYT?

[2022-08-17 16:33] aseaday commented on #789
Bingo! That is exactly what I want!

[2022-08-17 16:36] zwpaper commented on #527
of cause, just like docker can specify a building dir, it should be the cwd.

[2022-08-18 01:57] gaocegege commented on #527
The dest arg specifies the location inside the container, default cwd may not work for this.

I think we can define the working directory in envd, then expand the relative paths to absolute paths.

[2022-08-19 01:51] #527 closed

[2022-08-19 07:11] kemingy commented on #339
This should be done by https://github.com/tensorchord/envd-lsp

[2022-08-22 08:30] VoVAllen commented on #559
I'm actually thinking of rename `config.jupyter` to a new namespace, such as `packages.jupyter`, and try to use starlark implement it (like how we did in tensorboard and jupyter lab). Because `config.jupyter` contains both `install` and `expose` commands, which is not accurate under `config` namespace.

`packages` will contain lots of common-used softwares in the future and are open to user contri

[2022-08-22 08:46] gaocegege commented on #559
https://github.com/tensorchord/envd/issues/559

The idea itself LGTM but I am not sure about the package name. Maybe jupyter and tensorboard should be in the preset, and the package name can be `preset` or something else. Packages is too general for me.

[2022-08-22 08:47] #601 closed

[2022-08-22 08:58] aseaday commented on #559
IMHO it is very important keyword and design. Even I don't have specfic ideas about how to load a llb function which other contributers write for a third-party packages like juypter or some not so famous package. We envd team can also be viewed as a special `offical contributer`.
As for `packages` and `preset(s)`, I prefer `preset` but not as goog as a term could express the meaning which contains

[2022-08-22 09:10] #782 closed

[2022-08-22 09:13] aseaday commented on #782
@kemingy 圆梦大使感恩

[2022-08-22 09:14] kemingy opened #802 "bug: e2e up test will download numpy even it's not required in `e2e/testdata/up-test`"
## Description

* e2e up test will download `numpy` even it's not required in `e2e/testdata/up-test`
* because this test will use `https://pypi.tuna.tsinghua.edu.cn/` mirror, large package like `numpy` will take very long to download, and sometimes it will timeout, see https://github.com/tensorchord/envd/runs/7947345141?check_suite_focus=true#step:7:2452

## Reproduction

## Additional Info

---

[2022-08-22 09:16] kemingy commented on #559
1. The keyword `load` is already in `starlark`, I'm not sure if we want to override it.
2. I prefer to define some *internal* functions and load them before `config.envd`. BTW, maybe we can introduce a preload directory (maybe .config/envd/preload/), so all the `*.envd` files under this folder will be evaluated before the users' `build.envd` file. Users can use the environment variable `ENVD_PRELO

[2022-08-22 10:55] kemingy commented on #559
2. Plus, people can use use `git` to sync the files under `ENVD_PRELOAD_DIR` to make sure everybody in the team can share the same utilities.

[2022-08-22 13:30] aseaday commented on #802
Let me have a look

[2022-08-22 13:41] VoVAllen commented on #802
@aseaday Probably related to the clean up problem like https://github.com/tensorchord/envd/blob/main/e2e/up_test.go#L68-L71

[2022-08-23 03:01] zwpaper commented on #353
/assign

[2022-08-23 03:02] zwpaper commented on #353
/unassign

[2022-08-23 03:27] gaocegege commented on #557
dup with #559

[2022-08-23 03:27] gaocegege commented on #557
/close

[2022-08-23 03:27] gaocegege commented on #557
/reopen

[2022-08-23 03:27] gaocegege commented on #557
/close

[2022-08-23 03:27] #557 closed

[2022-08-23 03:28] gaocegege commented on #559
One possible scenario:

https://github.com/tensorchord/envd/issues/557

[2022-08-23 10:23] aseaday commented on #710
It seems to be closed now

[2022-08-23 10:23] #710 closed

[2022-08-24 00:23] #802 closed

[2022-08-24 08:47] gaocegege commented on #481
@all-contributors Please add @shaonianche for the design.

[2022-08-26 03:25] kemingy opened #809 "feat: support dotfiles or something equivalent"
## Description

Codespace/Gitpod supports dotfiles to init the dev environments.

![image](https://user-images.githubusercontent.com/12974685/186810952-04276ba2-cde1-44b5-9ad8-91c6d64c5e34.png)

* https://docs.github.com/en/codespaces/customizing-your-codespace/personalizing-github-codespaces-for-your-account#dotfiles

So far, `envd` can set up the shell prompt. But still lack some features. Maybe

[2022-08-26 04:02] gaocegege opened #810 "feat(lang): Support custom wheel"
## Description

Users have to do this to install custom wheel

[code]

We should support syntax like this:

[code]

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-08-26 04:12] gaocegege opened #811 "feat(build): Use build context instead of copy for conda-env.yml"
## Description

Now we have to play tricks with host during the build process. We should be able to support reading these host files from the build context.

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-08-26 06:17] VoVAllen commented on #34
Closed in #804

[2022-08-26 06:17] VoVAllen commented on #34
-

[2022-08-26 06:17] #34 closed

[2022-08-26 06:59] gaocegege opened #813 "bug(run): Failed to run ["cd xx", "ls"]"
## Description

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-08-26 07:10] aseaday commented on #810
Is wheel related specfic arch in some cases?

[2022-08-26 07:13] aseaday commented on #813
Is it for build or runtime?

[2022-08-26 07:14] gaocegege commented on #813
Build.

[2022-08-26 07:14] VoVAllen opened #814 "feat: Support openmmlab packages"
## Description

Support user to define a function such as `install_mmlab` using starlark

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-08-26 07:19] #559 closed

[2022-08-29 01:19] gaocegege commented on #47
We can first:

- Make ir.DefaultGraph private, use ir.func() in other packages instead of read DefaultGraph directly.

[2022-08-29 07:39] gaocegege commented on #811
We keep the implementation of conda env.yaml since the first line of the env.yaml is the environment name, we cannot support this since we use `envd` as the hard-coded default name.

We may need to modify the env.yaml first, then use it in the build context to create the env.

[2022-08-29 08:47] #813 closed

[2022-08-29 13:30] VoVAllen opened #825 "feat: Support getting cli args in envd up and build"
## Description

Dockerfile supports `ARG` keyword for different options when executing. envd can also provide similar compatibility.

Brainstorm:
[code]

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-08-29 13:32] VoVAllen opened #826 "feat(lang): Support download files from internet."
## Description

`download("https://...../data.zip", checksum="...")`

---

**Message from the maintainers**:

Love this enhancement proposal? Give it a 👍. We prioritise the proposals with the most 👍.

[2022-08-29 14:49] terrytangyuan commented on #810
This may require users to obtain the arch. We may need to consider exposing some environment info:
[code]

[2022-08-30 00:59] gaocegege commented on #810
This feature is issued by a user, he expect installing a custom wheel (linux-amd64) in the envd env.

[2022-08-30 08:50] VoVAllen opened #828 "bug: Cannot pip install from git repo"
## Description

Cannot install python packages from git repo due to permission issue. pip will download the file to `./src`, and by default the working directory is "/", thus "/src" meets permission denied error. Probably we want to use `/tmp` as the default working directory.

Reproduce:
[code]

Error:

[code]

[2022-08-30 08:56] kemingy commented on #828
Maybe can add `--src`.

https://pip.pypa.io/en/stable/cli/pip_install/#cmdoption-src

[2022-08-30 09:15] #828 closed

[2022-08-30 10:36] kemingy opened #830 "bug: conda env file channel is not used by envd"
## Description

[code]

[code]

The channel info in the environment.yaml file will be ignored.

## Reproduction

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-08-31 07:34] #698 closed

[2022-08-31 07:38] VoVAllen opened #833 "bug: `pip install -e .` doesn't work"
## Description

When user execute `pip install -e .` they expect the current working directory is the mounted one. However currently the working directory of `run` and `python_packages` doesn't use mounted directory as working directory

## Possible fix?
Use mounted directory as working directory for all commands

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We priori

[2022-08-31 08:21] gaocegege commented on #833
I do not get it. Can you share a example `build.envd`?

[2022-08-31 08:29] VoVAllen commented on #833
Let's say user execute `install.python_packages(["-e ."])`, which install current directory as the package. It will fail, because `.` directory is not current directory

[2022-08-31 08:57] gaocegege commented on #833
The usage is not expected by envd, I think. We need a new argument to support this.

[2022-08-31 09:58] VoVAllen commented on #833
But this grammar is included in other format, such as
[code]
or
in requirement.txt
[code]

[2022-08-31 10:01] gaocegege commented on #833
OK, then LGTM. The issue should be easy to fix.

We mount the build context for requirement, but not for the pip install LLB statement. We just need to mount too for the pip install LLB statement.

[2022-09-01 01:45] gaocegege opened #836 "bug(CLI): The build is skipped although requirements.txt is updated."
## Description

## Reproduction

- envd up
- edit requirements.txt
- rerun it

Expected to build the env again, but it skips.

## Additional Info

---

**Message from the maintainers**:

Impacted by this bug? Give it a 👍. We prioritise the issues with the most 👍.

[2022-09-01 01:45] gaocegege commented on #836
/cc @aseaday

[2022-09-01 01:47] aseaday commented on #836
I will fix it asap.

[2022-09-01 01:49] gaocegege commented on #836
The bug comes from our new logic about requirements.txt. We do not parse it and update DefaultGraph anymore. We mount the build context dir into the run statement, then use the original requirements.txt to install packages.

Maybe we need to determine if the requirements.txt is update, maybe we can use the file metadata.

[2022-09-01 08:29] #810 closed

[2022-09-01 11:26] kemingy commented on #158
Can we close this one?

[2022-09-01 11:28] kemingy commented on #101
Is it done though sshd?

[2022-09-02 02:04] #814 closed

[2022-09-02 02:05] gaocegege commented on #101
This issue is to support a new command `envd ssh` to attach into the env.

[2022-09-02 02:05] #158 closed

[2022-09-02 02:07] kemingy commented on #101
What's the main difference between `ssh <envd-container>` and `envd ssh <envd-container>`? Any feature we should support through this new command?

[2022-09-02 02:13] gaocegege commented on #101
envd ssh or envd attach does not require the target if it is run in the build context dir.

[2022-09-02 08:10] kemingy commented on #38
Can we close this one? Now all the commands will be put into a string buffer to execute.

[2022-09-02 08:14] kemingy commented on #339
It will be better if the vscode plugin can also modify the envd file icon.